= form_for(@all_kid) do |f|
  - if @all_kid.errors.any?
    #error_explanation
      %h2
        = pluralize(@all_kid.errors.count, "error")
        prohibited this all_kid from being saved:
      %ul
        - @all_kid.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :kids_household_size
    %br/
    = f.number_field :kids_household_size
  .field
    = f.label :assist_gross_income
    %br/
    = f.text_field :assist_gross_income
  .field
    = f.label :share_gross_income
    %br/
    = f.text_field :share_gross_income
  .field
    = f.label :premium_1_gross_income
    %br/
    = f.text_field :premium_1_gross_income
  .field
    = f.label :premium_2_gross_income
    %br/
    = f.text_field :premium_2_gross_income
  .actions
    = f.submit
