<div class="container">
<%= render "layouts/print_button" %>

<% if @eligible %>
 <div class="row">
   <div class="col-md-7">
      <h1>Results: You may be in luck!</h1>
      <% if @assist_eligible %>
        <p>Based on your household size and income, you likely qualify for All Kids Assist.</p>
      <% elsif @share_eligible %>
        <p>Based on your household size and income, you likely qualify for All Kids Share.</p>
      <% elsif @premium1_eligible %>
        <p>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</p>
      <% elsif @premium2_eligible %>
        <p>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</p>
      <% end %>

      <div class="resources">
        <h3>Apply for benefits</h3>
        <p>To complete your application online, <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'all_kids', 'abe', 1);" %>
        </p>
      </div >

    </div>
  </div>

  <% else %>

  <div class="row">
    <div class="col-md-7">
        <h1>Results: Something else in mind!</h1>

            <p>Based on your household size and income, you likely qualify for All Kids. If you and your family don't have health coverage in 2014, you may have to pay a fee - and all of your health care.
            </p>

            <div class="resources">
              <h3>Resources</h3>

              <p>To learn more about fees from Get Covered,
              <%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'all_kids', 'abe', 1);" %>

              <p> To find Get Covered Illinois events in your area,
              <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'all_kids', 'abe', 1);" %>
              </p>

              <p> Get Covered Illinois is a resource that helps families register for insurance at in-person events.  You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.</p>
            </div>

        <%= render "layouts/purple_binder_resources" %>

      </div>
    </div>
  <% end %>
</div>


