.container
  - if @eligible
    .page-header
      / <h1>Do I qualify for All Kids?</h1>
      / <p class="subhead">The All Kids program offers many Illinois children comprehensive healthcare that includes doctors visits, hospital stays, prescription drugs, vision care, dental care and medical devices like eyeglasses and asthma inhalers.</p>
    .row{:style => "text-align:center;"}
      .col-md-8.col-md-offset-2
        %i.fa.fa-check-circle.fa-5x
        %h1 You may be in luck!
        - if @assist_eligible
          %h4 Based on your household size and income, you likely qualify for All Kids Assist.
        - elsif @share_eligible
          %h4 Based on your household size and income, you likely qualify for All Kids Share.
        - elsif @premium1_eligible
          %h4 Based on your household size and income, you likely qualify for All Kids Premium Level 1.
        - elsif @premium2_eligible
          %h4 Based on your household size and income, you likely qualify for All Kids Premium Level 2.
        %br/
        %p.subhead To complete your application online
        = link_to "Click Here", "https://abe.illinois.gov/abe/access/accessController?id=0.9912272225853554", :class => "btn btn-success btn-resolution"
  - else
    /
      <div class="page-header">
      <h1>Do I qualify for All Kids?</h1>
      <p class="page lead">The All Kids program offers many Illinois children comprehensive healthcare that includes doctors visits, hospital stays, prescription drugs, vision care, dental care and medical devices like eyeglasses and asthma inhalers.</p>
      </div>
    /
      <div class="panel panel-default" style="margin: 0 0 40px 0">
      <div class="panel-body">
    %br/
    %br/
    .row{:style => "text-align:center;"}
      .col-md-8.col-md-offset-2
        / <i class="fa fa-times-circle fa-5x"></i>
        %h1 Something else in mind!
        %h4
          So, it looks like you possibly don't qualify for
          = succeed "." do
            %a{:href => "/all_kids/new"} All Kids
          However, our friends at
          Purple Binder found some other resources that might help. If you and your family don't have health coverage in 2014, you may have to pay a fee - and all of your health care.
        %br/
        %br/
        .row
          .col-md-6.col-sm-6.col-xs-6
            %p.subhead
              To learn more about fees
              %br/
              from Get Covered
            = link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution"
          .col-md-6.col-sm-6.col-xs-6
            %p.subhead
              To find Get Covered
              = succeed "Illinois" do
                %br/
              events in your area
            = link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution"
        %br/
        %br/
        %br/
        %div
          %p
            Get Covered Illinois is a resource that helps families register for insurance at in-person events.
            %br>/
            You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.
        %br/
        .row
          %h4 Here are some additional resources from Purple Binder:
        %br/
        .row
          - if @medical_resources_zip.count >= 2
            .col-md-6.col-sm-6
              %ul.list-group{:style => "text-align:left;"}
                %li.list-group-item{:style => "font-weight:bold"}
                  = @medical_resources_zip.first.name
                %li.list-group-item
                  %i.fa.fa-map-marker
                  = @medical_resources_zip.first.street
                  = @medical_resources_zip.first.city
                  = @medical_resources_zip.first.state
                  , #{@medical_resources_zip.first.zip}
                %li.list-group-item
                  %i.fa.fa-phone
                  = @medical_resources_zip.first.phone
            .col-md-6.col-sm-6
              %ul.list-group{:style => "text-align:left;"}
                %li.list-group-item{:style => "font-weight:bold"}
                  = @medical_resources_zip.second.name
                %li.list-group-item
                  %i.fa.fa-map-marker
                  = @medical_resources_zip.second.street
                  = @medical_resources_zip.second.city
                  = @medical_resources_zip.second.state
                  , #{@medical_resources_zip.second.zip}
                %li.list-group-item
                  %i.fa.fa-phone
                  = @medical_resources_zip.second.phone
        .row
          - if @medical_resources_first.present?
            .col-md-6.col-sm-6
              %ul.list-group{:style => "text-align:left;"}
                %li.list-group-item{:style => "font-weight:bold"}
                  = @medical_resources_first.name
                %li.list-group-item
                  %i.fa.fa-map-marker
                  = @medical_resources_first.street
                  = @medical_resources_first.city
                  = @medical_resources_first.state
                  , #{@medical_resources_first.zip}
                %li.list-group-item
                  %i.fa.fa-phone
                  = @medical_resources_first.phone
            .col-md-6.col-sm-6
              %ul.list-group{:style => "text-align:left;"}
                %li.list-group-item{:style => "font-weight:bold"}
                  = @medical_resources_second.name
                %li.list-group-item
                  %i.fa.fa-map-marker
                  = @medical_resources_second.street
                  = @medical_resources_second.city
                  = @medical_resources_second.state
                  , #{@medical_resources_second.zip}
                %li.list-group-item
                  %i.fa.fa-phone
                  = @medical_resources_second.phone
        = image_tag("pblogo.jpg", :class => "logo-padding")
%br/
%br/
%br/
