%h1 Listing all_kids
%table
  %thead
    %tr
      %th Kids household size
      %th Assist gross income
      %th Share gross income
      %th Premium 1 gross income
      %th Premium 2 gross income
      %th{:colspan => "3"}
  %tbody
    - @all_kids.each do |all_kid|
      %tr
        %td= all_kid.kids_household_size
        %td= all_kid.assist_gross_income
        %td= all_kid.share_gross_income
        %td= all_kid.premium_1_gross_income
        %td= all_kid.premium_2_gross_income
        %td= link_to 'Show', all_kid
        %td= link_to 'Edit', edit_all_kid_path(all_kid)
        %td= link_to 'Destroy', all_kid, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New All kid', new_all_kid_path
