<div class="container marquee">

<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>All Kids</h1>
      <p>If your child is 18 or younger and lives in the state of Illinois,<br> you may qualify for All Kids health insurance.</p>
    </div>
  </div>
</section>


<section class="content-section">
<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">
  <form action="/all_kids" class="form-horizontal" method="post">

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label class="allthatapply">Please answer the following questions (check all that apply):</label>
         <label class="allthatapply">Has your child:</label>
        <div class="radio-button">
          <input type="checkbox" name="status" value="uninsured">  been uninsured for 12 months<br>
          <input type="checkbox" name="status" value="job_ended"> lost insurance because a JOB ended<br>
          <input type="checkbox" name="status" value="cobra"> lost insurance because the insurance was COBRA<br>
          <input type="checkbox" name="status" value="none"> none of the above<br>
        </div>
      </div>
    </div>


  <!-- Form for household size-->
  <div class="row">
    <div class="col-md-9 col-sm-10 col-xs-12">
      <label for="kids_household_size">How many children are living in your household?</label>
        <input type="text" id="kids_household_size" name="kids_household_size" placeholder="For example: 3" class="form-field" value="<%= @current_user.try(:household_size) %>" required>
    </div>
  </div>

  <div class="row">
    <div class="col-md-9 col-sm-10 col-xs-12">
      <label for="pregnant" id="pregnant" >Are you pregnant? </label>
      <div class="radio-button">
        <% [ 'yes', 'no'].each do |pregnant| %>
          <%= radio_button_tag 'pregnant', pregnant, @d.pregnant == pregnant %>
          <%= pregnant.humanize %>
          <br>
        <% end %>
      </div>
    </div>
  </div>


  <!-- Form for gross monthly income -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="kids_gross_income">What is your gross monthly income?</label>
        <%= render "programs/popover_calculator" %>
          <p type="button" data-toggle="popover" data-content="Total monthly income from all sources." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
           <input type="text" id="kids_gross_income" name="kids_gross_income" placeholder="For example: 1000" class="form-field" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %>" required>
          </p>
      </div>
    </div>

  <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

  <!-- Form for location question -->
    <%= render "programs/location_question" %>

  <!-- Form for cellphone question -->
    <%= render "programs/cellphone_question" %>

  <!-- Submit button -->
    <%= render "programs/submit_button" %>

  </form>
  </div>

    <div class="col-md-3 sm-3 xs-12 pull-left">
      <div class="calculator_box">
        <%= render "programs/calculator" %>
      </div>
    </div>

  </div>
  </section>
</div>

