
<% if @laf_disclaimer.present?  %>
  <p><%= @laf_disclaimer %></p>
<% else %>
  <p>The LAF expert nearest you:</p>
<% end %>

<ul>
  <li class="laf-headline"><%= @lafcenter.center %></li>
  <li><%=  @lafcenter.address %> <%= @lafcenter.city %> <%= @lafcenter.zipcode.to_i %></li>
  <li><%= @lafcenter.telephone %></li>
  <li>Days that Spanish is spoken - <%= @lafcenter.spanish %></li>
</ul>
