
<div class="container" style="padding-bottom:150px">
<div class="page-header">
<%= render "layouts/print_button" %>
  <h1>Do I qualify for All City Programs within mRelief?</h1>
  <p class="subhead">Programs include Food Stamps, RTA Ride Free, All Kids, Medicare Cost Sharing, Rental Assistance, Medicaid, Aged, Blind and Disabled (AABD), Cash Assistance and Temporary Assistance for Needy Families </p>
</div>

<%#= render "layouts/print_button" %>

<% if @eligible_count > 0 %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>You may qualify ( <%= pluralize(@eligible_count, 'program') %>)</h2>


      <p class="subhead" style="text-align:left;">Below are the programs you may qualify for:</p>
  </div>

    <ul class="list-group">
    <!-- Food Stamps -->
      <% if @eligible_snap == 'yes' %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>
        <% if @age <= 22 %>
          <h5>However, make sure you accounted for your parents income, if you are still living in the same household</h5>
        <% end %>
        <% if @laf_disclaimer.present?  %>
           <h5><%= @laf_disclaimer %></h5>
        <% else %>
          <h5> Based on your zipcode, here is the nearest Community Service Center to access your Food Stamps: </h5>
        <% end %>
        <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>

        <%= link_to "Click Here to apply online before you visit", "https://abe.illinois.gov/abe/access/", :class => "btn btn-success btn-resolution", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'food_stamps_all_city_program', 'abe', 1);" %>
        </li>
        <% end %>

        <% if @eligible_rta == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">RTA Free</h3>
          <%= link_to "Click Here to apply online", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx", :class => "btn btn-success btn-resolution", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'rta_ride_free_all_city_program', 'il_dept_aging', 1);" %>
        </li>
        <% end %>

        <% if @eligible_all_kids == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">All Kids</h3>
           <%= link_to "Click Here to complete your application online", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "btn btn-success btn-resolution", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'all_kids_all_city_program', 'abe', 1);" %>

           <% if @assist_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Assist.</p>
           <% elsif @share_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Share.</p>
           <% elsif @premium1_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</p>
           <% elsif @premium2_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</p>
           <% end %>
        </li>
        <% end %>

        <% if @eligible_medicaid == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">Medicaid</h3>
          <p>Important Note:  At the current moment, this form does not include Medicaid's offerings for people with disabilities. However, we are working to make this form more inclusive. </p>

          <%= link_to "Click Here for more information", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "btn btn-success btn-resolution", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid_all_city_program', 'abe', 1);" %>

        </li>
        <% end %>
        <% if @eligible_medicare_cost_sharing == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">Medicare Cost Sharing </h3>
            <p>Important Note:  If you previously opted out of Medicare part B, the Medicare cost sharing program, you may be able to get your Medicare premium paid now. Please contact or visit your LAF paralegal to re-enroll for Medicare Part B. You can see the nearest Community Service Center near you.</p>
            <div class="sectiondivider"></div>
            <% if @laf_disclaimer.present?  %>
                <h5><%= @laf_disclaimer %></h5>
            <% else %>
              <h5>The LAF expert nearest you:</h5>
            <% end %>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
          </li>
        <% end %>

        <% if @rental_eligible == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">Rental Assistance</h3>

             <% if @medical_circumstance == "yes" %>
              <p>You must be able to obtain documents from your employer showing that you took time off as well as from the hospital or attending physician.</p>
             <% elsif @natural_disaster == "yes" %>
              <p>You must be able to prove this by obtaining documents from a fire marshall (standard fire department reports). For floods, please provide a letter from your landlord and photographs.
             </p>
            <% elsif @temporary_loss == "yes"%>
              <p>You must provide last 90 days of pay stubs and a letter from employer stating (layoff, termination, etc) and the return date to work. You can also provide unemployment assistance documentation.</p>
            <% elsif @domestic_violence == "yes"%>
              <p>You must be able to prove this by providing a report from the police department or a document showing an order of protection/restraining order.</p>
            <% end %>
            <p>The final decision will be made one-on-one by the case manager.</p>
            <div class="sectiondivider"></div>
            <% if @laf_disclaimer.present?  %>
                <h5><%= @laf_disclaimer %></h5>
            <% else %>
              <h5>Based on your zipcode, here is the nearest Community Service Center:</h5>
            <% end %>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
            <p>or call 3-1-1.</p>
          </li>
        <% end %>

        <% if @aabd_eligible == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">AABD Cash Assistance</h3>
            <% if @laf_disclaimer.present?  %>
               <h5><%= @laf_disclaimer %></h5>
            <% else %>
              <h5> Based on your zipcode, here is the nearest Community Service Center to access your AABD Cash Assistance: </h5>
            <% end %>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
            </li>
        <% end %>
        <% if @eligible_tanif == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">TANF Cash Assistance</h3>
            <%= link_to "to find your local Family Community Resource Center ", "https://www.dhs.state.il.us/page.aspx?module=12", :class => "btn btn-success btn-resolution", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'tanf_all_city_program', 'dhs_office_locator', 1);" %>

            <p>or contact the DHS Help Line at 1 800 843-6154 (voice) or 1 800 447-6404 (TTY).</p>
          </li>
        <% end %>
    </ul>
  </div>
  <% end %>

<% if @indeterminate_count > 0  %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Something else in mind!( <%= pluralize(@indeterminate_count, 'program') %>)</h2>
      <p class="subhead" style="text-align:left;">Based on the information received, we cannot determine your eligibility at this time.</p>
  </div>

    <ul class="list-group">
    <!-- Food Stamps -->
      <% if @eligible_snap == "maybe" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>
       <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </p>

        <div class="sectiondivider"></div>
        <% if @laf_disclaimer.present?  %>
            <h5><%= @laf_disclaimer %></h5>
        <% else %>
          <h4>The LAF expert nearest you:</h4>
        <% end %>
        <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>

      </li>
      <% end %>

      <% if @eligible_medicaid == "maybe" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Medicaid</h3>
        <p>You may need to discuss your situation with a Medicaid expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your Medicaid eligibility with you.</p>

         <div class="sectiondivider"></div>
        <% if @laf_disclaimer.present?  %>
            <h5><%= @laf_disclaimer %></h5>
        <% else %>
          <h4>The LAF expert nearest you:</h4>
        <% end %>
        <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>

      </li>
      <% end %>

      <% if @rental_eligible == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader"> Rental Assistance</h3>
         <p>According to the income guidelines of Rental Assistance, you make too much money to apply. However, in some cases the city may make an exception. Applications can be filed at any of the City’s six Community Service Centers. </p>
          <div class="sectiondivider"></div>
          <% if @laf_disclaimer.present?  %>
              <h5><%= @laf_disclaimer %></h5>
          <% else %>
            <h5>Based on your zipcode, here is the nearest Community Service Center:</h5>
          <% end %>
         <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
        </li>
      <% end %>

      <% if @aabd_eligible == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader">AABD Cash Assistance</h3>
         <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Aged, Blind and Disabled (AABD) Cash Asistanceexpert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your eligibility with you.</p>
          <div class="sectiondivider"></div>
          <% if @laf_disclaimer.present?  %>
              <h5><%= @laf_disclaimer %></h5>
          <% else %>
            <h4>The LAF expert nearest you:</h4>
          <% end %>
          <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
        </li>
      <% end %>
      <% if @eligible_tanif == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader">TANF Cash Assistance</h3>
         <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a TANF expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your TANF eligibility with you.</p>
          <div class="sectiondivider"></div>
          <% if @laf_disclaimer.present?  %>
              <h5><%= @laf_disclaimer %></h5>
          <% else %>
            <h4>The LAF expert nearest you:</h4>
          <% end %>
          <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>

<% if @ineligible_count > 0 %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Do not likely qualify ( <%= pluralize(@ineligible_count, 'program') %> )</h2>
      <p class="subhead" style="text-align:left;">Below are the programs you may not qualify for:</p>
  </div>

    <ul class="list-group">
    <!-- Food Stamps -->
    <% if @eligible_snap == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>

        <p>Direct2Food is an online resource that will help you locate the food pantries, soup kitchens, and meal programs closest to you. </p>
        <%= link_to "Click Here to find resources near you", "http://www.direct2food.org/", :class => "btn btn-success btn-resolution", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'food_stamps_all_city_program', 'direct2food', 1);" %>
        <div class="sectiondivider"></div>

        <h4>Some additional resources from Purple Binder:</h4>

        <% if @food_resources_zip.count >= 2 %>
        <p><%= @food_resources_zip.first.name %> | <%= @food_resources_zip.first.street %>  <%= @food_resources_zip.first.city %> <%= @food_resources_zip.first.state %>, <%= @food_resources_zip.first.zip %> | <%= @food_resources_zip.first.phone %> </p>

        <p><%= @food_resources_zip.second.name %> | <%= @food_resources_zip.second.street %>  <%= @food_resources_zip.second.city %> <%= @food_resources_zip.second.state %>, <%= @food_resources_zip.second.zip %> | <%= @food_resources_zip.second.phone %> </p>
        <% end %>

        <% if @food_resources_first.present? %>
        <p><%= @food_resources_first.name %> | <%= @food_resources_first.street %>  <%= @food_resources_first.city %> <%= @food_resources_first.state %>, <%= @food_resources_first.zip %> | <%= @food_resources_first.phone %> </p>

        <p><%= @food_resources_second.name %> | <%= @food_resources_second.street %>  <%= @food_resources_second.city %> <%= @food_resources_second.state %>, <%= @food_resources_second.zip %> | <%= @food_resources_second.phone %> </p>

        <% end %>
      </li>
      <% end %>

      <% if @eligible_rta == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">RTA Ride Free</h3>
        <p> Call 312-913-3110 for information about the Reduced Fare Program.
           </p>
      <div class="sectiondivider"></div>

      <h4>Some additional resources from Purple Binder:</h4>

      <% if @transportation_resources_zip.count >= 2 %>
      <p><%= @transportation_resources_zip.first.name %> | <%= @transportation_resources_zip.first.street %>  <%= @transportation_resources_zip.first.city %> <%= @transportation_resources_zip.first.state %>, <%= @transportation_resources_zip.first.zip %> | <%= @transportation_resources_zip.first.phone %> </p>

      <p><%= @transportation_resources_zip.second.name %> | <%= @transportation_resources_zip.second.street %>  <%= @transportation_resources_zip.second.city %> <%= @transportation_resources_zip.second.state %>, <%= @transportation_resources_zip.second.zip %> | <%= @transportation_resources_zip.second.phone %> </p>
      <% end %>

      <% if @transportation_resources_first.present? %>
      <p><%= @transportation_resources_first.name %> | <%= @transportation_resources_first.street %>  <%= @transportation_resources_first.city %> <%= @transportation_resources_first.state %>, <%= @transportation_resources_first.zip %> | <%= @transportation_resources_first.phone %> </p>

      <p><%= @transportation_resources_second.name %> | <%= @transportation_resources_second.street %>  <%= @transportation_resources_second.city %> <%= @transportation_resources_second.state %>, <%= @transportation_resources_second.zip %> | <%= @transportation_resources_second.phone %> </p>

      <% end %>
      </li>
      <% end %>

      <% if @eligible_all_kids == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">All Kids</h3>
        <p>If you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>
        <%= link_to "Click Here to learn more about fees", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'all_kids_all_city_program', 'health_care_fees', 1);" %>

        <%= link_to "Click Here to find Get Covered Illinois events in your area", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'all_kids_all_city_program', 'get_covered_illinois', 1);" %>

        <p>You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.</p>
        <div class="sectiondivider"></div>

        <h4>Some additional resources from Purple Binder:</h4>

        <% if @medical_resources_zip.count >= 2 %>
        <p><%= @medical_resources_zip.first.name %> | <%= @medical_resources_zip.first.street %>  <%= @medical_resources_zip.first.city %> <%= @medical_resources_zip.first.state %>, <%= @medical_resources_zip.first.zip %> | <%= @medical_resources_zip.first.phone %> </p>

        <p><%= @medical_resources_zip.second.name %> | <%= @medical_resources_zip.second.street %>  <%= @medical_resources_zip.second.city %> <%= @medical_resources_zip.second.state %>, <%= @medical_resources_zip.second.zip %> | <%= @medical_resources_zip.second.phone %> </p>
        <% end %>

        <% if @medical_resources_first.present? %>
        <p><%= @medical_resources_first.name %> | <%= @medical_resources_first.street %>  <%= @medical_resources_first.city %> <%= @medical_resources_first.state %>, <%= @medical_resources_first.zip %> | <%= @medical_resources_first.phone %> </p>

        <p><%= @medical_resources_second.name %> | <%= @medical_resources_second.street %>  <%= @medical_resources_second.city %> <%= @medical_resources_second.state %>, <%= @medical_resources_second.zip %> | <%= @medical_resources_second.phone %> </p>

        <% end %>
      </li>
      <% end %>

      <% if @eligible_medicaid == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Medicaid</h3>
        <p> If you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>

        <%= link_to "Click Here to learn more about fees", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid_all_city_program', 'health_care_fees', 1);" %>


        <p>Get Covered Illinois is a resource that helps families register for insurance at in-person events.</p>
        <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'all_kids_all_city_program', 'get_covered_illinois', 1);" %>
         to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.
        <div class="sectiondivider"></div>

        <h4>Some additional resources from Purple Binder:</h4>

        <% if @medical_resources_zip.count >= 2 %>
        <p><%= @medical_resources_zip.first.name %> | <%= @medical_resources_zip.first.street %>  <%= @medical_resources_zip.first.city %> <%= @medical_resources_zip.first.state %>, <%= @medical_resources_zip.first.zip %> | <%= @medical_resources_zip.first.phone %> </p>

        <p><%= @medical_resources_zip.second.name %> | <%= @medical_resources_zip.second.street %>  <%= @medical_resources_zip.second.city %> <%= @medical_resources_zip.second.state %>, <%= @medical_resources_zip.second.zip %> | <%= @medical_resources_zip.second.phone %> </p>
        <% end %>

        <% if @medical_resources_first.present? %>
        <p><%= @medical_resources_first.name %> | <%= @medical_resources_first.street %>  <%= @medical_resources_first.city %> <%= @medical_resources_first.state %>, <%= @medical_resources_first.zip %> | <%= @medical_resources_first.phone %> </p>

        <p><%= @medical_resources_second.name %> | <%= @medical_resources_second.street %>  <%= @medical_resources_second.city %> <%= @medical_resources_second.state %>, <%= @medical_resources_second.zip %> | <%= @medical_resources_second.phone %> </p>

        <% end %>
      </li>
      <% end %>
      <% if @eligible_medicare_cost_sharing == "no" %>
        <li class="list-group-item">
        <h3 class="allcityheader">Medicare Cost Sharing</h3>
        <p> However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>
        <%= link_to "Click Here to learn more about fees", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'medicare_cost_sharing_all_city_program', 'health_care_fees', 1);"  %>

        <p>Get Covered Illinois is a resource that helps families register for insurance at in-person events.</p>
        <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicare_cost_sharing_all_city_program', 'get_covered_illinois', 1);" %>
        to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.

      <div class="sectiondivider"></div>

      <h4>Some additional resources from Purple Binder:</h4>

      <% if @medical_resources_zip.count >= 2 %>
      <p><%= @medical_resources_zip.first.name %> | <%= @medical_resources_zip.first.street %>  <%= @medical_resources_zip.first.city %> <%= @medical_resources_zip.first.state %>, <%= @medical_resources_zip.first.zip %> | <%= @medical_resources_zip.first.phone %> </p>

      <p><%= @medical_resources_zip.second.name %> | <%= @medical_resources_zip.second.street %>  <%= @medical_resources_zip.second.city %> <%= @medical_resources_zip.second.state %>, <%= @medical_resources_zip.second.zip %> | <%= @medical_resources_zip.second.phone %> </p>
      <% end %>

      <% if @medical_resources_first.present? %>
      <p><%= @medical_resources_first.name %> | <%= @medical_resources_first.street %>  <%= @medical_resources_first.city %> <%= @medical_resources_first.state %>, <%= @medical_resources_first.zip %> | <%= @medical_resources_first.phone %> </p>

      <p><%= @medical_resources_second.name %> | <%= @medical_resources_second.street %>  <%= @medical_resources_second.city %> <%= @medical_resources_second.state %>, <%= @medical_resources_second.zip %> | <%= @medical_resources_second.phone %> </p>

      <% end %>
      </li>
      <% end %>


      <% if @rental_eligible == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Rental Assistance</h3>
        <h4>Some additional resources from Purple Binder:</h4>

        <% if @housing_resources_zip.count >= 2 %>
        <p><%= @housing_resources_zip.first.name %> | <%= @housing_resources_zip.first.street %>  <%= @housing_resources_zip.first.city %> <%= @housing_resources_zip.first.state %>, <%= @housing_resources_zip.first.zip %> | <%= @housing_resources_zip.first.phone %> </p>

        <p><%= @housing_resources_zip.second.name %> | <%= @housing_resources_zip.second.street %>  <%= @housing_resources_zip.second.city %> <%= @housing_resources_zip.second.state %>, <%= @housing_resources_zip.second.zip %> | <%= @housing_resources_zip.second.phone %> </p>
        <% end %>

        <% if @housing_resources_first.present? %>
        <p><%= @housing_resources_first.name %> | <%= @housing_resources_first.street %>  <%= @housing_resources_first.city %> <%= @housing_resources_first.state %>, <%= @housing_resources_first.zip %> | <%= @housing_resources_first.phone %> </p>

        <p><%= @housing_resources_second.name %> | <%= @housing_resources_second.street %>  <%= @housing_resources_second.city %> <%= @housing_resources_second.state %>, <%= @housing_resources_second.zip %> | <%= @housing_resources_second.phone %> </p>
        <% end %>
      </li>
      <% end %>

      <% if @aabd_eligible == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">AABD Cash Assistance</h3>

          <h4>Some additional resources from Purple Binder:</h4>

          <% if @aabd_resources_zip.count >= 2 %>
          <p><%= @aabd_resources_zip.first.name %> | <%= @aabd_resources_zip.first.street %>  <%= @aabd_resources_zip.first.city %> <%= @aabd_resources_zip.first.state %>, <%= @aabd_resources_zip.first.zip %> | <%= @aabd_resources_zip.first.phone %> </p>

          <p><%= @aabd_resources_zip.second.name %> | <%= @aabd_resources_zip.second.street %>  <%= @aabd_resources_zip.second.city %> <%= @aabd_resources_zip.second.state %>, <%= @aabd_resources_zip.second.zip %> | <%= @aabd_resources_zip.second.phone %> </p>
          <% end %>

          <% if @aabd_resources_first.present? %>
          <p><%= @aabd_resources_first.name %> | <%= @aabd_resources_first.street %>  <%= @aabd_resources_first.city %> <%= @aabd_resources_first.state %>, <%= @aabd_resources_first.zip %> | <%= @aabd_resources_first.phone %> </p>

          <p><%= @aabd_resources_second.name %> | <%= @aabd_resources_second.street %>  <%= @aabd_resources_second.city %> <%= @aabd_resources_second.state %>, <%= @aabd_resources_second.zip %> | <%= @aabd_resources_second.phone %> </p>

          <% end %>
        </li>
        <% end %>
      <% if @eligible_tanif == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">TANF Cash Assistance</h3>

        <h4>Some additional resources from Purple Binder:</h4>

        <% if @child_resources_zip.count >= 2 %>
        <p><%= @child_resources_zip.first.name %> | <%= @child_resources_zip.first.street %>  <%= @child_resources_zip.first.city %> <%= @child_resources_zip.first.state %>, <%= @child_resources_zip.first.zip %> | <%= @child_resources_zip.first.phone %> </p>

        <p><%= @child_resources_zip.second.name %> | <%= @child_resources_zip.second.street %>  <%= @child_resources_zip.second.city %> <%= @child_resources_zip.second.state %>, <%= @child_resources_zip.second.zip %> | <%= @child_resources_zip.second.phone %> </p>
        <% end %>

        <% if @child_resources_first.present? %>
        <p><%= @child_resources_first.name %> | <%= @child_resources_first.street %>  <%= @child_resources_first.city %> <%= @child_resources_first.state %>, <%= @child_resources_first.zip %> | <%= @child_resources_first.phone %> </p>

        <p><%= @child_resources_second.name %> | <%= @child_resources_second.street %>  <%= @child_resources_second.city %> <%= @child_resources_second.state %>, <%= @child_resources_second.zip %> | <%= @child_resources_second.phone %> </p>

        <% end %>
      </li>
      <% end %>

    </ul>
  </div>

<% end %>


<%= render "layouts/print_center_button" %>
</div>

