<div class="container" style="padding-bottom:150px">
<div class="page-header">
  <h1>Do I qualify for All City Programs within mRelief?</h1>
  <p class="subhead">Programs include Food Stamps, RTA Ride Free, All Kids, Medicare Cost Sharing and Medicaid</p>
</div>


<% if @eligible_count > 0 %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>You may be in luck! ( <%= pluralize(@eligible_count, 'program') %>)</h2>


      <p class="subhead" style="text-align:left;">Below are the programs you may qualify for:</p>
  </div>

    <ul class="list-group">
    <!-- Food Stamps -->
      <% if @eligible_snap == 'yes' %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>
        <%= link_to "Click here to find a resource center near you", "http://abe.illinois.gov", :class => "btn btn-success btn-resolution" %>
        <%= link_to "Click Here to apply online before you visit", "https://abe.illinois.gov/abe/access/accessController?id=0.3971759164763745", :class => "btn btn-success btn-resolution" %>
        </li>
        <% end %>

        <% if @eligible_rta == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">RTA Free</h3>
          <%= link_to "Click here to apply online", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx", :class => "btn btn-success btn-resolution" %>
        </li>
        <% end %>

        <% if @eligible_all_kids == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">All Kids</h3>
           <%= link_to "Click Here to complete your application online", "https://abe.illinois.gov/abe/access/accessController?id=0.9912272225853554", :class => "btn btn-success btn-resolution" %>
           <% if @assist_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Assist.</p>
           <% elsif @share_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Share.</p>
           <% elsif @premium1_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</p>
           <% elsif @premium2_eligible == 'yes' %>
             <p>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</p>
           <% end %>
        </li>
        <% end %>

        <% if @eligible_medicaid == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">Medicaid</h3>
          <%= link_to "Click Here for more information", "https://abe.illinois.gov/abe/access/accessController?id=0.9152558493190114 ", :class => "btn btn-success btn-resolution" %>
        </li>
        <% end %>
        <% if @eligible_medicare_cost_sharing == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">Medicare Cost Sharing </h3>
            <p>Important Note:  If you previously opted out of Medicare part B, the Medicare cost sharing program, you may be able to get your Medicare premium paid now. Please contact or visit your LAF paralegal to re-enroll for Medicare Part B. You can see the nearest Community Service Center near you.</p>
            <div class="sectiondivider"></div>
            <h4>The LAF expert nearest you:</h4>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> | <%= @lafcenter.telephone %>  | <%= @lafcenter.spanish %> </p>
          </li>
        <% end %>

    </ul>
  </div>
  <% end %>

<% if @indeterminate_count > 0  %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Something else in mind!( <%= pluralize(@indeterminate_count, 'program') %>)</h2>
      <p class="subhead" style="text-align:left;">Based on the information received, we cannot determine your eligibility at this time.</p>
  </div>

    <ul class="list-group">
    <!-- Food Stamps -->
      <% if @eligible_snap == "maybe" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>
       <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </p>

        <div class="sectiondivider"></div>
        <h4>The LAF expert nearest you:</h4>
        <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> | <%= @lafcenter.telephone %>  | <%= @lafcenter.spanish %> </p>

      </li>
      <% end %>

      <% if @eligible_medicaid == "maybe" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Medicaid</h3>
        <p>You may need to discuss your situation with a Medicaid expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your Medicaid eligibility with you.</p>

         <div class="sectiondivider"></div>
        <h4>The LAF expert nearest you:</h4>
        <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> | <%= @lafcenter.telephone %>  | <%= @lafcenter.spanish %> </p>

      </li>
      <% end %>

    </ul>
  </div>
  <% end %>

<% if @ineligible_count > 0 %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Do not likely qualify ( <%= pluralize(@ineligible_count, 'program') %> )</h2>
      <p class="subhead" style="text-align:left;">Below are the programs you may not qualify for:</p>
  </div>

    <ul class="list-group">
    <!-- Food Stamps -->
    <% if @eligible_snap == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>

        <p>Direct2Food is an online resource that will help you locate the food pantries, soup kitchens, and meal programs closest to you. <br> If you need food assistance, text FOOD to 877-877 to find a meal site near you.</p>
        <%= link_to "Click Here to find resources near you", "http://www.direct2food.org/", :class => "btn btn-success btn-resolution" %>
        <div class="sectiondivider"></div>

        <h4>Some additional resources from Purple Binder:</h4>

        <% if @food_resources_zip.count >= 2 %>
        <p><%= @food_resources_zip.first.name %> | <%= @food_resources_zip.first.street %>  <%= @food_resources_zip.first.city %> <%= @food_resources_zip.first.state %>, <%= @food_resources_zip.first.zip %> | <%= @food_resources_zip.first.phone %> </p>

        <p><%= @food_resources_zip.second.name %> | <%= @food_resources_zip.second.street %>  <%= @food_resources_zip.second.city %> <%= @food_resources_zip.second.state %>, <%= @food_resources_zip.second.zip %> | <%= @food_resources_zip.second.phone %> </p>
        <% end %>

        <% if @food_resources_first.present? %>
        <p><%= @food_resources_first.name %> | <%= @food_resources_first.street %>  <%= @food_resources_first.city %> <%= @food_resources_first.state %>, <%= @food_resources_first.zip %> | <%= @food_resources_first.phone %> </p>

        <p><%= @food_resources_second.name %> | <%= @food_resources_second.street %>  <%= @food_resources_second.city %> <%= @food_resources_second.state %>, <%= @food_resources_second.zip %> | <%= @food_resources_second.phone %> </p>

        <% end %>
      </li>
      <% end %>

      <% if @eligible_rta == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">RTA Ride Free</h3>
        <p> Call 312-913-3110 for information about the Reduced Fare Program. <br> Or, if you are a low-income woman exploring other transportation assistance options, go to <a href="https://www.womenwithdrive.org"> www.womenwithdrive.org </a>, to view their offerings.
           </p>
      </li>
      <% end %>

      <% if @eligible_all_kids == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">All Kids</h3>
        <p>If you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>
        <%= link_to "Click Here to learn more about fees", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution" %>

        <%= link_to "Click Here to find Get Covered Illinois events in your area", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution" %>
        <p>You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.</p>
      </li>
      <% end %>

      <% if @eligible_medicaid == "no" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Medicaid</h3>
        <p> If you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>

        <%= link_to "Click Here to learn more about fees", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution" %>
        <p>Get Covered Illinois is a resource that helps families register for insurance at in-person events.</p>
        <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution" %> to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.
      </li>
      <% end %>
      <% if @eligible_medicare_cost_sharing == "no" %>
        <li class="list-group-item">
        <h3 class="allcityheader">Medicare Cost Sharing</h3>
        <p> However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>
        <%= link_to "Click Here to learn more about fees", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "btn btn-success btn-resolution" %>
        <p>Get Covered Illinois is a resource that helps families register for insurance at in-person events.</p>
        <%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "btn btn-success btn-resolution" %> to find Get Covered Illinois events in your area. You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.
      </li>
      <% end %>
    </ul>
  </div>
</div>
<% end %>



