
<div class="container marquee">
<div class="row">
<%= render "layouts/print_button" %>
  <h1>Do I qualify for All City Programs within mRelief?</h1>
  <p>Programs include Food Stamps, RTA Ride Free, All Kids, Medicare Cost Sharing, Rental Assistance, Medicaid, Aged, Blind and Disabled (AABD), Cash Assistance and Temporary Assistance for Needy Families </p>



<% if @eligible_count > 0 %>
  <div class="panel panel-default allcitypanel">
    <div class="allcityheading">
      <h2>You may qualify ( <%= pluralize(@eligible_count, 'program') %>)</h2>
      <p class="subhead" style="text-align:left;">Below are the programs you may qualify for:</p>
    </div>

    <ul class="list-group">
    <!-- Eligible for Food Stamps -->
      <% if @eligible_snap == 'yes' %>
        <li class="list-group-item">
        <h3 class="allcityheader">Food Stamps</h3>
        <% if @age <= 22 %>
          <p>However, make sure you accounted for your parents income, if you are still living in the same household</p>
        <% end %>

        <% if @laf_disclaimer.present?  %>
           <p><%= @laf_disclaimer %></p>
        <% else %>
          <p> Based on your zipcode, here is the nearest Community Service Center to access your Food Stamps: </p>
        <% end %>
        <p><%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %> | <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>

        <%= link_to "Click Here to apply online before you visit", "https://abe.illinois.gov/abe/access/", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'food_stamps_all_city_program', 'abe', 1);" %>
        <br>
        <%= link_to "Click Here to see the documents you will need ", documents_url, :class => "secondary-link" %>
        </li>
      <% end %>

    <!-- Eligible for RTA Ride Free -->
      <% if @eligible_rta == 'yes' %>
        <li class="list-group-item">
          <h3 class="allcityheader">RTA Ride Free</h3>
          <%= link_to "Click Here to apply online", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'rta_ride_free_all_city_program', 'il_dept_aging', 1);" %>
        </li>
      <% end %>

      <!-- Eligible for All Kids -->
        <% if @eligible_all_kids == 'yes' %>
          <li class="list-group-item">
            <h3 class="allcityheader">All Kids</h3>
             <% if @assist_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Assist.</p>
             <% elsif @share_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Share.</p>
             <% elsif @premium1_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</p>
             <% elsif @premium2_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</p>
             <% end %>

            <%= link_to "Click Here to complete your application online", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'all_kids_all_city_program', 'abe', 1);" %>
          </li>
        <% end %>

      <!-- Eligible for Medicaid -->
        <% if @eligible_medicaid == 'yes' %>
          <li class="list-group-item">
            <h3 class="allcityheader">Medicaid</h3>
            <p>Important Note:  At the current moment, this form does not include Medicaid's offerings for people with disabilities. However, we are working to make this form more inclusive. </p>

            <%= link_to "Click Here for more information", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid_all_city_program', 'abe', 1);" %>
          </li>
        <% end %>

      <!-- Eligible for Medicare Cost Sharing -->
        <% if @eligible_medicare_cost_sharing == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">Medicare Cost Sharing </h3>
            <p>Important Note:  If you previously opted out of Medicare part B, the Medicare cost sharing program, you may be able to get your Medicare premium paid now. Please contact or visit your LAF paralegal to re-enroll for Medicare Part B. You can see the nearest Community Service Center near you.</p>
            <div class="sectiondivider"></div>
            <% if @laf_disclaimer.present?  %>
                <p><%= @laf_disclaimer %></p>
            <% else %>
              <p>The LAF expert nearest you:</p>
            <% end %>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
          </li>
        <% end %>

      <!-- Eligible for Rental Assistance -->
        <% if @rental_eligible == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">Rental Assistance</h3>

             <% if @medical_circumstance == "yes" %>
              <p>You must be able to obtain documents from your employer showing that you took time off as well as from the hospital or attending physician.</p>
             <% elsif @natural_disaster == "yes" %>
              <p>You must be able to prove this by obtaining documents from a fire marshall (standard fire department reports). For floods, please provide a letter from your landlord and photographs.
             </p>
            <% elsif @temporary_loss == "yes"%>
              <p>You must provide last 90 days of pay stubs and a letter from employer stating (layoff, termination, etc) and the return date to work. You can also provide unemployment assistance documentation.</p>
            <% elsif @domestic_violence == "yes"%>
              <p>You must be able to prove this by providing a report from the police department or a document showing an order of protection/restraining order.</p>
            <% end %>
            <p>The final decision will be made one-on-one by the case manager.</p>
            <div class="sectiondivider"></div>
            <% if @laf_disclaimer.present?  %>
                <p><%= @laf_disclaimer %></p>
            <% else %>
              <p>Based on your zipcode, here is the nearest Community Service Center:</p>
            <% end %>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
            <p>or call 3-1-1.</p>
          </li>
        <% end %>

      <!-- Eligible for AABD -->
        <% if @aabd_eligible == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">AABD Cash Assistance</h3>
            <% if @laf_disclaimer.present?  %>
               <p><%= @laf_disclaimer %></p>
            <% else %>
              <p> Based on your zipcode, here is the nearest Community Service Center to access your AABD Cash Assistance: </p>
            <% end %>
            <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
            </li>
        <% end %>
        <% if @eligible_tanif == "yes" %>
          <li class="list-group-item">
            <h3 class="allcityheader">TANF Cash Assistance</h3>
            <%= link_to "to find your local Family Community Resource Center ", "https://www.dhs.state.il.us/page.aspx?module=12", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'tanf_all_city_program', 'dhs_office_locator', 1);" %>

            <p>or contact the DHS Help Line at 1 800 843-6154 (voice) or 1 800 447-6404 (TTY).</p>
          </li>
        <% end %>
    </ul>
  </div>
  <% end %>



<% if @indeterminate_count > 0  %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Something else in mind!( <%= pluralize(@indeterminate_count, 'program') %>)</h2>
      <p class="subhead" style="text-align:left;">Based on the information received, we cannot determine your eligibility at this time.</p>
  </div>

    <ul class="list-group">
    <!-- Maybe eligible for food stamps -->
      <% if @eligible_snap == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader">Food Stamps</h3>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </p>
          <%= render "all_city_programs/laf_center" %>
        </li>
      <% end %>

    <!-- Maybe eligible for medicaid -->
      <% if @eligible_medicaid == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader">Medicaid</h3>
          <p>You may need to discuss your situation with a Medicaid expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your Medicaid eligibility with you.</p>
          <%= render "all_city_programs/laf_center" %>
        </li>
      <% end %>

    <!-- Maybe eligible for rental assistance -->
      <% if @rental_eligible == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader"> Rental Assistance</h3>
         <p>According to the income guidelines of Rental Assistance, you make too much money to apply. However, in some cases the city may make an exception. Applications can be filed at any of the City’s six Community Service Centers. </p>
          <div class="sectiondivider"></div>
          <% if @laf_disclaimer.present?  %>
              <p><%= @laf_disclaimer %></p>
          <% else %>
            <p>Based on your zipcode, here is the nearest Community Service Center:</p>
          <% end %>
         <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
        </li>
      <% end %>

    <!-- Maybe eligible for AABD -->
      <% if @aabd_eligible == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader">AABD Cash Assistance</h3>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Aged, Blind and Disabled (AABD) Cash Asistanceexpert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your eligibility with you.</p>
          <%= render "all_city_programs/laf_center" %>
        </li>
      <% end %>

    <!-- Maybe eligible for TANF -->
      <% if @eligible_tanif == "maybe" %>
        <li class="list-group-item">
          <h3 class="allcityheader">TANF Cash Assistance</h3>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a TANF expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your TANF eligibility with you.</p>
          <%= render "all_city_programs/laf_center" %>
        </li>
      <% end %>
    </ul>
  </div>
  <% end %>

<% if @ineligible_count > 0 %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Do not likely qualify ( <%= pluralize(@ineligible_count, 'program') %> )</h2>
      <p class="subhead" style="text-align:left;">Below are the programs you may not qualify for:</p>
  </div>

    <ul class="list-group">
    <!-- Ineligible for food stamps -->
      <% if @eligible_snap == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">Food Stamps</h3>
          <%= render "all_city_programs/food_resources" %>
        </li>
      <% end %>

      <!-- Ineligible for RTA Ride Free -->
      <% if @eligible_rta == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">RTA Ride Free</h3>
          <%= render "all_city_programs/transportation_resources" %>
        </li>
      <% end %>

      <!-- Ineligible for All Kids -->
      <% if @eligible_all_kids == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">All Kids</h3>
          <%= render "all_city_programs/medical_resources" %>
        </li>
      <% end %>

      <!-- Ineligible for Medicaid -->
      <% if @eligible_medicaid == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">Medicaid</h3>
          <%= render "all_city_programs/medical_resources" %>
        </li>
      <% end %>

      <!-- Ineligible for Medicare Cost Sharing -->
      <% if @eligible_medicare_cost_sharing == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">Medicare Cost Sharing</h3>
          <%= render "all_city_programs/medical_resources" %>
        </li>
      <% end %>

      <!-- Ineligible for Rental Assistance -->
      <% if @rental_eligible == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">Rental Assistance</h3>
          <%= render "all_city_programs/housing_resources" %>
        </li>
      <% end %>

    <!-- Ineligible for AABD -->
      <% if @aabd_eligible == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">AABD Cash Assistance</h3>
          <%= render "all_city_programs/aabd_resources" %>
        </li>
      <% end %>

    <!-- Ineligible for TANF -->
      <% if @eligible_tanif == "no" %>
        <li class="list-group-item">
          <h3 class="allcityheader">TANF Cash Assistance</h3>
          <%= render "all_city_programs/child_resources" %>
        </li>
      <% end %>

    </ul>
  </div>
<% end %>


<!-- Community Resources -->
<% if @already_receiving_count > 0 %>
<div class="panel panel-default allcitypanel">
  <div class="allcityheading">
      <h2>Community Resources</h2>
      <p class="subhead" style="text-align:left;">Below are community resources that can help you:</p>
  </div>

    <ul class="list-group">
    <!-- Food Resources-->
    <% if @eligible_snap == "already receiving" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Food Resources</h3>
        <%= render "all_city_programs/food_resources" %>
      </li>
    <% end %>

    <!-- Transportation Resources -->
    <% if @eligible_rta == "already receiving" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Transportation Resources</h3>
        <%= render "all_city_programs/transportation_resources" %>
      </li>
    <% end %>

    <!-- Health Resources -->
    <% if @eligible_all_kids == "already receiving" || @eligible_medicaid == "already receiving" || @eligible_medicare_cost_sharing == "already receiving"%>
      <li class="list-group-item">
        <h3 class="allcityheader">Health Resources</h3>
        <%= render "all_city_programs/medical_resources" %>
      </li>
    <% end %>

    <!-- Housing Resources -->
    <% if @rental_eligible == "already receiving" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Housing Resources</h3>
        <%= render "all_city_programs/housing_resources" %>
      </li>
    <% end %>

    <!-- Aabd Resources -->
    <% if @aabd_eligible == "already receiving" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Elderly Resources</h3>
        <%= render "all_city_programs/aabd_resources" %>
      </li>
    <% end %>

    <!-- Child Care Resources -->
    <% if @eligible_tanif == "already receiving" %>
      <li class="list-group-item">
        <h3 class="allcityheader">Child Care Resources</h3>
        <%= render "all_city_programs/child_resources" %>
      </li>
    <% end %>

    </ul>
  </div>

<% end %>

<%= render "layouts/print_button" %>
</div>
</div>
