<div class="container marquee">
  <%= render "layouts/print_button" %>
  <div class="row">
    <div class="col-md-12">
      <h2>Results: All City Programs</h2>
    </div>
  </div>
<% if @eligible_count > 0 %>
  <div class="row">
    <div class="col-md-12 resources">
      <h3>You may qualify for: ( <%= pluralize(@eligible_count, 'program') %>)</h3>
    </div>
    <div class="col-md-12 laf-list">
    <!-- Eligible for Food Stamps -->

      <% if @eligible_snap == 'yes' %>
        <div class="all-city-results">
          <h3>Food Stamps</h3>
          <% if @age <= 22 %>
            <p>However, make sure you accounted for your parents income, if you are still living in the same household</p>
          <% end %>
          <% if @laf_disclaimer.present?  %>
            <p><%= @laf_disclaimer %></p>
          <% else %>
          <p>To access, Food Stamps this is your nearest community center: </p>
          <% end %>
          <ul>
            <li class="laf-headline"><%= @lafcenter.center %></li>
            <li><%=  @lafcenter.address %> <%= @lafcenter.city %> <%= @lafcenter.zipcode.to_i %></li>
            <li><%= @lafcenter.telephone %></li>
            <li>Days that Spanish is spoken - <%= @lafcenter.spanish %></li>
          </ul>
          <p>Apply online before you visit <%= link_to "here", "https://abe.illinois.gov/abe/access/", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'food_stamps_all_city_program', 'abe', 1);" %>.</p>
          <p>See the documents you will need <%= link_to "here", snap_documents_url, :class => "secondary-link" %>.</p>
      </div>
      <% end %>


    <!-- Eligible for RTA Ride Free -->
      <% if @eligible_rta == 'yes' %>
      <div class="all-city-results">
        <h3>RTA Ride Free</h3>
        <p>Apply online
          <%= link_to "here", "https://idoaweb.aging.illinois.gov/baa/Welcome.aspx", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'rta_ride_free_all_city_program', 'il_dept_aging', 1);" %>.</p>
        </div>
      <% end %>

      <!-- Eligible for All Kids -->
        <% if @eligible_all_kids == 'yes' %>
        <div class="all-city-results">
            <h3>All Kids</h3>
             <% if @assist_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Assist.</p>
             <% elsif @share_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Share.</p>
             <% elsif @premium1_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Premium Level 1.</p>
             <% elsif @premium2_eligible == 'yes' %>
               <p>Based on your household size and income, you likely qualify for All Kids Premium Level 2.</p>
             <% end %>

            <p>Complete your application onilne <%= link_to "here", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'all_kids_all_city_program', 'abe', 1);" %>.</p>
          </div>
        <% end %>

      <!-- Eligible for Medicaid -->
        <% if @eligible_medicaid == 'yes' %>
        <div class="all-city-results">
          <h3>Medicaid</h3>
            <p>Note: Currently, this form does not include Medicaid's offerings for people with disabilities. However, we are working to make this form more inclusive.</p>
            <p>For more information, <%= link_to "click here", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid_all_city_program', 'abe', 1);" %>.</p>
        </div>
        <% end %>

      <!-- Eligible for Medicare Cost Sharing -->
        <% if @eligible_medicare_cost_sharing == "yes" %>
        <div class="all-city-results">
          <h3>Medicare Cost Sharing </h3>
            <p>Important Note:  If you previously opted out of Medicare part B, the Medicare cost sharing program, you may be able to get your Medicare premium paid now. Please contact or visit your LAF paralegal to re-enroll for Medicare Part B. You can see the nearest Community Service Center near you.</p>
            <% if @laf_disclaimer.present?  %>
                <p><%= @laf_disclaimer %></p>
            <% else %>
              <p>The LAF expert nearest you:</p>
            <% end %>
            <ul>
              <li class="laf-headline"><%= @lafcenter.center %></li>
              <li><%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %></li>
              <li><%= @lafcenter.telephone %></li>
              <li>Days that Spanish is spoken - <%= @lafcenter.spanish %></li>
            </ul>
          </div>
        <% end %>

      <!-- Eligible for Rental Assistance -->
        <% if @rental_eligible == "yes" %>
        <div class="all-city-results">
            <h3>Rental Assistance</h3>
             <% if @medical_circumstance == "yes" %>
              <p>You must be able to obtain documents from your employer showing that you took time off as well as from the hospital or attending physician.</p>
             <% elsif @natural_disaster == "yes" %>
              <p>You must be able to prove this by obtaining documents from a fire marshall (standard fire department reports). For floods, please provide a letter from your landlord and photographs.
             </p>
            <% elsif @temporary_loss == "yes"%>
              <p>You must provide last 90 days of pay stubs and a letter from employer stating (layoff, termination, etc) and the return date to work. You can also provide unemployment assistance documentation.</p>
            <% elsif @domestic_violence == "yes"%>
              <p>You must be able to prove this by providing a report from the police department or a document showing an order of protection/restraining order.</p>
            <% end %>
            <p>The final decision will be made one-on-one by the case manager.</p>

            <% if @laf_disclaimer.present?  %>
                <p><%= @laf_disclaimer %></p>
            <% else %>
              <p>Your nearest Community Service Center:</p>
            <% end %>
            <ul>
              <li><%= @lafcenter.center %></li>
              <li><%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %></li>
              <li><%= @lafcenter.telephone %><li>
              <li>Days that Spanish is spoken - <%= @lafcenter.spanish %></li>
            </ul>
            <p>or call 3-1-1.</p>
            <p>See the documents you need <%= link_to "here", rental_documents_url, :class => "secondary-link" %>.</p>
          </div>
        <% end %>

      <!-- Eligible for AABD -->
        <% if @aabd_eligible == "yes" %>
        <div class="all-city-results">
            <h3>AABD Cash Assistance</h3>
            <% if @laf_disclaimer.present?  %>
               <p><%= @laf_disclaimer %></p>
            <% else %>
              <p>Your nearest Community Service Center to access your AABD Cash Assistance: </p>
            <% end %>
            <ul>
              <li><%= @lafcenter.center %></li>
              <li><%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %></li>
              <li><%= @lafcenter.telephone %></li>
              <li>Days that Spanish is spoken - <%= @lafcenter.spanish %></li>
            </ul>
          </div>
        <% end %>

        <% if @eligible_tanif == "yes" %>
        <div class="all-city-results">
          <h3>TANF Cash Assistance</h3>
          <p>Find your local family community resoure center <%= link_to "here", "https://www.dhs.state.il.us/page.aspx?module=12", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'tanf_all_city_program', 'dhs_office_locator', 1);" %>. Or contact the DHS Help Line at 1 800 843-6154 (voice) or 1 800 447-6404 (TTY).</p>
        </div>
        <% end %>
  </div>
</li>
<% end %>


<% if @indeterminate_count > 0  %>

  <div class="row">
    <div class="col-md-12 resources">
      <h3>Something else in mind! ( <%= pluralize(@indeterminate_count, 'program') %>)</h3>
      <p>Based on the information received, we cannot determine your eligibility at this time.</p>
    </div>
    <div class="col-md-12 laf-list">


    <!-- Maybe eligible for food stamps -->
      <% if @eligible_snap == "maybe" %>
        <div class="all-city-results">
          <h3>Food Stamps</h3>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </p>
          <%= render "all_city_programs/laf_center" %>
        </div>
      <% end %>

    <!-- Maybe eligible for medicaid -->
      <% if @eligible_medicaid == "maybe" %>
       <div class="all-city-results">
          <h3>Medicaid</h3>
          <p>You may need to discuss your situation with a Medicaid expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your Medicaid eligibility with you.</p>
          <%= render "all_city_programs/laf_center" %>
        </div>
      <% end %>

    <!-- Maybe eligible for rental assistance -->
      <% if @rental_eligible == "maybe" %>
        <div class="all-city-results">
        <h3> Rental Assistance</h3>
         <p>According to the income guidelines of Rental Assistance, you make too much money to apply. However, in some cases the city may make an exception. Applications can be filed at any of the City’s six Community Service Centers. </p>
          <div class="sectiondivider"></div>
          <% if @laf_disclaimer.present?  %>
              <p><%= @laf_disclaimer %></p>
          <% else %>
            <p>Based on your zipcode, here is the nearest Community Service Center:</p>
          <% end %>
         <p> <%= @lafcenter.center %> | <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %>| <%= @lafcenter.telephone %>  | Days that Spanish is spoken - <%= @lafcenter.spanish %> </p>
        </div>
      <% end %>

    <!-- Maybe eligible for AABD -->
      <% if @aabd_eligible == "maybe" %>
        <div class="all-city-results">
          <h3>AABD Cash Assistance</h3>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Aged, Blind and Disabled (AABD) Cash Asistanceexpert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your eligibility with you.</p>
          <%= render "all_city_programs/laf_center" %>
        </div>
      <% end %>

    <!-- Maybe eligible for TANF -->
      <% if @eligible_tanif == "maybe" %>
        <div class="all-city-results">
          <h3>TANF Cash Assistance</h3>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a TANF expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your TANF eligibility with you.</p>
          <%= render "all_city_programs/laf_center" %>
        </div>
      <% end %>

  </div>
  </div>
  <% end %>

<% if @ineligible_count > 0 %>
<div class="row">
  <div class="col-md-12 resources">
    <h3>Do not likely qualify ( <%= pluralize(@ineligible_count, 'program') %> )</h3>
    <p>Below are the programs you may not qualify for:</p>
  </div>

  <div class="col-md-12 laf-list">

    <!-- Ineligible for food stamps -->
      <% if @eligible_snap == "no" %>
        <div class="all-city-results">
          <h3>Food Stamps</h3>
          <%= render "all_city_programs/food_resources" %>
        </div>
      <% end %>

      <!-- Ineligible for RTA Ride Free -->
      <% if @eligible_rta == "no" %>
        <div class="all-city-results">
          <h3>RTA Ride Free</h3>
          <%= render "all_city_programs/transportation_resources" %>
        </div>
      <% end %>

      <!-- Ineligible for All Kids -->
      <% if @eligible_all_kids == "no" %>
        <div class="all-city-results">
          <h3>All Kids</h3>
          <%= render "all_city_programs/medical_resources" %>
        </div>
      <% end %>

      <!-- Ineligible for Medicaid -->
      <% if @eligible_medicaid == "no" %>
        <div class="all-city-results">
          <h3>Medicaid</h3>
          <%= render "all_city_programs/medical_resources" %>
        </div>
      <% end %>

      <!-- Ineligible for Medicare Cost Sharing -->
      <% if @eligible_medicare_cost_sharing == "no" %>
        <div class="all-city-results">
          <h3>Medicare Cost Sharing</h3>
          <%= render "all_city_programs/medical_resources" %>
        </div>
      <% end %>

      <!-- Ineligible for Rental Assistance -->
      <% if @rental_eligible == "no" %>
        <div class="all-city-results">
          <h3>Rental Assistance</h3>
          <%= render "all_city_programs/housing_resources" %>
        </div>
      <% end %>

    <!-- Ineligible for AABD -->
      <% if @aabd_eligible == "no" %>
        <div class="all-city-results">
          <h3>AABD Cash Assistance</h3>
          <%= render "all_city_programs/aabd_resources" %>
        </div>
      <% end %>

    <!-- Ineligible for TANF -->
      <% if @eligible_tanif == "no" %>
        <div class="all-city-results">
          <h3>TANF Cash Assistance</h3>
          <%= render "all_city_programs/child_resources" %>
        </div>
      <% end %>

    </ul>
  </div>
  </div>
<% end %>


<!-- Community Resources -->
<% if @already_receiving_count > 0 %>


  <div class="row">
    <div class="col-md-12 resources">
      <h3>Community Resources</h3>
      <p>Below are community resources that can help you:</p>
    </div>

    <div class="col-md-12 laf-list">
    <!-- Food Resources-->
    <% if @eligible_snap == "already receiving" %>
      <div class="all-city-results">
        <h3>Food Resources</h3>
        <%= render "all_city_programs/food_resources" %>
      </div>
    <% end %>

    <!-- Transportation Resources -->
    <% if @eligible_rta == "already receiving" %>
      <div class="all-city-results">
        <h3>Transportation Resources</h3>
        <%= render "all_city_programs/transportation_resources" %>
      </div>
    <% end %>

    <!-- Health Resources -->
    <% if @eligible_all_kids == "already receiving" || @eligible_medicaid == "already receiving" || @eligible_medicare_cost_sharing == "already receiving"%>
      <div class="all-city-results">
        <h3>Health Resources</h3>
        <%= render "all_city_programs/medical_resources" %>
      </div>
    <% end %>

    <!-- Housing Resources -->
    <% if @rental_eligible == "already receiving" %>
      <div class="all-city-results">
        <h3>Housing Resources</h3>
        <%= render "all_city_programs/housing_resources" %>
      </div>
    <% end %>

    <!-- Aabd Resources -->
    <% if @aabd_eligible == "already receiving" %>
      <div class="all-city-results">
        <h3>Elderly Resources</h3>
        <%= render "all_city_programs/aabd_resources" %>
      </div>
    <% end %>

    <!-- Child Care Resources -->
    <% if @eligible_tanif == "already receiving" %>
      <div class="all-city-results">
        <h3>Child Care Resources</h3>
        <%= render "all_city_programs/child_resources" %>
      </div>
    <% end %>


  </div>
</div>
<% end %>

<%= render "layouts/print_button" %>
<%= image_tag("pblogo.jpg", :class => "logo-padding") %>

</div>
</div>
