<div class= "container">


<div class="page-header" style="border:none">
  <h1>Do I qualify for All City Programs within mRelief?</h1>
  <p class="subhead">Programs include Food Stamps, RTA Ride Free, All Kids, Medicare Cost Sharing, Rental Assistance, Medicaid,  Aged, Blind and Disabled (AABD), Cash Assistance and Temporary Assistance for Needy Families</p>
</div>

<div class="panel panel-default col-md-12" style="margin: 0 0 40px 0; padding-top:15px">
  <div class="panel-body">
    <form action="/all_city_programs" role="form" method="post">



  <div class="form-group col-sm-9">
    <label for="age">How old are you?</label>
      <input type="text" id="age" name="age" placeholder="For example: 27" class="form-control" required>
  </div>


  <!-- Label and input for snap_dependent_no -->

  <div class="form-group col-sm-9">
    <label for="dependent_no">What is the number of people living in your household including yourself?</label>

      <button type="button" data-toggle="popover" data-content="This should include the number of people who purchase and prepare food with you." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>


    <div>
      <input type="text" id="dependent_no" name="dependent_no" placeholder="For example: 3" class="form-control" required>
    </div>
  </div>


    <div class="form-group col-sm-9">
      <label for="children">How many children 18 and under are you caring for?</label>

          <input type="text" id="children" name="children" placeholder="For example: 3" class="form-control"  required>

    </div>


   <div class="form-group col-sm-9">
    <label for="medicare_household_size">How many people in your household receive Medicare?</label>


      <button type="button" data-toggle="popover" data-content="This should include the number of people who purchase and prepare food with you." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

    <div>
      <input type="text" id="medicare_household_size" name="medicare_household_size" placeholder="For example: 2" class="form-control"  required>
    </div>
  </div>

   <div class="form-group col-sm-9 pull-left">
      <label for="zipcode">What is your zipcode?</label>
        <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-control" required>
  </div>


  <!-- Label and input for snap_gross_income -->

  <div class="form-group col-sm-9">
    <label for="monthly_gross_income">
      What is your gross monthly income?
    </label>


      <button type="button" data-toggle="popover" data-content="This includes the monthly income of all people living in your household including yourself. This includes income from all sources, such as Social Security, child support, and unemployment insurance before any deductions." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>


    <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" id="monthly_gross_income" name="monthly_gross_income" placeholder="For example: 1000"class="form-control" required>
  <span class="input-group-addon">.00</span>
  </div>
</div>


  <div class="form-group col-sm-9">
    <label for="net_income">
     How much do you anticipate to earn in net income in the next 30 days? (After taxes have been taken out)
    </label>
    <button type="button" data-toggle="popover" data-content="This should include income you earn from your work, self employment and rental income (contributions from people who live with you.)" data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
    <div class="input-group">
      <span class="input-group-addon">$</span>
       <input type="text" id="net_income" name="net_income" placeholder="For example: 1000"class="form-control" required>
      <span class="input-group-addon">.00</span>
    </div>
  </div>


    <div class="form-group col-sm-9">
      <label for="monthly_benefits">
       What is your monthly income expected from government benefits or other assistance?
      </label>
      <button type="button" data-toggle="popover" data-content="This includes social security (SSI), veterans benefits, railroad assistance etc." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
      <div class="input-group">
        <span class="input-group-addon">$</span>
         <input type="text" id="monthly_benefits" name="monthly_benefits" placeholder="For example: 1000"class="form-control" required>
        <span class="input-group-addon">.00</span>
      </div>
    </div>


      <div class="form-group col-sm-9">

        <label for="anticipate_income" id="anticipate_income">Do you or your child anticipate getting any other source of income outside of your job, child support or SSI? </label>

        <button type="button" data-toggle="popover" data-content="This includes unemployment insurance, pensions, workers compensation and any other form of income." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <div id="anticipate_income">
            <%= radio_button_tag 'anticipate_income', 'yes' %> yes
            <%= radio_button_tag 'anticipate_income', 'no' %> no
        </div>
      </div>

     <!-- Label and input for expect_child_support -->
      <div class="form-group col-sm-9">
        <label for="expect_child_support">
          How much do you expect to receive in child support in the next 30 days?
        </label>


        <div class="input-group">
          <span class="input-group-addon">$</span>
           <input type="text" id="expect_child_support" name="expect_child_support" placeholder="For example: 500"class="form-control" required>
          <span class="input-group-addon">.00</span>
        </div>
        </div>

       <!-- Label and input for expect_ssi -->
      <div class="form-group col-sm-9">
        <label for="expect_ssi">
          How much do you expect to receive in SSI in the next 30 days?
        </label>


        <div class="input-group">
          <span class="input-group-addon">$</span>
           <input type="text" id="expect_ssi" name="expect_ssi" placeholder="For example: 500"class="form-control" required>
          <span class="input-group-addon">.00</span>
        </div>
        </div>



<div class="form-group col-sm-9">
    <label for="ninety_day_gross_income">
      What is your income over the past 90 days? </label>

      <button type="button" data-toggle="popover" data-content="Includes cash receipts from all sources including money wages and salaries before any deductions, unemployment compensation, public assistance, alimony, child support, lottery/gambling winnings, dividends and all other income." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

    <div class="input-group">
      <span class="input-group-addon">$</span>
        <input type="text" id="ninety_day_gross_income" name="ninety_day_gross_income" placeholder="For example: 4000" class="form-control" required>
      <span class="input-group-addon">.00</span>
    </div>
  </div>

<br>

<!-- Label and input for rta_gross_income -->
  <div class="form-group col-sm-9">
    <label for="annual_gross_income">
      What is your gross annual income?
    </label>

      <button type="button" data-toggle="popover" data-content="Your total income before tax deductions, including your spouse's income if married and living together on December 31 of last year, and that of a qualified additional resident (if applicable)." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>


    <div class="input-group">
  <span class="input-group-addon">$</span>
  <input type="text" id="annual_gross_income" name="annual_gross_income" placeholder="For example: 30000" class="form-control" required>
  <span class="input-group-addon">.00</span>
</div>
</div>


  <div class="form-group col-sm-9">
  <label for="assets">Please estimate the value of your assets. (Exclude the value of your home and car.)</label>

    <button type="button" data-toggle="popover" data-content="Personal property is anything owned by a person that is not land or permanently affixed to land. This includes such items as: money in checking and savings accounts;stocks, bonds, savings certificates, and other securities;farm and small business equipment, unless used for income for self-support, estate bequests; and miscellaneous resources that are not real property." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

  <div>
    <input type="text" id="assets" name="assets" placeholder="For example: 5000" class="form-control" required>
  </div>
</div>
<br>
<div class="form-group col-sm-9 pull-left">

    <label for="education" id="education" >Are you enrolled in college or an institution of higher education ? </label>

    <div class="col-sm-6">
      <div id="education">
        <%= radio_button_tag 'education', 'yes' %> yes
        <%= radio_button_tag 'education', 'no' %> no
      </div>
    </div>
</div>
<br>

<div class="form-group col-sm-12">

    <label for="citizen" id="citizen" class="pull-left">Are you a citizen of the United States? </label>
    <div class="clearfix"></div>

    <div class="col-sm-6">
      <div id="citizen"  class="pull-left">
        <%= radio_button_tag 'citizen', 'yes' %> yes
        <%= radio_button_tag 'citizen', 'no' %> no
      </div>
    </div>
</div>
<br>

   <div class="form-group col-sm-12">

    <label for="pregnant" id="pregnant" class="pull-left">Are you pregnant ? </label>
    <div class="clearfix"></div>
    <div class="col-sm-6">
      <div id="pregnant">
        <%= radio_button_tag 'pregnant', 'yes' %> yes
        <%= radio_button_tag 'pregnant', 'no' %> no
      </div>
    </div>
</div>
<br>

  <div class="form-group col-sm-12">
    <label for="child" id="child">Are you pregnant or caring for a child under 19 years of age?</label>
    <div class="clearfix"></div>
        <div class="col-sm-6">
          <div id="child"  class="pull-left">
            <%= radio_button_tag 'child', 'yes' %> yes
            <%= radio_button_tag 'child', 'no' %> no
          </div>
           </div>
  </div>
<br>

  <div class="form-group col-sm-12">
    <label for="relationship" id="relationship">Describe your biological relationship to the child you are caring for:
    </label>
    <div class="clearfix"></div>

        <div class="col-sm-6">
          <div id="relationship"  class="pull-left">
            <%= radio_button_tag 'relationship', 'parent' %> Parent
            <%= radio_button_tag 'relationship', 'adult_relative' %> Adult relative
          </div>
        </div>
  </div>
<br>

  <div class="form-group col-sm-12">
    <label for="first" id="first">Are you pregnant with your first child?
    </label>
    <div class="clearfix"></div>
        <div class="col-sm-6">
          <div id="first"  class="pull-left">
            <%= radio_button_tag 'first', 'yes' %> yes
            <%= radio_button_tag 'first', 'no' %> no
          </div>
        </div>
  </div>
<br>

  <div class="form-group col-sm-12">
    <label for="tanif_sixty_months" id="tanif_sixty_months">As a parent have you been receiving TANF for 60 months or more?
    </label>

    <div class="clearfix"></div>
        <div class="col-sm-9">
          <div id="tanif_sixty_months"  class="pull-left">
            <%= radio_button_tag 'tanif_sixty_months', 'yes' %> yes
            <%= radio_button_tag 'tanif_sixty_months', 'no' %> no
            <%= radio_button_tag 'tanif_sixty_months', 'caretaker' %>  I am a caretaker relative, this does not apply to me.
          </div>
        </div>
  </div>
  <br>


    <div class="form-group col-sm-12">
      <label for="teen_parent" id="teen_parent"> Are you a teen parent? </label>
      <div class="clearfix"></div>

      <div class="col-sm-6">
        <div id="teen_parent"  class="pull-left">
          <%= radio_button_tag 'teen_parent', 'yes' %> yes
          <%= radio_button_tag 'teen_parent', 'no' %> no
        </div>
      </div>

    </div>


    <div class="form-group col-md-12">
      <label for="highschool" id="highschool">If your child is 18, are they enrolled full-time in high school? </label>

      <button type="button" data-toggle="popover" data-content="This does not include GED classes" data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

      <div class="clearfix"></div>
        <div class="col-md-6">
          <div id="highschool"  class="pull-left">
            <%= radio_button_tag 'highschool', 'yes' %> yes
            <%= radio_button_tag 'highschool', 'no' %> no
          </div>
        </div>
     </div>


  <div class="form-group col-sm-12">

    <label for="lease" id="lease" class="pull-left">Is your name currently on the lease of the apartment that you are renting?</label>

      <div class="col-sm-6">
        <div id="lease" >
          <%= radio_button_tag 'lease', 'yes' %> yes
          <%= radio_button_tag 'lease', 'no' %> no
        </div>
      </div>
  </div>


  <div class="form-group col-sm-12">

    <label for="rental_status" id="rental_status" class="pull-left"> If you are unable to pay your rent at this time, what circumstance explains why you are unable to pay rent? </label>

      <div id="rental_status" class="pull-left">
        <%= radio_button_tag 'rental_status', 'medical circumstance' %> Someone experiencing a medical circumstance

         <button type="button" data-toggle="popover" data-content="An emergency procedure (for example: surgery, related to complicated birth or other conditions) that prevents you from returning to work immediately and then leads to temporarily losing income. This can also apply to your spouse, child, committed partner whose name is on the lease or grandparent who lives with you." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <br><%= radio_button_tag 'rental_status', 'a victim of natural disaster or fire' %> A victim of natural disaster or fire

         <button type="button" data-toggle="popover" data-content="A natural disaster includes instances such as a tornado or fire that prevents you from returning to work immediately and then leads to temporarily losing income. This can also apply to floods for people who are renting a basement apartment who can not afford to replace those items and are seeking relocation." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <br><%= radio_button_tag 'rental_status', 'a recipient of an eviction notice' %> A recipient of an eviction notice

         <button type="button" data-toggle="popover" data-content="This must be a notice that is notarized and brought with you if you qualify." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <br><%= radio_button_tag 'rental_status', 'have experienced a temporary loss of income' %> Have experienced a temporary loss of income

         <button type="button" data-toggle="popover" data-content="This involves losing income due to an unforeseen event (layoff, termination,or other emergencies etc.) The month in between when you lose your job and qualify for unemployment would be admissible." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <br><%= radio_button_tag 'rental_status', 'a victim of domestic violence' %> A victim of domestic violence

         <button type="button" data-toggle="popover" data-content="This involves losing income due to violence from your intimate partner. If your partner was your sole source of income, this does not apply. Typically this benefit would apply to victims with income seeking relocation assistance. " data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <br><%= radio_button_tag 'rental_status', 'none of the above' %> None of the above
      </div>

  </div>

<div class="form-group col-sm-12">

    <label for="status" id="status" class="pull-left">If you have a child, check the box below that describes your child's health insurance status:</label>
    <div class="clearfix"></div>

    <div class="col-sm-12">
      <div id="status"  class="pull-left">
        <%= radio_button_tag 'status', 'uninsured' %>  been uninsured for 12 months  <br>
        <%= radio_button_tag 'status', 'job_ended' %>  lost insurance because a JOB ended  <br>
        <%= radio_button_tag 'status', 'cobra' %>  lost insurance because the insurance was COBRA  <br>
        <%= radio_button_tag 'status', 'none' %> none of the above <br>
      </div>
    </div>
</div>

<br>
<div class="form-group col-sm-12">

    <label for="disabled" id="disabled" class="pull-left">If you are disabled, describe your current status:</label>
    <div class="clearfix"></div>

    <div class="col-sm-12">
      <div id="disabled"  class="pull-left">
        <%= radio_button_tag 'disabled', 'social-security' %>  I am receiving disability payments from Social Security.  <br>
        <%= radio_button_tag 'disabled', 'railroad' %>  I am receiving disability payments from the Railroad Retirement Board.     <br>
        <%= radio_button_tag 'disabled', 'veterans' %>  I am receiving disability payments from Veterans
        Affairs.   <br>
        <%= radio_button_tag 'disabled', 'none' %> I am currently not receiving any disability payments  <br>
      </div>
    </div>
</div>

<div class="form-group col-sm-12">
  <label for="king_center" id="king_center" class="pull-left">Are you completing this form at the King Community Service Center?</label>

    <div class="col-sm-6">
      <div id="king_center" >
        <%= radio_button_tag 'king_center', 'yes' %> yes
        <%= radio_button_tag 'king_center', 'no' %> no
      </div>
    </div>
</div>

<div class="place_for_phone_number">

</div>

<div class="row">
  <div class="col-sm-6">
  <%= render "programs/calculator" %>
  </div>
</div>


  <div class="col-sm-12">
    <div style="padding:40px 0 0 0">
      <button type="submit" class="btn btn-primary">See if I qualify</button>
    </div>
  </div>

</form>


</div>
</div>
</div>

<script>


  $(document).ready(function() {

    $("input:radio[name=king_center]").click(function() {
      var value = $(this).val();
      if (value == "yes") {
        $('.place_for_phone_number').append("<%= escape_javascript(render "layouts/phone_question" ) %>");
      }
    });

    $(function ()
      { $("[data-toggle='popover']").popover();
    });
  });

 </script>




