<p id="notice"><%= notice %></p>

<p>
  <strong>Vision gross income:</strong>
  <%= @vision.vision_gross_income %>
</p>

<p>
  <strong>Vision household size:</strong>
  <%= @vision.vision_household_size %>
</p>

<%= link_to 'Edit', edit_vision_path(@vision) %> |
<%= link_to 'Back', visions_path %>
