%p#notice= notice
%p
  %strong Vision gross income:
  = @vision.vision_gross_income
%p
  %strong Vision household size:
  = @vision.vision_household_size
= link_to 'Edit', edit_vision_path(@vision)
|
\#{link_to 'Back', visions_path}
