<div class="container marquee">
<%= render "layouts/print_button" %>
<% if @eligible_tanif == "yes" %>
  <div class="row">
   <div class="col-md-7">
    <h1>Results: You may be in luck!</h1>
    <p>Based on your household size, income, and ages of your children, you may qualify for TANF. </p>

      <div class="resources">
        <h3>Apply for benefits</h3>
        <p>To use the DHS Office Locator to find your local Family Community Resource Center,  <%= link_to "Click Here", "https://www.dhs.state.il.us/page.aspx?module=12", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'tanf', 'dhs_office_locator', 1);" %> </p>
        <p>or contact the DHS Help Line at 1 800 843-6154 (voice) or 1 800 447-6404 (TTY).</p>
      </div>
    </div>
  </div>

<% elsif @eligible_tanif == "maybe" %>

    <div class="row">
      <div class="col-md-7">

         <h1>Results: Something else in mind!</h1>
         <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a TANF expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your TANF eligibility with you. </p>

          <section class="content-section resources">
            <h3>Resources</h3>
            <% if @laf_disclaimer.present? %>
              <p><%= @laf_disclaimer %></p>
            <% end %>
            <%= render 'layouts/community_center' %>
           </section>

       <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>
    </div>
  </div>


<% elsif @eligible_tanif == "no" %>

  <div class="row">
    <div class="col-md-7">
      <h1>Results: Something else in mind!</h1>
      <p>Based on your household size and income, you likely do not qualify for TANF. </p>

      <%= render "layouts/purple_binder_resources" %>
    </div>
  </div>


<% end %>
</div>
