%br/
%br/
%br/
- if @eligible_tanif == "yes"
  .page-header
  .row{:style => "text-align:center;"}
    .col-md-8.col-md-offset-2
      %i.fa.fa-check-circle.fa-5x
      %h1 You may be in luck!
      %h4 Based on your household size, income, and ages of your children, you may qualify for TANF.
      %br/
      %br/
      %br/
      .row
        .text-center
          %p.subhead Use the DHS Office Locator to find your local Family Community Resource Center :
          = link_to "Click Here", "https://www.dhs.state.il.us/page.aspx?module=12", :class => "btn btn-success btn-resolution"
        %br/
  .row
    .text-center
      %p.subhead or contact the DHS Help Line at 1 800 843-6154 (voice) or 1 800 447-6404 (TTY).
- elsif @eligible_tanif == "maybe"
  .page-header
  .page-header
  .row{:style => "text-align:center;"}
    .col-md-8.col-md-offset-2
      %i.fa.fa-exclamation-circle.fa-5x
      %h1 Something else in mind!
      %h4 Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a TANF expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your TANF eligibility with you.
      %br/
      - if @laf_disclaimer.present?
        %p.subhead= @laf_disclaimer
      .col-md-offset-3.col-md-6.col-sm-6.text-center{:style => "text-align:center;"}
        %ul.list-group{:style => "text-align:left;"}
          %li.list-group-item{:style => "font-weight:bold"}
            = @lafcenter.center
          %li.list-group-item
            %i.fa.fa-map-marker
            = @lafcenter.address
            = @lafcenter.city
            , #{@lafcenter.zipcode.to_i}
          %li.list-group-item
            %i.fa.fa-phone
            = @lafcenter.telephone
          %li.list-group-item
            Days that Spanish is spoken - #{@lafcenter.spanish}
        %br/
        %br/
    .row
      .col-md-offset-4.col-md-4
        = image_tag("LAFlogo.jpg", :class => "img-responsive")
- elsif @eligible_tanif == "no"
  .row{:style => "text-align:center;"}
    .col-md-8.col-md-offset-2
      %h1 Something else in mind!
      %h4 Based on your household size and income, you likely do not qualify for TANF.
      %br/
      .row
        %h4 Here are some additional resources from Purple Binder:
      %br/
      .row
        - if @child_resources_zip.count >= 2
          .col-md-6.col-sm-6
            %ul.list-group{:style => "text-align:left;"}
              %li.list-group-item{:style => "font-weight:bold"}
                = @child_resources_zip.first.name
              %li.list-group-item
                %i.fa.fa-map-marker
                = @child_resources_zip.first.street
                = @child_resources_zip.first.city
                = @child_resources_zip.first.state
                , #{@child_resources_zip.first.zip}
              %li.list-group-item
                %i.fa.fa-phone
                = @child_resources_zip.first.phone
          .col-md-6.col-sm-6
            %ul.list-group{:style => "text-align:left;"}
              %li.list-group-item{:style => "font-weight:bold"}
                = @child_resources_zip.second.name
              %li.list-group-item
                %i.fa.fa-map-marker
                = @child_resources_zip.second.street
                = @child_resources_zip.second.city
                = @child_resources_zip.second.state
                , #{@child_resources_zip.second.zip}
              %li.list-group-item
                %i.fa.fa-phone
                = @child_resources_zip.second.phone
      .row
        - if @child_resources_first.present?
          .col-md-6.col-sm-6
            %ul.list-group{:style => "text-align:left;"}
              %li.list-group-item{:style => "font-weight:bold"}
                = @child_resources_first.name
              %li.list-group-item
                %i.fa.fa-map-marker
                = @child_resources_first.street
                = @child_resources_first.city
                = @child_resources_first.state
                , #{@child_resources_first.zip}
              %li.list-group-item
                %i.fa.fa-phone
                = @child_resources_first.phone
          .col-md-6.col-sm-6
            %ul.list-group{:style => "text-align:left;"}
              %li.list-group-item{:style => "font-weight:bold"}
                = @child_resources_second.name
              %li.list-group-item
                %i.fa.fa-map-marker
                = @child_resources_second.street
                = @child_resources_second.city
                = @child_resources_second.state
                , #{@child_resources_second.zip}
              %li.list-group-item
                %i.fa.fa-phone
                = @child_resources_second.phone
      = image_tag("pblogo.jpg", :class => "logo-padding")
  %br/
  %br/
  %br/
  %br/
