%h1 Listing tanifs
%table
  %thead
    %tr
      %th Household size
      %th Earned income
      %th Tanif payment
      %th Max income
      %th{:colspan => "3"}
  %tbody
    - @tanifs.each do |tanif|
      %tr
        %td= tanif.household_size
        %td= tanif.earned_income
        %td= tanif.tanif_payment
        %td= tanif.max_income
        %td= link_to 'Show', tanif
        %td= link_to 'Edit', edit_tanif_path(tanif)
        %td= link_to 'Destroy', tanif, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Tanif', new_tanif_path
