<h1>Listing tanifs</h1>

<table>
  <thead>
    <tr>
      <th>Household size</th>
      <th>Earned income</th>
      <th>Tanif payment</th>
      <th>Max income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tanifs.each do |tanif| %>
      <tr>
        <td><%= tanif.household_size %></td>
        <td><%= tanif.earned_income %></td>
        <td><%= tanif.tanif_payment %></td>
        <td><%= tanif.max_income %></td>
        <td><%= link_to 'Show', tanif %></td>
        <td><%= link_to 'Edit', edit_tanif_path(tanif) %></td>
        <td><%= link_to 'Destroy', tanif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tanif', new_tanif_path %>
