%p#notice= notice
%p
  %strong Household size:
  = @tanif.household_size
%p
  %strong Earned income:
  = @tanif.earned_income
%p
  %strong Tanif payment:
  = @tanif.tanif_payment
%p
  %strong Max income:
  = @tanif.max_income
= link_to 'Edit', edit_tanif_path(@tanif)
|
\#{link_to 'Back', tanifs_path}
