 <div class="container">
<%= render "layouts/print_button" %>

<!-- USER IS ELIGIBLE FOR FOODSTAMPS -->
<% if @eligible == 'yes' %>
      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
          <i class="fa fa-check-circle fa-5x"></i>
           <h1>You may be in luck!</h1>
           <h3>The following information you reported impacted your eligibility status. Read More.</h3>

        <br>
        <br>

      <table class="table table-striped">
      <tr>
        <td><i class="fa fa-check-circle "></i></td>
        <% if @s.age.to_i <= 59 %>
          <td><p>Your gross monthly income</p></td>
        <% else %>
          <td><p>Your gross monthly income and age</p></td>
        <% end %>
          <td><a href="#" data-toggle="modal" data-target="#income_explanation">Read More </a></td>
      </tr>

      <% if @s.citizen == "yes" %>
        <tr>
          <td><i class="fa fa-check-circle "></i></td>
          <td><p>Your citizenship status</p></td>
          <td><a href="#" data-toggle="modal" data-target="#citizenship_explanation">Read More </a></td>
        </tr>
      <% else %>
        <tr>
          <td><p>N/A</p></td>
          <td><p>Your citizenship status</p></td>
          <td></td>
        </tr>
      <% end %>

      <% if @eligible_student == "yes" %>
        <tr>
          <td><i class="fa fa-check-circle "></i></td>
          <td><p>Your education status</p></td>
          <td><a href="#" data-toggle="modal" data-target="#education_explanation">Read More </a></td>
        </tr>
      <% else %>
        <tr>
          <td><p>N/A</p></td>
          <td><p>Your education status</p></td>
          <td></td>
        </tr>
      <% end %>
      </table>


      <!-- INCOME EXPLANATION -->
        <% if @expedited == true  %>
          <div class="modal fade" id="income_explanation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Income Status</h4>
                  </div>
                  <div class="modal-body">
                    <p>Currently your reported income $<%= @s.monthly_gross_income %> is lower than $150 and therefore you may qualify for emergency or expedited SNAP (food stamp) benefits according to policy <a href="http://www.dhs.state.il.us/page.aspx?item=13005">PM-02-08-0</a> 1 of the Illinois Department of Human Services (DHS) manual. Once you apply, you should hear within 5 business days about your in-person interview with DHS.</p>
                  </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
           </div>


        <% elsif @disabled != true && @s.age.to_i <= 59 %>
          <div class="modal fade" id="income_explanation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Income Status</h4>
                  </div>
                  <div class="modal-body">
                     <p>Currently your reported income $<%= @s.monthly_gross_income %> for your household size of <%= @s.dependent_no  %> is LOWER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to <a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.</p>
                  </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
           </div>


        <% elsif @disabled == true %>
          <div class="modal fade" id="income_explanation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Income Status</h4>
                  </div>
                  <div class="modal-body">
                    <p> Currently your reported income $<%= @s.monthly_gross_income %> combined with your receipt of disability benefits is LOWER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to <a href="http://www.dhs.state.il.us/page.aspx?item=33412"> policy 124 </a> and <a href="http://www.dhs.state.il.us/page.aspx?item=13632"> PM-05-06-01</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.</p>
                  </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
           </div>


        <% elsif @s.age.to_i > 59  %>
          <div class="modal fade" id="income_explanation" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                 <div class="modal-header">
                    <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Your Income Status</h4>
                  </div>
                  <div class="modal-body">
                     <p> Currently your reported income $<%= @s.monthly_gross_income %> combined with your reported age of <%= @s.age %> is LOWER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to <a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> and <a href="http://www.dhs.state.il.us/page.aspx?item=13632"> PM-05-06-01</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.</p>
                  </div>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div>
           </div>

        <% end %>

        <!-- CITIZEN EXPLANATION -->
        <% if @s.citizen == "yes" %>
            <div class="modal fade" id="citizenship_explanation" tabindex="-1" role="dialog" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Your Citizenship Status</h4>
                    </div>
                    <div class="modal-body">
                      <p>  Currently your citizenship status is reported as a citizen or legal permanent resident for at least 5 years wherein citizenship is allowable under <a href="https://www.dhs.state.il.us/page.aspx?item=13100"> PM 03-01-02-a</a> and legal permanent residency for at least 5 years is allowable under <a href="https://www.dhs.state.il.us/page.aspx?item=13183"> PM 03-01-02-g</a> of the Illinois Department of Human Services (DHS) Manual.
                      </p>
                    </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
             </div>
        <% end %>

        <!-- EDUCATION EXPLANATION -->
        <% if @eligible_student == "yes" %>
            <div class="modal fade" id="education_explanation" tabindex="-1" role="dialog" aria-labelledby="education_explanationLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Your Education Status</h4>
                    </div>
                    <div class="modal-body">
                       <p>  Currently your student status is reported as (half-time or more) at  a business, technical, trade, or vocational school that normally requires a high school diploma or the equivalent for enrollment in the course of study; or regular courses, including internet, mail, self-study, or correspondence courses, at an accredited college or university that offers degree programs which is consistent with an institution satisfying the policy requirements defining a student of higher education under <a href="https://www.dhs.state.il.us/page.aspx?item=13273">P M 03-04-03-a </a> and you reported the following condition(s) of (insert condition) which also satisfies policy <a href="https://www.dhs.state.il.us/page.aspx?item=13275"> PM 03-04-03-b</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.
                      </p>
                    </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
             </div>
        <% end %>

        <br>
        <br>
        <% if @age <= 22 %>
          <p class="subhead">However, make sure you accounted for your parents income, if you are still living in the same household</p>
        <% end %>

        <br>
         <% if @laf_disclaimer.present?  %>
              <p class="subhead"><%= @laf_disclaimer %></p>
         <% else  %>
              <p class="subhead"> Based on your zipcode, here is the nearest Community Service Center to access your Food Stamps: </p>
         <% end %>

         <%= render 'layouts/community_center' %>
      </div>
        <div class="row">
          <div class="col-sm-offset-3 col-md-offset-3 col-md-6 col-sm-6 col-xs-6">
            <p class="subhead"> To apply online before you visit:</p>
            <a href="https://abe.illinois.gov/abe/access/" onclick="ga('send', 'event', 'button', 'food_stamps', 'abe', 1);" class="btn btn-success btn-resolution" target="_blank">Click Here</a>
          </div>
        </div>
    </div>



<!-- USER MAYBE ELIGIBLE FOR FOODSTAMPS -->
    <% elsif @eligible == 'maybe' %>

      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
          <i class="fa fa-exclamation-circle fa-5x"></i>
            <h1>Something else in mind!</h1>

             <h4>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </h4>
            <br>

            <h4>The following information you reported impacted your eligibility status. Read More.</h4>
            <table class="table table-striped">
            <% if @hundred_dollar_range == true %>
              <tr>
                <td><i class="fa fa-question-circle"></i></td>
                <td><p>Your gross monthly income</p></td>
                <td><a href="#" data-toggle="modal" data-target="#income_explanation">Read More </a></td>
              </tr>
              <% end %>
            <% if @s.citizen == "yes" %>
              <tr>
                <td><i class="fa fa-check-circle "></i></td>
                <td><p>Your citizenship status</p></td>
                <td><a href="#" data-toggle="modal" data-target="#citizenship_explanation">Read More </a></td>
              </tr>
            <% else %>
              <tr>
                <td><i class="fa fa-question-circle"></i></td>
                <td><p>Your citizenship status</p></td>
                <td></td>
              </tr>
            <% end %>

            <% if @eligible_student == "yes" %>
              <tr>
                <td><i class="fa fa-check-circle "></i></td>
                <td><p>Your education status</p></td>
                <td><a href="#" data-toggle="modal" data-target="#education_explanation">Read More </a></td>
              </tr>
            <% else %>
              <tr>
                <td><p>N/A</p></td>
                <td><p>Your education status</p></td>
                <td></td>
              </tr>
            <% end %>
            </table>


          <!-- YOUR INCOME -->
            <div class="modal fade" id="income_explanation" tabindex="-1" role="dialog" aria-labelledby="income_explanationLabel" aria-hidden="true">
              <div class="modal-dialog">
                  <div class="modal-content">
                   <div class="modal-header">
                      <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                      <h4 class="modal-title">Your Income</h4>
                    </div>
                    <div class="modal-body">
                       <p>Currently your reported income $<%= @s.monthly_gross_income %> for your household size of <%= @s.dependent_no  %> is HIGHER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %>  according to<a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> of the Illinois Department of Human Services Policy Manual. But since the amount is within $100, we recommend calling a Legal Assistance Foundation eligibility expert located community service centers. (Source nearest community resource center)</p>
                    </div>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
             </div>

             <!-- CITIZEN EXPLANATION -->
             <% if @s.citizen == "yes" %>
                 <div class="modal fade" id="citizenship_explanation" tabindex="-1" role="dialog" aria-hidden="true">
                   <div class="modal-dialog">
                       <div class="modal-content">
                        <div class="modal-header">
                           <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                           <h4 class="modal-title">Your Citizenship Status</h4>
                         </div>
                         <div class="modal-body">
                           <p>  Currently your citizenship status is reported as a citizen or legal permanent resident for at least 5 years wherein citizenship is allowable under <a href="https://www.dhs.state.il.us/page.aspx?item=13100">PM 03-01-02-a</a> and legal permanent residency for at least 5 years is allowable under <a href="https://www.dhs.state.il.us/page.aspx?item=13183">PM 03-01-02-g</a> of the Illinois Department of Human Services (DHS) Manual.
                           </p>
                         </div>
                             <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                       </div>
                     </div>
                  </div>
             <% end %>

            <!-- EDUCATION EXPLANATION -->
            <% if @eligible_student == "yes" %>
                <div class="modal fade" id="education_explanation" tabindex="-1" role="dialog" aria-labelledby="education_explanationLabel" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                       <div class="modal-header">
                          <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Your Education Status</h4>
                        </div>
                        <div class="modal-body">
                           <p>  Currently your student status is reported as (half-time or more) at  a business, technical, trade, or vocational school that normally requires a high school diploma or the equivalent for enrollment in the course of study; or regular courses, including internet, mail, self-study, or correspondence courses, at an accredited college or university that offers degree programs which is consistent with an institution satisfying the policy requirements defining a student of higher education under <a href="https://www.dhs.state.il.us/page.aspx?item=13273">PM 03-04-03-a </a>and you reported the following condition(s) of (insert condition) which also satisfies policy <a href="https://www.dhs.state.il.us/page.aspx?item=13275">PM 03-04-03-b</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.
                          </p>
                        </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                 </div>
            <% end %>

          <% if @laf_disclaimer.present?  %>
            <p class="subhead"><%= @laf_disclaimer %></p>
          <% end %>

          <%= render 'layouts/community_center' %>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
        <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>
        </div>
      </div>

    </div>


<!-- USER IS NOT ELIGIBLE FOR FOODSTAMPS -->
    <% elsif @eligible == 'no' %>

      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
            <h1>Something else in mind!</h1>
            <h3>You likely do not qualify for food stamps. The following information you reported impacted your eligibility status. Read More.</h3>


            <table class="table table-striped">
              <% if @s.age >= 18  %>
              <tr>
                <td><i class="fa fa-times"></i></td>
                <td><p>Your gross monthly income</p></td>
                <td><a href="#" data-toggle="modal" data-target="#income_explanation">Read More </a></td>
              </tr>
              <% else %>
                <tr>
                  <td><i class="fa fa-times"></i></td>
                  <td><p>Your age</p></td>
                  <td><a href="#" data-toggle="modal" data-target="#age_explanation">Read More </a></td>
                </tr>
              <% end %>

              <% if @s.citizen == "yes" %>
                <tr>
                  <td><i class="fa fa-check-circle "></i></td>
                  <td><p>Your citizenship status</p></td>
                  <td><a href="#" data-toggle="modal" data-target="#citizenship_explanation">Read More </a></td>
                </tr>
              <% else %>
                <tr>
                  <td><p>N/A</p></td>
                  <td><p>Your citizenship status</p></td>
                  <td></td>
                </tr>
              <% end %>

              <% if @s.enrolled_in_education == "no" %>
                <tr>
                  <td><p>N/A</p></td>
                  <td><p>Your education status</p></td>
                  <td></td>
                </tr>
              <% end %>
            </table>

          <!-- INCOME EXPLANATION -->
              <div class="modal fade" id="income_explanation" tabindex="-1" role="dialog" aria-labelledby="income_explanationLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Your Income</h4>
                      </div>
                      <div class="modal-body">
                         <p>Currently your reported income  $<%= @s.monthly_gross_income %> for your household size of <%= @s.dependent_no  %> is HIGHER the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to  <a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> of the Illinois Department of Human Services Policy Manual and you do not qualify for SNAP (food stamps) benefits. However, below are some local resources that can help. </p>
                      </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
               </div>

            <!-- AGE EXPLANATION -->
              <div class="modal fade" id="age_explanation" tabindex="-1" role="dialog" aria-labelledby="age_explanationLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                     <div class="modal-header">
                        <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title">Your Age</h4>
                      </div>
                      <div class="modal-body">
                        <p>Currently your reported age of <%= @s.age %> is below 18 and you are too young to qualify for SNAP (food stamp) benefits. We recommend exploring these options with other members of your household.  However, below are some local resources that can help. </p>
                      </div>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                  </div>
               </div>

            <!-- CITIZEN EXPLANATION -->
            <% if @s.citizen == "yes" %>
                <div class="modal fade" id="citizenship_explanation" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="modal-content">
                       <div class="modal-header">
                          <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                          <h4 class="modal-title">Your Citizenship Status</h4>
                        </div>
                        <div class="modal-body">
                          <p>  Currently your citizenship status is reported as a citizen or legal permanent resident for at least 5 years wherein citizenship is allowable under <a href="https://www.dhs.state.il.us/page.aspx?item=13100"> PM 03-01-02-a</a> and legal permanent residency for at least 5 years is allowable under <a href="https://www.dhs.state.il.us/page.aspx?item=13183">PM 03-01-02-g</a> of the Illinois Department of Human Services (DHS) Manual.
                          </p>
                        </div>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>
                 </div>
            <% end %>

          <br>
          <div class="row">
            <p class="subhead">Direct2Food is an online resource that will help you locate the food pantries, soup kitchens, and meal programs closest to you. To find resources near you</p>
            <a href="http://www.direct2food.org/" onclick="ga('send', 'event', 'button', 'food_stamps', 'direct2food', 1);" class="btn btn-success btn-resolution" target="_blank">Click Here</a>
          </div>

          <br>

          <div class="row">
            <h4>Here are some additional resources from Purple Binder:</h4>
          </div>
          <br>

          <div class="row">
          <% if @food_resources_zip.count >= 2 %>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_zip.first.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_zip.first.street %>  <%= @food_resources_zip.first.city %> <%= @food_resources_zip.first.state %>, <%= @food_resources_zip.first.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_zip.first.phone %> </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_zip.second.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_zip.second.street %>  <%= @food_resources_zip.second.city %> <%= @food_resources_zip.second.state %>, <%= @food_resources_zip.second.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_zip.second.phone %> </li>
              </ul>
            </div>
            <% end %>
          </div>

          <div class="row">
          <% if @food_resources_first.present? %>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_first.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_first.street %>  <%= @food_resources_first.city %> <%= @food_resources_first.state %>, <%= @food_resources_first.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_first.phone %> </li>
              </ul>
            </div>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_second.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_second.street %>  <%= @food_resources_second.city %> <%= @food_resources_second.state %>, <%= @food_resources_second.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_second.phone %> </li>
              </ul>
            </div>
            <% end %>
          </div>
          <%= image_tag("pblogo.jpg", :class => "logo-padding") %>
        <% end %>
      </div>
</div>
</div>

<br>
<br>
<br>
<br>
