 <div class="container">
<%= render "layouts/print_button" %>
<% if @eligible == 'yes' %>
      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
             <i class="fa fa-check-circle fa-5x"></i>
              <h1>You may be in luck!</h1>
              <h3>The following information you reported impacted your eligibility status. Read More.</h3>

        <br>
        <br>
      <table class="table table-striped">
      <tr>
        <td><i class="fa fa-check-circle "></i></td>
        <% if @s.age.to_i <= 59 %>
          <td><p>Your gross monthly income</p></td>
        <% else %>
          <td><p>Your gross monthly income and age</p></td>
        <% end %>
        <td> <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#income_explanation" aria-expanded="false" aria-controls="income_explanation">Read More </a></td>
      </tr>

      <% if @eligible_student == "yes" %>
        <tr>
          <td><i class="fa fa-check-circle "></i></td>
          <td><p>Your education status</p></td>
          <td><a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#education_explanation" aria-expanded="false" aria-controls="education_explanation">Read More </a></td>
        </tr>
      <% else %>
        <tr>
          <td><p>N/A</p></td>
          <td><p>Your education status</p></td>
         <!--  <td><p>Read More</p></td> -->
        </tr>
      <% end %>
      </table>


      <!-- INCOME EXPLANATION -->
        <% if @disabled != true && @s.age.to_i <= 59 %>

          <div id="income_explanation" class="panel-collapse collapse" role="tabpanel" >
              <div class="panel-body">
                 <p>Currently your reported income $<%= @s.monthly_gross_income %> for your household size of <%= @s.dependent_no  %> is LOWER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to <a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.</p>
              </div>
            </div>

        <% elsif @disabled == true %>
          <div id="income_explanation" class="panel-collapse collapse" role="tabpanel" >
              <div class="panel-body">
                  <p> Currently your reported income $<%= @s.monthly_gross_income %> combined with your receipt of disability benefits is LOWER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to <a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> and <a href="http://www.dhs.state.il.us/page.aspx?item=13632">PM-05-06-01</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.</p>
              </div>
            </div>

        <% elsif @s.age.to_i > 59  %>
          <div id="income_explanation" class="panel-collapse collapse" role="tabpanel" >
              <div class="panel-body">
                 <p> Currently your reported income $<%= @s.monthly_gross_income %> combined with your reported age of <%= @s.age %> is LOWER than the maximum income allowable $<%= number_with_precision(@snap_eligibility.snap_gross_income, precision: 2) %> according to <a href="http://www.dhs.state.il.us/page.aspx?item=33412">policy 124 </a> and <a href="http://www.dhs.state.il.us/page.aspx?item=13632">PM-05-06-01</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.</p>
              </div>
            </div>

        <% end %>


        <!-- EDUCATION EXPLANATION -->
        <% if @eligible_student == "yes" %>

            <div id="education_explanation" class="panel-collapse collapse" role="tabpanel" >
                <div class="panel-body">
                   <p>  Currently your student status is reported as (half-time or more) at  a business, technical, trade, or vocational school that normally requires a high school diploma or the equivalent for enrollment in the course of study; or regular courses, including internet, mail, self-study, or correspondence courses, at an accredited college or university that offers degree programs which is consistent with an institution satisfying the policy requirements defining a student of higher education under <a href="https://www.dhs.state.il.us/page.aspx?item=13273">PM 03-04-03-a </a>and you reported the following condition(s) of (insert condition) which also satisfies policy <a href="https://www.dhs.state.il.us/page.aspx?item=13275">PM 03-04-03-b</a> of the Illinois Department of Human Services (DHS) Manual. Once you apply, you should hear within 30 business days about your in-person interview with DHS.
</p>
                </div>
              </div>


        <% end %>

        <br>
        <br>
        <% if @age <= 22 %>
          <p class="subhead">However, make sure you accounted for your parents income, if you are still living in the same household</p>
        <% end %>

        <br>
         <% if @laf_disclaimer.present?  %>
              <p class="subhead"><%= @laf_disclaimer %></p>
         <% else  %>
              <p class="subhead"> Based on your zipcode, here is the nearest Community Service Center to access your Food Stamps: </p>
         <% end %>

         <%= render 'layouts/community_center' %>
      </div>
        <div class="row">
          <div class="col-sm-offset-3 col-md-offset-3 col-md-6 col-sm-6 col-xs-6">
            <p class="subhead"> To apply online before you visit:</p>
            <a href="https://abe.illinois.gov/abe/access/" onclick="ga('send', 'event', 'button', 'food_stamps', 'abe', 1);" class="btn btn-success btn-resolution" target="_blank">Click Here</a>
          </div>
        </div>
    </div>

    <% elsif @eligible == 'maybe' %>

      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
          <i class="fa fa-exclamation-circle fa-5x"></i>
            <h1>Something else in mind!</h1>
             <h4>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Food Stamp expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your food stamp eligibility with you. </h4>
            <br>

            <% if @laf_disclaimer.present?  %>
              <p class="subhead"><%= @laf_disclaimer %></p>
            <% end %>

            <%= render 'layouts/community_center' %>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
        <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>
        </div>
      </div>

    </div>


    <% elsif @eligible == 'no' %>

      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
            <h1>Something else in mind!</h1>
            <h4>Based on your household size and income, you likely do not qualify for food stamps.</h4>

            <br>

          <div class="row">
            <p class="subhead">Direct2Food is an online resource that will help you locate the food pantries, soup kitchens, and meal programs closest to you. To find resources near you</p>
            <a href="http://www.direct2food.org/" onclick="ga('send', 'event', 'button', 'food_stamps', 'direct2food', 1);" class="btn btn-success btn-resolution" target="_blank">Click Here</a>
          </div>

          <br>

          <div class="row">
            <h4>Here are some additional resources from Purple Binder:</h4>
          </div>
          <br>

          <div class="row">

          <% if @food_resources_zip.count >= 2 %>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_zip.first.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_zip.first.street %>  <%= @food_resources_zip.first.city %> <%= @food_resources_zip.first.state %>, <%= @food_resources_zip.first.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_zip.first.phone %> </li>
              </ul>
            </div>

            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_zip.second.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_zip.second.street %>  <%= @food_resources_zip.second.city %> <%= @food_resources_zip.second.state %>, <%= @food_resources_zip.second.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_zip.second.phone %> </li>
              </ul>
            </div>
            <% end %>
          </div>

          <div class="row">
          <% if @food_resources_first.present? %>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_first.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_first.street %>  <%= @food_resources_first.city %> <%= @food_resources_first.state %>, <%= @food_resources_first.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_first.phone %> </li>
              </ul>
            </div>

            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @food_resources_second.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_second.street %>  <%= @food_resources_second.city %> <%= @food_resources_second.state %>, <%= @food_resources_second.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_second.phone %> </li>
              </ul>
            </div>
            <% end %>
          </div>

          <%= image_tag("pblogo.jpg", :class => "logo-padding") %>

        <% end %>
      </div>
</div>

</div>

<br>
<br>
<br>
<br>
