<div class="container">
<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>Food Stamps</h1>
      <p> Food stamps, or Supplemental Nutrition Assistance Program (SNAP), helps low-income people and families buy the food they need for good health.
      Benefits are provided on the Illinois Link Card - an electronic card that is accepted at most grocery stores.
      You can find more information about SNAP/food stamps by <a href="http://www.dhs.state.il.us/page.aspx?item=30357"> clicking here.</a></p>
    </div>
  </div>
</section>
<section class="content-section">
  <form action="/snap_eligibilities" role="form" method="post">

  <!-- Form for age question -->
    <%= render "programs/age_question" %>

  <!-- Form for household size -->
    <div class="row">
      <div class="col-md-5">
        <label for="snap_dependent_no">What is the number of people living in your household including yourself?</label>
        <input type="text" id="snap_dependent_no" name="snap_dependent_no" placeholder="For example: 3" class="form-field" value="<%= @current_user.try(:household_size) %>" required>
      </div>
    </div>

  <!-- Form for gross monthly income -->
    <div class="row">
      <div class="col-md-5">
        <label for="snap_gross_income">What is your gross monthly income?</label>
        <input type="text" id="snap_gross_income" name="snap_gross_income" placeholder="For example: 1000" class="form-field" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %>" required>
      </div>
    </div>

  <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

  <!-- Form for education -->
    <div class="row">
      <div class="col-md-5" id="education_question">
        <label for="education" id="education">Are you enrolled in college/institution of higher education?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |education| %>
            <%= radio_button_tag 'education', education, @d.enrolled_in_education == education %>
            <%= education.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="place_for_student_questions"></div>

  <!-- Form for citizen question -->
    <%= render "programs/citizen_question" %>

  <!-- Form for amount in account -->
    <div class="row">
      <div class="col-md-5">
        <label for="amount_in_account" id="amount_in_account">Do you have $100 or less in cash or in a checking or savings account?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |amount_in_account| %>
            <%= radio_button_tag 'amount_in_account', amount_in_account, @d.amount_in_account == amount_in_account %>
            <%= amount_in_account.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

  <!-- Form for disability question -->
    <%= render "programs/disability_question" %>

  <!-- Form for location question -->
    <%= render "programs/location_question" %>

  <!-- Form for cellphone question -->
    <%= render "programs/cellphone_question" %>

  <!-- Submit button -->
    <%= render "programs/submit_button" %>
  </form>
</section>
</div>


<script>
$(document).ready(function() {
  //popover code
  $(function (){
    $("[data-toggle='popover']").popover();
  });
  $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
  });
  //education hover mechanism
     $( "#education_question" ).hover(
       function() {
           $( this ).append( $( "<p class=\"hover_explanation\">Eligibile schools include: a business, technical, trade, or vocational school that normally requires a high school diploma or the equivalent for enrollment in the course of study; or regular courses, including internet, mail, self-study, or correspondence courses, at an accredited college or university that offers degree programs.</p>" ) );
         },
       function() {
         $( this ).find( "p:last" ).remove();
       }
     );
    //student JavaScript
    $("input:radio[name=education]").click(function() {
    var value = $(this).val();
      if (value == "yes") {
        $('.place_for_student_questions').empty().append("<%= escape_javascript(render "snap_eligibilities/student_questions", :work_status => @d.work_status, :student_status => @d.student_status ) %>");
      }
      if (value == "no") {
        $('.student_questions').remove();
      }
    });
    if($('input:radio[name=education][value="yes"]').prop('checked')){
        $('.place_for_student_questions').append("<%= escape_javascript(render "snap_eligibilities/student_questions",   :work_status => @d.work_status, :student_status => @d.student_status ) %>");
    }
});
</script>
