%p#notice= notice
%p
  %strong Snap dependent no:
  = @snap_eligibility.snap_dependent_no
%p
  %strong Snap gross income:
  = @snap_eligibility.snap_gross_income
= link_to 'Edit', edit_snap_eligibility_path(@snap_eligibility)
|
\#{link_to 'Back', snap_eligibilities_path}
