= form_for(@head_start) do |f|
  - if @head_start.errors.any?
    #error_explanation
      %h2
        = pluralize(@head_start.errors.count, "error")
        prohibited this head_start from being saved:
      %ul
        - @head_start.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :hs_dependent_no
    %br/
    = f.number_field :hs_dependent_no
  .field
    = f.label :hs_gross_income
    %br/
    = f.text_field :hs_gross_income
  .actions
    = f.submit
