%h1 Listing head_starts
%table
  %thead
    %tr
      %th Hs dependent no
      %th Hs gross income
      %th{:colspan => "3"}
  %tbody
    - @head_starts.each do |head_start|
      %tr
        %td= head_start.hs_dependent_no
        %td= head_start.hs_gross_income
        %td= link_to 'Show', head_start
        %td= link_to 'Edit', edit_head_start_path(head_start)
        %td= link_to 'Destroy', head_start, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Head start', new_head_start_path
