<div class= "container">
<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>Head Start</h1>
      <p> Head Start provides educational and early childhood development activities that promote school readiness for three to five year old children from low-income families. It includes free medical, dental, and mental health services and nutritious meals, as well as parent education and training.You can find more information on Head Start by <a href="http://chicagoearlylearning.org/faq"> clicking here.</a></p>
    </div>
  </div>
</section>
<section class="content-section">
<div class="row">
  <div class="col-md-8">
    <form action="/head_starts" role="form" method="post">


    <div class="row">
      <div class="col-md-12">
        <label>If you are either pregnant or have a child who is between 3 and 5 years old, you may be eligible for Head Start.</label>
      </div>
    </div>

    <!-- Form for child birthdate -->
      <div class="row">
        <div class="col-md-9">
          <label for="child_birthdate" id="case_management" >Is the applicant child 3-years-old by Sep. 1st and not 5-years-old before Sep. 1st?</label>
            <div class="radio-button">
            <div id="child-birthdate">
             <%= radio_button_tag 'child_birthdate', 'yes' %> yes
            <%= radio_button_tag 'child_birthdate', 'no' %> no
            </div>
            </div>
        </div>
      </div>


    <!-- Form for dependent no -->
      <div class="row">
       <div class="col-md-9">
        <label for="hs_dependent_no">How many dependents (including yourself) are in your household?</label>
          <p type="button" data-toggle="popover" data-content="Number of people living in your household, including yourself." data-placement="right" style="border: 0px; color: #4582ec;">
            <input type="text" id="hs_dependent_no" name="hs_dependent_no" placeholder="For example: 3" class="form-field" value="<%= @d.dependent_no %>" required>
          </p>
        </div>
      </div>



    <!-- Form for gross annual income -->
      <div class="row">
       <div class="col-md-9">
        <label for="hs_gross_income">What is your gross annual income?</label>
          <p type="button" data-toggle="popover" data-content="Your income per year before tax deductions." data-placement="right" style="border: 0px; color: #4582ec;">
           <input type="text" id="hs_gross_income" name="hs_gross_income" placeholder="For example: 30000" class="form-field" value="<%= @d.gross_annual_income %>" required>
           </p>
        </div>
      </div>


    <!-- Form for zipcode -->
      <%= render "programs/zipcode_question" %>

    <!-- Form for location question -->
      <%= render "programs/location_question" %>

    <!-- Form for cellphone question -->
      <%= render "programs/cellphone_question" %>

    <!-- Submit button -->
      <%= render "programs/submit_button" %>

  </form>
  </div>

  <div class="col-md-3 sm-3 xs-12 pull-left">
    <div class="calculator_box">
      <%= render "programs/calculator" %>
    </div>
  </div>

  </div>
</section>
</div>


