%p#notice= notice
%p
  %strong Hs dependent no:
  = @head_start.hs_dependent_no
%p
  %strong Hs gross income:
  = @head_start.hs_gross_income
= link_to 'Edit', edit_head_start_path(@head_start)
|
\#{link_to 'Back', head_starts_path}
