<p id="notice"><%= notice %></p>

<p>
  <strong>Hs dependent no:</strong>
  <%= @head_start.hs_dependent_no %>
</p>

<p>
  <strong>Hs gross income:</strong>
  <%= @head_start.hs_gross_income %>
</p>

<%= link_to 'Edit', edit_head_start_path(@head_start) %> |
<%= link_to 'Back', head_starts_path %>
