<%= form_for(@rta_free_ride) do |f| %>
  <% if @rta_free_ride.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rta_free_ride.errors.count, "error") %> prohibited this rta_free_ride from being saved:</h2>

      <ul>
      <% @rta_free_ride.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :rta_dependent_no %><br>
    <%= f.number_field :rta_dependent_no %>
  </div>
  <div class="field">
    <%= f.label :rta_gross_income %><br>
    <%= f.text_field :rta_gross_income %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
