%h1 Listing rta_free_rides
%table
  %thead
    %tr
      %th Rta dependent no
      %th Rta gross income
      %th{:colspan => "3"}
  %tbody
    - @rta_free_rides.each do |rta_free_ride|
      %tr
        %td= rta_free_ride.rta_dependent_no
        %td= rta_free_ride.rta_gross_income
        %td= link_to 'Show', rta_free_ride
        %td= link_to 'Edit', edit_rta_free_ride_path(rta_free_ride)
        %td= link_to 'Destroy', rta_free_ride, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Rta free ride', new_rta_free_ride_path
