<div class= "container">

<div class="page-header col-md-10 col-md-offset-1" style="border:none;">
   <h1>Do I qualify for RTA Ride Free?</h1>
 <div class="subhead"> <p>RTA Ride Free provides free rides on fixed-route transit (regularly scheduled CTA, Metra and Pace buses or trains) for any Illinois resident who is enrolled in the Illinois Department on Aging Benefit Access Program. You must also have a disability or be a senior aged 65 or older.</p>
 </div>

  <p>You can find more information about RTA RIDE FREE by <a href="http://www.rtachicago.com/images/stories/Ride_Free_Brochure_2013.pdf">clicking here.</a></p>

  <p>Please click <a href="http://www.illinois.gov/aging/BenefitsAccess/Pages/Eligibility%20and%20Frequently-Asked-Questions.aspx">here</a> for disability criteria.</p>
</div>


<div class="row">
  <div class="panel panel-default col-md-8 col-sm-7 pull-left">
    <div class="panel-body">

    <form action="/rta_free_rides" role="form" method="post">

   <div class="row">
     <div class="form-group col-sm-9">
       <label for="age">How old are you?</label>
       <input type="text" id="age" name="age" placeholder="For example: 27" class="form-control" value="<%= @r.age %>"   required>
     </div>
   </div>

  <div class="row">
    <div class="form-group col-sm-9">
      <label for="disabled" id="disabled">Are you receiving disability benefits?</label>
        <div id="disabled">
          <%= radio_button_tag 'disabled', 'social-security' %>  Yes, from Social Security <br>
          <%= radio_button_tag 'disabled', 'railroad' %> Yes, from the Railroad Retirement Board <br>
          <%= radio_button_tag 'disabled', 'veterans' %>  Yes, from Veterans Affairs <br>
          <%= radio_button_tag 'disabled', 'none' %> No <br>
        </div>
    </div>
  </div>

  <!-- Label and input for rta_dependent_no -->
  <div class="row">
  <div class="form-group col-sm-9">
    <label for="rta_dependent_no">How many dependents (including yourself) are in your household?
    <button type="button" data-toggle="popover" data-content="Number of people living in your household, including yourself, your spouse (if applicable), and/or resident for whom you (or you and your spouse) provided more than half of that person's total financial support last year." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
    </label>
    <div class="row">
       <div class="form-group col-md-12">
       <p type="button" data-toggle="popover" data-content="Number of people living in your household, including yourself, your spouse (if applicable), and/or resident for whom you (or you and your spouse) provided more than half of that person's total financial support last year." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA">
        <input type="text" id="rta_dependent_no" name="rta_dependent_no" placeholder="For example: 3" class="form-control" value="<%= @r.dependent_no %>" required>
        </p>
      </div>
    </div>
  </div>
  </div>

  <!-- Label and input for rta_gross_income -->
    <div class="row">
      <div class="form-group col-sm-9">
        <label for="rta_gross_income">
          What is your gross annual income?
        </label>
          <button type="button" data-toggle="popover" data-content="Your total income before tax deductions, including your spouse's income if married and living together on December 31 of last year, and that of a qualified additional resident (if applicable)." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <p type="button" data-toggle="popover" data-content="Your total income before tax deductions, including your spouse's income if married and living together on December 31 of last year, and that of a qualified additional resident (if applicable)." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA">
            <input type="text" id="rta_gross_income" name="rta_gross_income" placeholder="For example: 30000" class="form-control" value= "<%= @r.gross_annual_income %>" required>
          </p>
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>

     <div class="row">
      <div class="form-group col-sm-9 ">
        <label for="zipcode">What is your zipcode?</label>
          <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-control" value="<%= @r.zipcode.chop.chop if @r.zipcode.present? %>"required>
      </div>
     </div>

    <div class="row">
      <div class="form-group col-sm-9">
      <label for="location" id="location_dropdown">Where are you completing this form? </label>
      <%= select_tag(:user_location, options_for_select([['King Community Service Center', 'king_community_service_center'], ['Harold Washington Library', 'harold_washington_library'], ['Other Library', 'other_library'], ['Center for Working Families', 'center_for_working_families'], ['CTA Bus', 'cta_bus'],['Other', 'other']], @r.user_location), :class => "form-control", :prompt => "Select a location") %>
      </div>
    </div>

    <div class="row">
    <div class="form-group col-sm-9">
      <label for="phone_number">What is your cell phone number?</label>
        <button type="button" data-toggle="popover" data-content="We will use this number to send you reminders throughout the application process." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
      <div>
        <p type="button" data-toggle="popover" data-content="We will use this number to send you reminders throughout the application process." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA">
          <input type="text" id="phone_number" name="phone_number" placeholder="For example: 3125555555" class="form-control" value="<%= @r.phone_number %>" required>
        </p>
      </div>
    </div>
    </div>


  <div>
    <button type="submit" class="btn btn-primary program-btn">See if I qualify</button>
  </div>


</form>
</div>

</div>
<div class="col-md-3 sm-3 xs-12 pull-left">
  <div class="calculator_box">
    <%= render "programs/calculator" %>
  </div>
</div>
</div>
</div>

<script>
$(document).ready(function() {

  //this is the map scroll down thing
  $(window).scroll(function() {
    if($(this).scrollTop() > 310 && $(this).width() > 750) {
      $('.calculator_box').addClass('sticky_calculator');
    } else {
      $('.calculator_box').removeClass('sticky_calculator');
    }
  });

  $(window).scroll(function() {
    if($(this).scrollTop() < 310) {
      $('.calculator_box').removeClass('sticky_calculator');
    }
  });

  $(window).scroll(function() {
    if($(this).width() < 750) {
      $('.calculator').removeClass('sticky_calculator');
    }
  });
    $(function (){
        $("[data-toggle='popover']").popover();
      });

    $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
});
</script>



