<div class= "container">

<section class="content-section marquee">
  <div class="row">
    <div class="col-md-12">
      <h1>RTA Ride Free</h1>
      <p>RTA Ride Free provides free rides on fixed-route transit (regularly scheduled CTA, Metra and Pace buses or trains) for any Illinois resident who is enrolled in the Illinois Department on Aging Benefit Access Program. You must also have a disability or be a senior aged 65 or older.
      You can find more information about RTA Ride Free by <a href="http://www.rtachicago.com/images/stories/Ride_Free_Brochure_2013.pdf">clicking here.</a>
      Please <a href="http://www.illinois.gov/aging/BenefitsAccess/Pages/Eligibility%20and%20Frequently-Asked-Questions.aspx">click  here</a> for disability criteria.</p>
    </div>
  </div>
</section>


<section class="content-section">
<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">
    <form action="/rta_free_rides" role="form" method="post">

    <!-- Form for age question -->
      <%= render "programs/age_question" %>

    <!-- Form fro disability question -->
      <%= render "programs/disability_question" %>

    <!-- Form for dependent_no question -->
      <%= render "programs/dependent_question" %>

    <!-- Form for gross_income question -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12">
          <label for="rta_gross_income"> What is your gross annual income?</label>
              <p type="button" data-toggle="popover" data-content="Your total income before tax deductions, including your spouse's income if married and living together on December 31 of last year, and that of a qualified additional resident (if applicable)." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">

              <input type="text" id="rta_gross_income" name="rta_gross_income" placeholder="For example: 30000" class="form-field" value= "<%= @d.gross_annual_income %>" required>

              </p>
        </div>
      </div>

     <!-- Form for zipcode -->
     <%= render "programs/zipcode_question" %>

     <!-- Form for location question -->
     <%= render "programs/location_question" %>

     <!-- Form for cellphone question -->
     <%= render "programs/cellphone_question" %>

     <!-- Submit button -->
     <%= render "programs/submit_button" %>

  </form>
  </div>

    <div class="col-md-3 sm-3 xs-12 pull-left">
      <div class="calculator_box">
        <%= render "programs/calculator" %>
      </div>
    </div>

  </div>
  </section>
</div>



