<div class= "container">
  <script>$(function ()
      { $("[data-toggle='popover']").popover();
      });
   </script>

<div class="page-header col-md-10 col-md-offset-1" style="border:none;">
   <h1>Do I qualify for RTA Ride Free?</h1>
 <div class="subhead"> <p>RTA Ride Free provides free rides on fixed-route transit (regularly scheduled CTA, Metra and Pace buses or trains) for any Illinois resident who is enrolled in the Illinois Department on Aging Benefit Access Program. You must also have a disability or be a senior aged 65 or older.</p>
 </div>


  <p>You can find more information about RTA RIDE FREE by <a href="http://www.rtachicago.com/images/stories/Ride_Free_Brochure_2013.pdf">clicking here.</a></p>

  <p>Please click <a href="http://www.illinois.gov/aging/BenefitsAccess/Pages/Eligibility%20and%20Frequently-Asked-Questions.aspx">here</a> for disability criteria.</p>
</div>
 </div>

<% if @rta_free_ride.errors.any? %>
  <% @rta_free_ride.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="row">
  <div class="panel panel-default col-md-8 col-md-offset-2">
    <div class="panel-body">

      <form action="/rta_free_rides" role="form" method="post">


        <div class="form-group col-md-12">
          <label for="age">How old are you?</label>
          <input type="text" id="age" name="age" placeholder="For example: 27" class="form-control" required>
        </div>

        <div class="form-group col-md-12">
        <label for="disabled" id="disabled">If you are disabled, describe your current status:</label>
          <div id="disabled">
            <%= radio_button_tag 'disabled', 'social-security' %>  I am receiving disability payments from Social Security.  <br>
            <%= radio_button_tag 'disabled', 'railroad' %>  I am receiving disability payments from the Railroad Retirement Board.     <br>
            <%= radio_button_tag 'disabled', 'veterans' %>  I am receiving disability payments from Veterans
            Affairs.   <br>
            <%= radio_button_tag 'disabled', 'none' %> I am currently not receiving any disability payments  <br>
          </div>
        </div>


  <!-- Label and input for rta_dependent_no -->

  <div class="form-group col-md-12">

    <label for="rta_dependent_no">How many dependents (including yourself) are in your household?</label>

    <button type="button" data-toggle="popover" data-content="Number of people living in your household, including yourself, your spouse (if applicable), and/or resident for whom you (or you and your spouse) provided more than half of that person's total financial support last year." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

    <div class="row">
       <div class="form-group col-md-6">
        <input type="text" id="rta_dependent_no" name="rta_dependent_no" placeholder="For example: 3" class="form-control" value="<%= @rta_free_ride.rta_dependent_no %>" required>
      </div>
    </div>


  <!-- Label and input for rta_gross_income -->
    <div class="row">
      <div class="form-group col-sm-9">
        <label for="rta_gross_income">
          What is your gross annual income?
        </label>

          <button type="button" data-toggle="popover" data-content="Your total income before tax deductions, including your spouse's income if married and living together on December 31 of last year, and that of a qualified additional resident (if applicable)." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>

        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" id="rta_gross_income" name="rta_gross_income" placeholder="For example: 30000" class="form-control" value= "<%= @rta_free_ride.rta_gross_income %>" required>
          <span class="input-group-addon">.00</span>
        </div>
      </div>
    </div>

    <%= render 'programs/zipcode_question' %>

    <div class="row">
      <div class="col-md-6">
        <%= render "programs/calculator" %>
      </div>
    </div>

  <div>
      <button type="submit" class="btn btn-primary program-btn">See if I qualify</button>
  </div>

  </div>

  </div>
</form>
</div>





