<%= form_for(@early_head_start) do |f| %>
  <% if @early_head_start.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@early_head_start.errors.count, "error") %> prohibited this early_head_start from being saved:</h2>

      <ul>
      <% @early_head_start.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :ehs_dependent_no %><br>
    <%= f.number_field :ehs_dependent_no %>
  </div>
  <div class="field">
    <%= f.label :ehs_gross_income %><br>
    <%= f.text_field :ehs_gross_income %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
