<h1>Listing early_head_starts</h1>

<table>
  <thead>
    <tr>
      <th>Ehs dependent no</th>
      <th>Ehs gross income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @early_head_starts.each do |early_head_start| %>
      <tr>
        <td><%= early_head_start.ehs_dependent_no %></td>
        <td><%= early_head_start.ehs_gross_income %></td>
        <td><%= link_to 'Show', early_head_start %></td>
        <td><%= link_to 'Edit', edit_early_head_start_path(early_head_start) %></td>
        <td><%= link_to 'Destroy', early_head_start, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Early head start', new_early_head_start_path %>
