%p#notice= notice
%p
  %strong Ehs dependent no:
  = @early_head_start.ehs_dependent_no
%p
  %strong Ehs gross income:
  = @early_head_start.ehs_gross_income
= link_to 'Edit', edit_early_head_start_path(@early_head_start)
|
\#{link_to 'Back', early_head_starts_path}
