<%= form_for(@housing_assistance) do |f| %>
  <% if @housing_assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@housing_assistance.errors.count, "error") %> prohibited this housing_assistance from being saved:</h2>

      <ul>
      <% @housing_assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :housing_dependent_no %><br>
    <%= f.number_field :housing_dependent_no %>
  </div>
  <div class="field">
    <%= f.label :housing_gross_income %><br>
    <%= f.text_field :housing_gross_income %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
