<h1>Listing housing_assistances</h1>

<table>
  <thead>
    <tr>
      <th>Housing dependent no</th>
      <th>Housing gross income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @housing_assistances.each do |housing_assistance| %>
      <tr>
        <td><%= housing_assistance.housing_dependent_no %></td>
        <td><%= housing_assistance.housing_gross_income %></td>
        <td><%= link_to 'Show', housing_assistance %></td>
        <td><%= link_to 'Edit', edit_housing_assistance_path(housing_assistance) %></td>
        <td><%= link_to 'Destroy', housing_assistance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Housing assistance', new_housing_assistance_path %>
