%h1 Listing housing_assistances
%table
  %thead
    %tr
      %th Housing dependent no
      %th Housing gross income
      %th{:colspan => "3"}
  %tbody
    - @housing_assistances.each do |housing_assistance|
      %tr
        %td= housing_assistance.housing_dependent_no
        %td= housing_assistance.housing_gross_income
        %td= link_to 'Show', housing_assistance
        %td= link_to 'Edit', edit_housing_assistance_path(housing_assistance)
        %td= link_to 'Destroy', housing_assistance, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Housing assistance', new_housing_assistance_path
