<p id="notice"><%= notice %></p>

<p>
  <strong>Housing dependent no:</strong>
  <%= @housing_assistance.housing_dependent_no %>
</p>

<p>
  <strong>Housing gross income:</strong>
  <%= @housing_assistance.housing_gross_income %>
</p>

<%= link_to 'Edit', edit_housing_assistance_path(@housing_assistance) %> |
<%= link_to 'Back', housing_assistances_path %>
