<div class="laf-list">
  <ul>
    <li class="laf-headline">Catholic Charities WIC Location</li>
    <li><%= @wic_location.address %>  <%= @wic_location.city %> <%= @wic_location.state %>, <%= @wic_location.zipcode %>  </li>
    <li><%= @wic_location.phone_number %> </li>
  </ul>
</div>