<div class="container">
<%= render "layouts/print_button" %>
<% if @eligible %>

<!--   <div class="page-header"></div>
 -->
        <div class="row" style="text-align:center;">
           <div class="col-md-8 col-md-offset-2">
               <i class="fa fa-check-circle fa-5x"></i>
                <h1>You may be in luck!</h1>
                <h4>Based on your household size, income, and nutrition risk, you qualify for WIC.</h4>

          <br>
          <br>
          <br>

          <div class="row">
            <div class="text-center">
              <p class="subhead"> To find a resource center near you or for more information:</p>
              <%= link_to "Click Here", "www.cedaorg.net", :class => "btn btn-success btn-resolution" %>
              <p class="subhead"> or call (855)WIC-CEDA (855-942-2332).</p>
            </div>


          </div>
        </div>
      </div>

<% else %>

<!--      <div class="page-header"></div>
 -->
           <div class="row" style="text-align:center;">
             <div class="col-md-8 col-md-offset-2">
                 <h1>Something else in mind!</h1>
                 <h4>Based on your household size and income, you likely do not qualify for WIC.</h4>

                 <br>


               <div class="row">
                 <p class="subhead">Firman Community Services has programs focusing on the health of families and children. </p>
                 <%= link_to "Click Here to visit their website", "http://www.direct2food.org/", :class => "btn btn-success btn-resolution" %>
                 <p class="subhead">or call their office to identify the best resource at: 773- 373-3400.</p>
               </div>

               <br>

               <br>

          <div class="row">
            <h4>Here are some additional resources from Purple Binder:</h4>
          </div>
          <br>

          <div class="row">

          <% if @child_resources_zip.count >= 2 %>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @child_resources_zip.first.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_zip.first.street %>  <%= @child_resources_zip.first.city %> <%= @child_resources_zip.first.state %>, <%= @child_resources_zip.first.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_zip.first.phone %> </li>
              </ul>
            </div>

            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @child_resources_zip.second.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_zip.second.street %>  <%= @child_resources_zip.second.city %> <%= @child_resources_zip.second.state %>, <%= @child_resources_zip.second.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_zip.second.phone %> </li>
              </ul>
            </div>
            <% end %>
          </div>


          <div class="row">
          <% if @child_resources_first.present? %>
            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @child_resources_first.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_first.street %>  <%= @child_resources_first.city %> <%= @child_resources_first.state %>, <%= @child_resources_first.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_first.phone %> </li>
              </ul>
            </div>

            <div class="col-md-6 col-sm-6">
              <ul class="list-group" style="text-align:left;">
                <li class="list-group-item" style="font-weight:bold"><%= @child_resources_second.name %>  </li>
                <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_second.street %>  <%= @child_resources_second.city %> <%= @child_resources_second.state %>, <%= @child_resources_second.zip %> </li>
                <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_second.phone %> </li>
              </ul>
            </div>
            <% end %>
          </div>

           <%= image_tag("pblogo.jpg", :class => "logo-padding") %>
        </div>
        </div>


  <% end %>
</div>
