%h1 Listing wics
%table
  %thead
    %tr
      %th Wic household size
      %th Wic gross income
      %th{:colspan => "3"}
  %tbody
    - @wics.each do |wic|
      %tr
        %td= wic.wic_household_size
        %td= wic.wic_gross_income
        %td= link_to 'Show', wic
        %td= link_to 'Edit', edit_wic_path(wic)
        %td= link_to 'Destroy', wic, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Wic', new_wic_path
