.container
  :javascript
    $(function ()
          { $("[data-toggle='popover']").popover();
          });
  .page-header.col-md-10.col-md-offset-1{:style => "border:none;"}
    %h1 Do I qualify for WIC?
    .subhead
      %p The Women, Infants and Children (WIC) Program, funded by the United States Department of Agriculture, is a supplemental nutrition program focused on eating healthy for moms and kids. WIC can provide nutrition education, nutrition counseling, breastfeeding support, nutritious foods and referrals to other services as needed.
    %p
      You can find more information about WIC by
      %a{:href => "http://www.cedaorg.net/www2/HNS.html"} clicking here.
  - if @wic.errors.any?
    - @wic.errors.full_messages.each do |message|
      .alert.alert-dismissable.alert-danger
        %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
        = message
  .row
    .panel.panel-default.col-md-8.col-md-offset-2
      .panel-body
        %p.allthatapply If you are pregnant, breastfeeding, have had a baby in the past six months, or have a child or infant younger than five years old, you may be able to qualify for WIC benefits.
        %form{:action => "/wics", :method => "post", :role => "form"}
          #wic_status.relative
            %p Describe your current health status:
            = radio_button_tag 'wic_status', 'anemic'
            anemic
            %br/
            = radio_button_tag 'wic_status', 'underweight'
            underweight
            %br/
            = radio_button_tag 'wic_status', 'of a risky maternal age'
            of a risky maternal age
            %br/
            = radio_button_tag 'wic_status', 'have a history of pregnancy complications '
            have a history of pregnancy complications
            %br/
            = radio_button_tag 'wic_status', 'have a history of poor pregnancy outcomes'
            have a history of poor pregnancy outcomes
            %br/
            = radio_button_tag 'wic_status', 'has an inadequate dietary pattern'
            has an inadequate dietary pattern
            %br/
            = radio_button_tag 'wic_status', 'none of the above'
            None of the above
          %br/
          / Label and input for wic_household_size
          .row
            .form-group.col-sm-9
              %label{:for => "rental_dependent_no"} What is your household size?
              %button{"data-content" => "Number of people living in your household, including yourself and your child[ren].", "data-placement" => "top", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; background-color: #FAFAFA", :type => "button"}
                %i.fa.fa-info-circle
              %input#wic_household_size.form-control{:name => "wic_household_size", :placeholder => "For example: 3", :required => "", :type => "text", :value => @wic.wic_household_size}/
          / Label and input for wic_gross_income
          .row
            .form-group.col-sm-9
              %label{:for => "rta_gross_income"}
                What is gross monthly income?
              %button{"data-content" => "Total monthly income from all sources.", "data-placement" => "top", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; background-color: #FAFAFA", :type => "button"}
                %i.fa.fa-info-circle
              .input-group
                %span.input-group-addon $
                %input#wic_gross_income.form-control{:name => "wic_gross_income", :placeholder => "For example: 1000", :required => "", :type => "text", :value => @wic.wic_gross_income}/
                %span.input-group-addon .00
          = render "programs/zipcode_question"
          .row
            .col-md-6
              = render "programs/calculator"
          %div
            %button.btn.btn-primary.program-btn{:type => "submit"} See if I qualify
