<div class= "container">
<section class="content-section marquee">
  <div class="row">
    <div class="col-md-8">
      <h1>WIC</h1>
      <p> The Women, Infants and Children (WIC) Program is a state government program focused on food assistance and healthy eating for moms and kids. The wic program can provide nutrition education, nutrition counseling, breastfeeding support, nutritious foods and referrals to other services as needed.</p>
    </div>
  </div>
</section>

<section class="content-section">
<div class="row">
<div class="col-md-8 col-sm-6 col-xs-12">
  <form action="/wics" role="form" method="post">

    <div class="row">
      <div class="col-md-8">
         <label>If you are pregnant, breastfeeding, have had a baby in the past six months, or have a child or infant younger than five years old, you may be able to qualify for WIC benefits.</label>
      </div>
    </div>

  <!-- Health questions-->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" >
        <label for="wic_status" id="wic_status">Do you have a medical-based or dietary-based health condition?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |wic_status| %>
            <%= radio_button_tag 'wic_status', wic_status, @d.health_status == wic_status %>
            <%= wic_status.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

  <!-- WIC Status -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" >
        <label for="pregnant_or_child" id="pregnant_or_child">Are you pregnant or caring for a child younger than 5 years old?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |pregnant_or_child| %>
            <%= radio_button_tag 'pregnant_or_child', pregnant_or_child, @d.pregnant_or_child == pregnant_or_child %>
            <%= pregnant_or_child.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

  <!-- WIC Status -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" >
        <label for="snap_tanf_medicaid" id="snap_tanf_medicaid">Are you currently receiving SNAP, TANF or Medicaid?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |snap_tanf_medicaid| %>
            <%= radio_button_tag 'snap_tanf_medicaid', snap_tanf_medicaid, @d.snap_tanf_medicaid == snap_tanf_medicaid %>
            <%= snap_tanf_medicaid.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="place_for_income_questions">
      
    </div>

   <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

   <!-- Form for location question -->
    <%= render "programs/location_question" %>

    <!-- Form for cellphone question -->
      <%= render "programs/cellphone_question" %>

    <!-- Submit button -->
      <%= render "programs/submit_button" %>
  </form>
  </div>

  <%= render "programs/calculator" %>


  </div>
</section>
</div>

<script type="text/javascript">
  $(document).ready(function(){
      //income JavaScript
    $("input:radio[name=snap_tanf_medicaid]").click(function() {
    var value = $(this).val();
      if (value == "no") {
        $('.place_for_income_questions').empty().append("<%= escape_javascript(render "wics/income_questions", :household_size => @d.household_size, :gross_monthly_income => @d.gross_monthly_income ) %>");
      }
      if (value == "yes") {
        $('.income_questions').remove();
      }
    });
    if($('input:radio[name=esnap_tanf_medicaid][value="no"]').prop('checked')){
        $('.place_for_income_questions').append("<%= escape_javascript(render "wics/income_questions",   :household_size => @d.household_size, :gross_monthly_income => @d.gross_monthly_income ) %>");
    }
  });
</script>


