<div class= "container">
<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>WIC</h1>
      <p> The Women, Infants and Children (WIC) Program, funded by the United States Department of Agriculture, is a supplemental nutrition program focused on eating healthy for moms and kids. WIC can provide nutrition education, nutrition counseling, breastfeeding support, nutritious foods and referrals to other services as needed. You can find more information about WIC by <a href="http://www.cedaorg.net/www2/HNS.html"> clicking here.</a></p>
    </div>
  </div>
</section>


<section class="content-section">
<div class="row">
<div class="col-md-8">
  <form action="/wics" role="form" method="post">

    <div class="row">
      <div class="col-md-12">
         <label>If you are pregnant, breastfeeding, have had a baby in the past six months, or have a child or infant younger than five years old, you may be able to qualify for WIC benefits.</label>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9">
        <div class="relative" id="wic_status">
         <label>Describe your current health status:</label>
         <div class="radio-button">
          <%= radio_button_tag 'wic_status', 'anemic' %> anemic
          <br><%= radio_button_tag 'wic_status', 'underweight' %> underweight
          <br><%= radio_button_tag 'wic_status', 'of a risky maternal age' %> of a risky maternal age
          <br><%= radio_button_tag 'wic_status', 'have a history of pregnancy complications ' %> have a history of pregnancy complications
          <br><%= radio_button_tag 'wic_status', 'have a history of poor pregnancy outcomes' %> have a history of poor pregnancy outcomes
          <br><%= radio_button_tag 'wic_status', 'has an inadequate dietary pattern' %> has an inadequate dietary pattern
          <br><%= radio_button_tag 'wic_status', 'none of the above' %> None of the above
          </div>
        </div>
      </div>
    </div>



  <!-- Label and input for wic_household_size -->
    <div class="row">
      <div class="col-md-9">
        <label for="rental_dependent_no">What is your household size?</label>
        <!-- <button type="button" data-toggle="popover" data-content="Number of people living in your household, including yourself and your child[ren]." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button> -->
        <!-- <p type="button" data-toggle="popover" data-content="Number of people living in your household, including yourself and your child[ren]." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"> -->
          <input type="text" id="wic_household_size" name="wic_household_size" placeholder="For example: 3" class="form-field" value="<%= @current_user.try(:household_size) %>" required>
        <!-- </p> -->
      </div>
    </div>


  <!-- Label and input for wic_gross_income -->
    <div class="row">
      <div class="col-md-9">
        <label for="rta_gross_income">What is gross monthly income?</label>
        <!-- <button type="button" data-toggle="popover" data-content="Total monthly income from all sources." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></  button> -->
          <!-- <p type="button" data-toggle="popover" data-content="Total monthly income from all sources." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"> -->
            <input type="text" id="wic_gross_income" name="wic_gross_income" placeholder="For example: 1000" class="form-field  " value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %>" required>
          <!-- </p> -->
      </div>
    </div>

   <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

   <!-- Form for location question -->
    <%= render "programs/location_question" %>

    <!-- Form for cellphone question -->
      <%= render "programs/cellphone_question" %>

    <!-- Submit button -->
      <%= render "programs/submit_button" %>
  </form>
  </div>

  <div class="col-md-3 sm-3 xs-12 pull-left">
    <div class="calculator_box">
      <%= render "programs/calculator" %>
    </div>
  </div>

  </div>
</section>
</div>


