%p#notice= notice
%p
  %strong Wic household size:
  = @wic.wic_household_size
%p
  %strong Wic gross income:
  = @wic.wic_gross_income
= link_to 'Edit', edit_wic_path(@wic)
|
\#{link_to 'Back', wics_path}
