<p id="notice"><%= notice %></p>

<p>
  <strong>Wic household size:</strong>
  <%= @wic.wic_household_size %>
</p>

<p>
  <strong>Wic gross income:</strong>
  <%= @wic.wic_gross_income %>
</p>

<%= link_to 'Edit', edit_wic_path(@wic) %> |
<%= link_to 'Back', wics_path %>
