<div class="container marquee">
<%= render "layouts/print_button" %>
<% if @eligible == 'yes' %>
   <div class="row">
     <div class="col-md-7">
      <h1>Results: You may be in luck!</h1>
      <p>Based on your household size and income, you likely qualify for Aged, Blind and Disabled (AABD) Cash Assistance</p>

      <section class="content-section resources">
        <h3>Resources</h3>
        <% if @laf_disclaimer.present? %>
          <p><%= @laf_disclaimer %></p>
        <% else  %>
          <p> Based on your zipcode, here is the nearest Community Service Center to access your AABD Cash Assistance:</p>
       <% end %>
        <%= render 'layouts/community_center' %>
       </section>
    </div>
  </div>

<% elsif @eligible == 'maybe' %>
  <div class="row">
    <div class="col-md-7">

      <h1>Results: Something else in mind!</h1>
        <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Aged, Blind and Disabled (AABD) Cash Asistanceexpert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your eligibility with you. </p>

        <section class="content-section resources">
          <h3>Resources</h3>
          <% if @laf_disclaimer.present? %>
            <p><%= @laf_disclaimer %></p>
         <% end %>
          <%= render 'layouts/community_center' %>
         </section>

        <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>
    </div>
  </div>


<% elsif @eligible == 'no' %>
  <div class="row">
    <div class="col-md-7">
      <h1>Results: Something else in mind!</h1>
      <p>Based on your household size and income, you likely do not qualify for Aged, Blind and Disabled (AABD) Cash Asistance.</p>
      <%= render "layouts/purple_binder_resources" %>
    </div>
  </div>
<% end %>

