<div class= "container">
  <section class="content-section">
    <div class="row">
      <div class="col-md-12">
        <h1>Aged, Blind and Disabled (AABD) Cash Assistance</h1>
        <p> If you are 65 and older and a resident of Illinois, you may qualify for Senior and Persons with Disabilities. This currently includes cash assistance and not eligibility for medical assistance.</p>
      </div>
    </div>
  </section>


  <section class="content-section">
  <div class="row">
    <div class="col-md-8">
    <form action="/aabd_cashes" role="form" method="post">

    <!-- Form for age question -->
      <%= render "programs/age_question" %>


   <!-- Form for disability question -->
     <%= render "programs/disability_question" %>

  <!-- Label and input for aabd_household_size -->
    <div class="row">
      <div class="col-md-9">
        <label for="aabd_household_size">What is your household size?</label>
          <input type="text" id="aabd_household_size" name="aabd_household_size" placeholder="For example: 3" class="form-field" value="<%= @current_user.try(:household_size) %>" required>
      </div>
    </div>


  <!-- Form for net income question -->
    <div class="row">
      <div class="col-md-9">
        <label for="aabd_net_income">How much do you anticipate to earn in net income in the next 30 days? (After taxes have been taken out)</label>
            <input type="text" id="aabd_net_income" name="aabd_net_income" placeholder="For example: 1000"class="form-field" value="<%= @d.thirty_day_net_income %>" required>
        </div>
      </div>

    <!-- Form for government benefits question -->
      <div class="row">
        <div class="col-md-9">
          <label for="aabd_benefits">What is your monthly income expected from government benefits or other assistance?</label>
            <input type="text" id="aabd_benefits" name="aabd_benefits" placeholder="For example: 1000"class="form-field" value="<%= @d.government_benefits %>" required>
        </div>
      </div>

    <!-- Form for assets question -->
      <div class="row">
        <div class="form-group col-md-9">
          <label for="aabd_assets">What are your assets worth?</label>
              <input type="text" id="aabd_assets" name="aabd_assets" placeholder="For example: 1000"class="form-field" value="<%= @d.assets %>" required>
        </div>
      </div>

    <!-- Form for citizen question -->
      <%= render "programs/citizen_question" %>

    <!-- Form for disability question -->
      <%= render "programs/zipcode_question" %>

    <!-- Form for location question -->
      <%= render "programs/location_question" %>

    <!-- Form for cellphone question -->
      <%= render "programs/cellphone_question" %>

    <!-- Submit button -->
      <%= render "programs/submit_button" %>

  </form>
  </div>

    <div class="col-md-3 sm-3 xs-12 pull-left">
      <div class="calculator_box">
        <%= render "programs/calculator" %>
      </div>
    </div>

  </div>
  </section>
</div>

<script>
$(document).ready(function() {

  //this is the map scroll down thing
  $(window).scroll(function() {
    if($(this).scrollTop() > 310 && $(this).width() > 750) {
      $('.calculator_box').addClass('sticky_calculator');
    } else {
      $('.calculator_box').removeClass('sticky_calculator');
    }
  });

  $(window).scroll(function() {
    if($(this).scrollTop() < 310) {
      $('.calculator_box').removeClass('sticky_calculator');
    }
  });

  $(window).scroll(function() {
    if($(this).width() < 750) {
      $('.calculator').removeClass('sticky_calculator');
    }
  });

  $(function ()
    { $("[data-toggle='popover']").popover();
  });

   $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
  });
});
</script>

