= form_for(@medicare_cost_sharing) do |f|
  - if @medicare_cost_sharing.errors.any?
    #error_explanation
      %h2
        = pluralize(@medicare_cost_sharing.errors.count, "error")
        prohibited this medicare_cost_sharing from being saved:
      %ul
        - @medicare_cost_sharing.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :household_size
    %br/
    = f.number_field :household_size
  .field
    = f.label :medicare_cost_sharing
    %br/
    = f.text_field :medicare_cost_sharing
  .field
    = f.label :premium_only
    %br/
    = f.text_field :premium_only
  .actions
    = f.submit
