<div class="container marquee">
<%= render "layouts/print_button" %>

<% if @eligible == 'yes' %>

    <div class="row" >
      <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p>Based on your answers, you may qualify for a Medicare Cost Sharing Program.  Important Note:  If you previously opted out of Medicare part B, the Medicare cost sharing program, you may be able to get your Medicare premium paid now. Please contact or visit your LAF paralegal to re-enroll for Medicare Part B. You can see the nearest Community Service Center near you.</p>

        <section class="content-section resources">
          <h3>Resources</h3>
          <% if @laf_disclaimer.present? %>
            <p><%= @laf_disclaimer %></p>
          <% else  %>
         <% end %>
          <%= render 'layouts/community_center' %>
         </section>

        <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>

    </div>
  </div>

<% else %>

  <div class="row" >
    <div class="col-md-7">
      <h1>Results: Something else in mind!</h1>
      <p>Based on your household size and income, you likely do not qualify for the Medicare Cost Sharing Program. However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>

        <div class="resources">
          <h3>Resources</h3>
          <p><%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'medicare_cost_sharing', 'health_care_fees', 1);"  %> to learn more about fees.</p>
          <p>Get Covered Illinois is a resource that helps families register for insurance at in-person events.</p>
          <p><%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicare_cost_sharing', 'get_covered_illinois', 1);" %> to find Get Covered Illinois events in your area.</p>
          <p>You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.</p>
        </div>

        <%= render "layouts/purple_binder_resources" %>

    </div>
  </div>
<% end %>


</div>

<%= render "layouts/conversion_tracking" %>

