<div class="container" style="padding-bottom:150px">



<% if @eligible == 'yes' %>
  <div class="page-header"></div>

    <div class="row" style="text-align:center;">
      <div class="col-md-8 col-md-offset-2">
        <i class="fa fa-exclamation-circle fa-5x"></i>
          <h1>You may be in luck!</h1>
           <h4>Based on your answers, you may qualify for a Medicare Cost Sharing Program.  Important Note:  If you previously opted out of Medicare part B, the Medicare cost sharing program, you may be able to get your Medicare premium paid now. Please contact or visit your LAF paralegal to re-enroll for Medicare Part B. You can see the nearest Community Service Center near you.</h4>
          <br>
          <div class="col-md-offset-3 col-md-6 col-sm-6 text-center" style="text-align:center;">
            <ul class="list-group" style="text-align:left;">
              <li class="list-group-item" style="font-weight:bold"><%= @lafcenter.center %> </li>
              <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%=  @lafcenter.address %> <%= @lafcenter.city %>, <%= @user_zipcode %> </li>
              <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @lafcenter.telephone %> </li>
              <li class="list-group-item"><%= @lafcenter.spanish %> </li>
            </ul>

          <br>
          <br>
        </div>
    </div>
    <div class="row img-responsive">
      <img src="assets/LAFlogo.jpg">
    </div>
  </div>


<% else %>

   <div class="page-header"></div>

      <div class="row" style="text-align:center;">
        <div class="col-md-8 col-md-offset-2">
            <i class="fa fa-exclamation-circle fa-5x"></i>
            <h1>Something else in mind!</h1>
            <h4>Based on your household size and income, you likely do not qualify for food stamps.</h4>

            <br>
        </div>
      </div>

<% end %>


</div>
