%h1 Listing medicare_cost_sharings
%table
  %thead
    %tr
      %th Household size
      %th Medicare cost sharing
      %th Premium only
      %th{:colspan => "3"}
  %tbody
    - @medicare_cost_sharings.each do |medicare_cost_sharing|
      %tr
        %td= medicare_cost_sharing.household_size
        %td= medicare_cost_sharing.medicare_cost_sharing
        %td= medicare_cost_sharing.premium_only
        %td= link_to 'Show', medicare_cost_sharing
        %td= link_to 'Edit', edit_medicare_cost_sharing_path(medicare_cost_sharing)
        %td= link_to 'Destroy', medicare_cost_sharing, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Medicare cost sharing', new_medicare_cost_sharing_path
