<h1>Listing snap_eligibility_seniors</h1>

<table>
  <thead>
    <tr>
      <th>Snap dependent no</th>
      <th>Snap gross income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @snap_eligibility_seniors.each do |snap_eligibility_senior| %>
      <tr>
        <td><%= snap_eligibility_senior.snap_dependent_no %></td>
        <td><%= snap_eligibility_senior.snap_gross_income %></td>
        <td><%= link_to 'Show', snap_eligibility_senior %></td>
        <td><%= link_to 'Edit', edit_snap_eligibility_senior_path(snap_eligibility_senior) %></td>
        <td><%= link_to 'Destroy', snap_eligibility_senior, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Snap eligibility senior', new_snap_eligibility_senior_path %>
