%div
  .row
    .col-md-10.col-md-offset-1
      %br/
      %br/
      %h1.page-header= t.programs.programs_for | "Programs for Chicago & Illinois"
      %p.subhead
        = t.programs.below_are | "Below are the benefits that mRelief currently offers for prescreening. Although these are not"

        %em= t.programs.all | "all"
        = t.programs.the_benefits | "the benefits the city and state offers, we are working to provide you with as much as we can."

%div
  %h4{:style => "text-align:center"}= t.programs.click_on | "Click on a benefit below to begin the pre-screening process."
%br/
/ City of Chicago Programs
.container
  .row
    .col-md-12
      %h3.program-heading{:style => "padding-bottom:0px"}= t.programs.chicago_programs | "CHICAGO PROGRAMS"
      %h4{:style => "text-align:center"}= t.programs.accessible_in | "Accessible in Community Service Centers"
  %br/
  .row
    - chicago_programs = Program.where(:location => "chicago")
    - chicago_programs.where(:name_es => "Cupones de Alimentos").each_with_index do |program|
      .text-center
        %a.thumbnail{:href => program.url, :style => "padding:0 20px 20px 20px; width:350px; margin:auto"}
          %span.caption
            %h3= program.name
            %p= program.description

  / %hr/
  / .row
  /   .col-md-12
  /     %h3.program-heading= t.programs.state_of | "EARLY CHILDHOOD PROGRAMS"
  / %div
  /   .row
  /     - illinois_programs = Program.where(:location => "illinois")
  /     - illinois_programs.where(:name_es => "Programas de Aprendizaje Temprano").each_with_index do |program|
  /       .text-center
  /         %a.thumbnail{:href => program.url, :style => "padding:0 20px 20px 20px; width:350px; height:200px; margin:auto"}
  /           %span.caption
  /             %h3= program.name
  /             %p= program.description

