<div class="container marquee">
  <div class ="row">
    <div class="col-md-10">
      <h2>All programs</h2>
      <p> Below are the benefits that mRelief currently offers for prescreening. Although these are not <em> all </em> the benefits the city and state offers, we are working to provide you with as much as we can. Click on a benefit below to begin the pre-screening process.</p>
    </div>
  </div>
</div>

<!-- City of Chicago Programs  -->
<div class="container program-wrapper">
 <div class="row">
    <div class="col-md-12 resources">
      <h3>Accessible in Chicago Community Service Centers</h3>
    </div>
  </div>

  <div class="row">
    <% chicago_programs = Program.where(:location => "chicago") %>
    <% chicago_programs.each_with_index do |program| %>

    <% if program.name_en == "All City Programs" %>
      <div class="col-md-4 programs">
        <h4><%= program.name %></h4>
        <p><%= program.description %></p>
        <a href="#" data-toggle="modal" data-target="#receiving_benefits">Continue &rarr;</a>
      </div>
    <% else %>
      <div class="col-md-4 programs" >
        <h4><%= program.name %></h4>
        <p><%= program.description %></p>
        <a href="<%= program.url %>" >Continue &rarr;</a>
      </div>
    <% end %>
  <% end %>
  </div>

<br>

<!-- Illinois Programs  -->
  <div class="row">
    <div class="col-md-12 resources">
        <h3>State of Illinois Programs</h3>
        <!-- <h3>Early Childhood Programs</h3> -->
    </div>
  </div>

  <div class="row">
    <% chicago_programs = Program.where(:location => "illinois") %>
    <% chicago_programs.each_with_index do |program| %>
  
      <div class="col-md-4 programs">
        <h4><%= program.name %></h4>
        <p><%= program.description %></p>
        <a href="<%= program.url %>">Continue &rarr;</a>
      </div>
    <% end %>
  </div>
</div>



<!-- All City Programs Modal -->
<div class="modal fade" id="receiving_benefits" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

       <div class="modal-header">
           <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
       </div>

        <div class="modal-body">
        <div class="container">
          <div class="col-md-9">
             <%= form_tag new_all_city_program_url, method: :get do %>

                <div class="benefits_checkboxes">
                <div class="row">
                  <p class="allthatapply">Check all of the benefits that you are currently receiving:</p>
                  <p class="col-sm-7 col-md-7">If you are already receiving a program and do NOT want to be screened for that program when checking your eligibility, please check all of the benefits that you are currently receiving. </p>
                 </div>

                 <%= hidden_field_tag :filtered_programs, "false" %>

                  <p>
                  <% if @current_user.try(:food_stamps) == "checked" %>
                    <%= check_box_tag "food_stamps", "checked", :checked => true %> Food Stamps<br>
                  <% else %>
                    <%= check_box_tag "food_stamps", "checked" %> Food Stamps<br>
                  <% end %>

                  <% if @current_user.try(:rta_ride_free) == "checked" %>
                    <%= check_box_tag "rta_ride_free", "checked", :checked => true %> RTA Ride Free<br>
                  <% else %>
                    <%= check_box_tag "rta_ride_free", "checked" %> RTA Ride Free<br>
                  <% end %>

                  <% if @current_user.try(:rental_assistance) == "checked" %>
                    <%= check_box_tag "rental_assistance", "checked", :checked => true %> Rental Assistance<br>
                  <% else %>
                    <%= check_box_tag "rental_assistance", "checked" %> Rental Assistance<br>
                  <% end %>

                  <% if @current_user.try(:all_kids) == "checked" %>
                    <%= check_box_tag "all_kids", "checked", :checked => true %> All Kids<br>
                  <% else %>
                    <%= check_box_tag "all_kids", "checked" %> All Kids<br>
                  <% end %>

                  <% if @current_user.try(:medicaid) == "checked" %>
                    <%= check_box_tag "medicaid", "checked", :checked => true %> Medicaid <br>
                  <% else %>
                    <%= check_box_tag "medicaid", "checked" %> Medicaid <br>
                  <% end %>

                  <% if @current_user.try(:medicare_cost_sharing) == "checked" %>
                    <%= check_box_tag "medicare_cost_sharing", "checked", :checked => true %> Medicare Cost Sharing<br>
                  <% else %>
                    <%= check_box_tag "medicare_cost_sharing", "checked" %> Medicare Cost Sharing<br>
                  <% end %>

                  <% if @current_user.try(:aabd) == "checked" %>
                    <%= check_box_tag "aabd", "checked", :checked => true %> AABD Cash Assistance<br>
                  <% else %>
                    <%= check_box_tag "aabd", "checked" %> AABD Cash Assistance<br>
                  <% end %>

                  <% if @current_user.try(:tanf) == "checked" %>
                    <%= check_box_tag "tanf", "checked", :checked => true %> TANF Cash Assistance<br>
                  <% else %>
                    <%= check_box_tag "tanf", "checked" %> TANF Cash Assistance<br>
                  <% end %>

                  <%= check_box_tag "none", "checked" %> None of the above<br>
                  </p>
                </div>

               <div class="form-group col-md-9">
                 <%= submit_tag "Enter", name: nil, :class => "btn btn-primary btn-sm col-sm-4", :style=>"display:block-inline;" %>
               </div>

              <% end %>

          </div>
        </div>
      </div>

    </div>
  </div>
</div>


