<!-- <div class="allprograms-background" -->
<div class="container">
<div class ="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="page-header">Programs for Chicago & Illinois</h1>
    <p class="subhead"> Below are the benefits that mRelief are currently offers for prescreening. Although these are <em>not</em> all the benefits the city and state offers, we are working to provide you with as much as we can. </p>
  </div>
</div>

<div>
  <h4 style="text-align:center">Click on a benefit below to begin the pre-screening process.</h4>
</div>

<br>

<!-- City of Chicago Programs  -->

 <div class="row">
    <div class="col-md-12">
      <h3 class="program-heading">CHICAGO PROGRAMS</h3>
    </div>
  </div>

  <div class="row">
  <% chicago_programs = Program.where(:location => "chicago") %>
  <% chicago_programs.each_with_index do |program| %>

      <div class="col-md-4">
        <a href="<%= program.url %>" class="thumbnail">
          <span class="caption">
            <h3><%= program.name %></h3>
            <p><%= program.description %></p>
          </span>
        </a>
      </div>
  <% end %>

  <div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <a href="/all_city_programs/new" class="btn btn-success btn-full">Find Out If You Qualify for All City Programs</a>
    </div>
  </div>
  </div>


<!-- Illinois Programs  -->
 <div class="row">
    <div class="col-md-12">
      <h3 class="program-heading">STATE OF ILLINOIS PROGRAMS</h3>
    </div>
  </div>
<div>
  <div class="row">
  <% chicago_programs = Program.where(:location => "illinois") %>
  <% chicago_programs.each_with_index do |program| %>

      <div class="col-md-4">
        <a href="<%= program.url %>" class="thumbnail">
          <span class="caption">
            <h3><%= program.name %></h3>
            <p><%= program.description %></p>
          </span>
        </a>
      </div>
  <% end %>

</div>
</div>

<br>
<br>
<br>
  <!--  <div class="row">
    <div class="col-md-12" style="text-align:center; padding-bottom:20px">
      <h3>Programs Accessible in Suburban Cook County</h3>
    </div>
  </div>
  <%# cook_county_programs = Program.where(:location => "cook county") %>
  <div class="row" style="padding: 0 0 40px 0">
  <%# cook_county_programs.each_with_index do |program, i| %>
    <%# if i % 3 == 0  %>
      <div class="row">
    <%# end %>
      <div class="col-md-4">
        <div class="thumbnail" style="min-height:230px">
          <div class="caption" style="text-align:center; padding:0 0 20px 0">
            <h3><%#= program.name %></h3>
            <p style="padding:0 30px 0 30px"><%#= program.description %></p>
            <p><a href="<%#= program.url %>" class="btn btn-primary" role="button">Find Out If You Qualify</a></p>
          </div>
        </div>
      </div>
    <%# if (i + 1) % 3 == 0 %>
      </div>
    <%# end %>
  <%# end %>
</div> -->
</div>
