%p#notice= notice
%p
  %strong Name:
  = @program.name
%p
  %strong Category:
  = @program.category
%p
  %strong Url:
  = @program.url
%p
  %strong Description:
  = @program.description
%p
  %strong Location:
  = @program.location
= link_to 'Edit', edit_program_path(@program)
|
\#{link_to 'Back', programs_path}
