<div class="container marquee">
<%= render "layouts/print_button" %>
<% if @eligible == false %>
  <div class="row">
    <div class="col-md-7">
      <h1>Results: Something else in mind!</h1>
      <p>You likely do not qualify for Early Learning Programs.</p>
      <div class="resources">
        <h3>Resources</h3>
        <p> If you live in Illinois, call the Illinois Action For Children Community Referral Team at 312-823-1100 for info on other opportunities.</p>
      </div>
    </div>
  </div>

<% else %>
  <div class="row" >
    <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p> Below are Early Learning Programs that you are eligible for near you.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Early Learning Centers Near You</h1>
      <br>
    </div> 
  </div>

  <% if @referral_centers.length > 3 %>
    <% @top_referrals = @referral_centers.sample(3) %>
  <% else %>
    <% @top_referrals = @referral_centers %>
  <% end %>

  <div class="row">
  <% @top_referral_keys %>
    <% @top_referrals.each do |center| %>
    <div class="col-md-12 col-sm-12 col-lg-4">
      <ul>
        <li class="laf-headline"><%= center["site_name"] %> 
          <%= render "early_learning_programs/asterisk", center: center %>
        </li>
        <li> <%= center["address"] %></li>
        <li><%= center["city"].strip %>, <%= center["state"] %> <%= center["zip"] %></li>
        <li> <b>Phone Number: </b><%= center["phone_number"] %></li>

         <% if center["weekday_availability"].present? %>
          <li><b>Weekday Availability:</b> <%= center["weekday_availability"] %></li>
        <% end %>

         <% if center["program_information"].present? %>
          <li><b>Program Information:</b> <%= center["program_information"] %></li>
        <% end %>

        <% if center["languages_other_than_english"].present? && center["languages_other_than_english"] != "English" %>
          <li><b>Languages other than English:</b> <%= center["languages_other_than_english"] %></li>
        <% end %>

        <% if center["quality_rating"].present? %>
          <li><b>Quality Rating:</b> <%= center["quality_rating"] %></li>
        <% end %>

        <% if center["url"].present? %>
          <li><%= link_to "Center Website", center["url"], target: "_blank" %></li>
        <% end %>

        <% if center["ages_0_3"] == true || center["ages_3_5"] == true %>
          <% if center["ages_0_3"] == true && center["ages_3_5"] == true %>
            <li><b>Ages Served:</b> 0 to 5 years old</li>
          <% elsif center["ages_0_3"] == true%>
            <li><b>Ages Served:</b> 0 to 2 </li>
          <% elsif center["ages_3_5"] == true %>
            <li><b>Ages Served:</b> 3 to 5 </li>
          <% end %>
        <% end %>

        <% if center["program_information"].include?("CPS Based") || center["program_information"].include?("CPS Based, Head Start") %>
          <% if @user.income_type == "[\"Greater than Type 2\"]" %>
            <p>You may have a required co-pay for this program. Use <%= link_to "this CPS calculator", "http://cps.edu/Schools/EarlyChildhood/Pages/EarlyChildhoodCalculator.aspx", target: "_blank" %> to estimate your families co-pay.</p>
          <% end %>
        <% end %>

        <% @top_referral_keys = "#{@top_referral_keys}" + center["key"] + "," %>
      </ul>
      </div>
    <% end %>
  </div>
  <div class="row">
    <div class="col-md-12">
      <% if @eligible_asterisk == true %>
        <p>** This program provides full day care supported by the state Child Care Assistance Program (CCAP). Based on the information you provided, you may qualify for CCAP. Please contact the agency for more information.</p>
      <% elsif @ineligible_asterisk == true %>
        <p>** This program provides full day care supported by the state Child Care Assistance Program (CCAP). Based on the information you provided, you may not qualify for CCAP. Please contact the agency for more information.</p>
      <% end %>
    </div>
  </div>
   <br>
   <br>
   <br>  
   <div class="row">
     <div class="col-md-12">
       <a href="http://chicagoearlylearning.org/starred/<%= @top_referral_keys.chop %>/" target="_blank" class="button">Learn more about these centers on the Early Learning Portal →</a>
     </div>
   </div>
   <br>
   <br>
   <br>  
   <div class="row">
     <div class="col-md-12">
       <%= link_to  "More Results: CCAP Eligibility →", more_results_url(@user) %>
     </div>
    </div>

<% end %>
</div>
