<div class="container marquee">
<%= render "layouts/print_button" %>
  
<% if @eligible == false %>
  <div class="row">
    <div class="col-md-7">
      <h1>Results: Something else in mind!</h1>
      <p>You likely do not qualify for Early Learning Programs</p>
    </div>
  </div>

<% else %>
  <div class="row" >
    <div class="col-md-7">
        <h1>Results: You may be in luck!</h1>
        <p> Below are Early Learning Programs that you are eligible for near you.</p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h1>Early Learning Centers Near You</h1>
      <br>
    </div> 
  </div>

  <% if @referral_centers.length > 3 %>
    <% @top_referrals = @referral_centers.sample(3) %>
  <% else %>
    <% @top_referrals = @referral_centers %>
  <% end %>

  <div class="row">
  <% @top_referral_keys %>
    <% @top_referrals.each do |center| %>
    <div class="col-md-12 col-sm-12">
      <ul>
        <li class="laf-headline"><%= center["site_name"] %></li>
        <li><%#= center["program_information"] %></li>
        <li> <%= center["address"] %></li>
        <li><%= center["city"].strip %>, <%= center["state"] %> <%= center["zip"] %></li>
        <li>Phone Number: <%= center["phone_number"] %></li>

         <% if center["weekday_availability"].present? %>
          <li>Weekday Availability: <%= center["weekday_availability"] %></li>
        <% end %>

         <% if center["program_information"].present? %>
          <li>Program Information: <%= center["program_information"] %></li>
        <% end %>

        <% if center["languages_other_than_english"].present? %>
          <li>Languages other than English: <%= center["languages_other_than_english"] %></li>
        <% end %>

        <% if center["url"].present? %>
          <li><%= link_to "Center Website", center["url"], target: "_blank" %></li>
        <% end %>

        <% if center["program_information"].include?("CPS Based") || center["program_information"].include?("CPS Based, Head Start") %>
          <% if @user.income_type == "[\"Greater than Type 2\"]" %>
            <p>You may have a required co-pay for this program. Use <%= link_to "this CPS calculator", "http://cps.edu/Schools/EarlyChildhood/Pages/EarlyChildhoodCalculator.aspx", target: "_blank" %> to estimate your families co-pay.</p>
          <% end %>
        <% end %>

        <% if @ccap_eligible == true %>
          <% if center["program_information"].include?("Head Start") && center["program_information"].exclude?("CPS Based") && center["weekday_availability"].include?("Full Day") %>
              <li>This is a CCAP Compatible Program, and our results show that you also may qualify for CCAP.</li>
          <% elsif center["program_information"].exclude?("Head Start") && center["program_information"].exclude?("CPS Based") && center["weekday_availability"].include?("Full Day") %>
              <li>This is a CCAP Compatible Program, and our results show that you also may qualify for CCAP.</li>
          <% elsif center["program_information"].include?("Early Head Start") && center["weekday_availability"].include?("Full Day") %>
            <li>This is a CCAP Compatible Program, and our results show that you also may qualify for CCAP.</li>
          <% elsif center["program_information"].include?("Community Based") && center["program_information"].exclude?("Head Start")&& center["program_information"].exclude?("Early Head Start") && center["weekday_availability"].include?("Full Day") %>
            <li>This is a CCAP Compatible Program, and our results show that you also may qualify for CCAP.</li>
          <% end %>

        <% elsif @user.ccap_eligible == false %>
        <%= puts "I made it here" %>
          <% if center["program_information"].include?("Head Start") && center["program_information"].exclude?("CPS Based") && center["weekday_availability"].include?("Full Day") %>
              <li>This is a CCAP Compatible Program, and our results show that you also may not qualify for CCAP.</li>
          <% elsif center["program_information"].exclude?("Head Start") && center["program_information"].exclude?("CPS Based") && center["weekday_availability"].include?("Full Day") %>
              <li>This is a CCAP Compatible Program, and our results show that you also may not qualify for CCAP.</li>
          <% elsif center["program_information"].include?("Early Head Start") && center["weekday_availability"].include?("Full Day") %>
            <li>This is a CCAP Compatible Program, and our results show that you also may not qualify for CCAP.</li>
          <% elsif center["program_information"].include?("Community Based") && center["program_information"].exclude?("Head Start")&& center["program_information"].exclude?("Early Head Start") && center["weekday_availability"].include?("Full Day") %>
            <li>This is a CCAP Compatible Program, and our results show that you also may not qualify for CCAP.</li>
          <% end %>

        <% end %>

        <% @top_referral_keys = "#{@top_referral_keys}" + center["key"] + "," %>
      </ul>
      </div>
    <% end %>
  </div>
   <br>
   <br>
   <br>  
   <div class="row">
     <div class="col-md-12">
       <a href="http://chicagoearlylearning.org/favorites/<%= @top_referral_keys %>/" target="_blank">Learn more about these centers on the Early Learning Portal →</a>
     </div>
   </div>
   <br>
   <br>
   <br>  
   <div class="row">
     <div class="col-md-12">
       <%= link_to  "More Results: CCAP Eligibility →", more_results_url(@user) %>
     </div>
    </div>

<% end %>
</div>
