.container.marquee
  .row
    .col-md-10
      / %h1 Privacy and Data Sharing Policy
      %br
        %p= t.elp.privacy_policy_paragraph | "At mRelief, we value the privacy of those in need of human services and strive to ask the minimum amount of questions that are necessary to determine eligibility. While our public benefits screening tools will never ask for your full name and other highly personal identifiable information, mRelief is committed to ensuring that eligibility data can better inform program providers on how answers to screening questions affect eligibility outcomes in the interest of promoting successful enrollment. Below is an explanation of how we utilize the data you share and what you consent to when you click the “See If I Qualify” button on the Early Learning Screener page."
        %p= t.elp.privacy_policy_consent | "I hereby give consent to mRelief to use and disclose information I have entered into their screening tools for the following purposes:"
        %ol
          %li= t.elp.privacy_policy_1 | "Use my personal information to determine my eligibility for Chicago’s Early Learning Offerings*"
          %li= t.elp.privacy_policy_2 | "Provide me with additional information and materials via email, direct mail, SMS or any other means of communication regarding this service and other services or eligibility programs provided by mRelief."
          %li= t.elp.privacy_policy_3 | "Disclose information entered into this form as part of a summary analysis of early learning applicants to the City of Chicago  and other stakeholders at mRelief’s discretion committed to promoting successful benefits enrollment."
          %li= t.elp.privacy_policy_4 | "Utilize your phone number to compare against registration lists to determine the overall percentage of applicants in the effort to assess the efficacy of screening tools to promote successful enrollment."
        %p= t.elp.privacy_policy_understand | "I understand mRelief will not sell or rent my personal information or otherwise use my personal information for any purpose not authorized above."
        %p
          %i **Los Programas de Educación Temprana de Chicago incluyen programas de educación temprana financiadas por Head Start, Early Head Start, Preschool for All, el Programa de Asistencia en el Cuidado Infantil y otros. Estos programas, que se enfocan en atender al grupo de 0-5 años, están dirigidos a los padres o tutores que son quienes principalmente cuidan del menor.  