.container.marquee
  %section.content-section
    .row
      .col-md-10
        %h1= t.elp.title | "All Early Learning Programs"
        %p= t.elp.subtitle | "If you are the primary caregiver of a child, you may be eligible for Chicago’s Early Learning Offerings."
  %section.content-section
    .row
      .col-md-10.col-sm-8.col-xs-12
        %form.form-horizontal{:action => "/early_learning_programs_results", :method => "post", :role => "form"}
          / Form for child age question
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label.allthatapply= t.elp.select_all_parent | "Select all that apply to you as a parent or guardian:"
              %label
                %i= t.elp.age_note | "Note - This question applies to the age of your child as of September 1st, 2015"
              #children_questions.radio-button
                <input type="checkbox" name="zero_to_three" value="zero_to_three" id="zero_to_three"
                - if @user.three_and_under != nil && @user.three_and_under == true
                  checked
                >
                Cuido a un menor que tiene entre 0 y 2 años de edad
                %br
                <input type="checkbox" name="three_to_five" value="three_to_five" id="three_to_five"
                - if @user.three_to_five != nil && @user.three_to_five == true
                  checked
                >
                Cuido a un menor que tiene entre 3 y 5 años de edad
                %br
                <input type="checkbox" name="six_to_twelve" value="six_to_twelve" id="six_to_twelve"
                - if @user.six_to_twelve != nil && @user.six_to_twelve == true
                  checked
                >
                Cuido a un menor que tiene entre 6 y 12 años de edad
                %br
                <input type="checkbox" name="pregnant" value="pregnant" id="pregnant"
                - if @user.pregnant != nil && @user.pregnant == true
                  checked
                >
                Estoy embarazada
                %br
                <input type="checkbox" name="no_children" value="no_children" id="no_children"
                - if @user.no_children != nil && @user.no_children == true
                  checked
                >
                No cuido a ningún menor en estos grupos de edad
                        
          / Form for household size
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label{:for => "household_size"}=t.elp.household_size | "What is the number of people living in your household including yourself?"
              %p.popover-body{"data-content" => "Un hogar consiste en todas las personas, parientes y no parientes, que ocupan una unidad de vivienda (casa, apartamento, condominio, etc.).", "data-placement" => "right", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec;", :type => "button"}
                %input#household_size.form-field{:name => "household_size", :placeholder => "Por ejemplo: 3", :required => "", :type => "text", :value => @user.try(:household_size)}
          / Form for gross monthly income
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label{:for => "gross_monthly_income"}=t.elp.gross_income | "What is your gross monthly income?"
              %br
              = render "programs/popover_calculator_early_learning"
              %p.popover-body{"data-content" => "El ingreso bruto significa los ingresos en efectivo e incluye por ingreso del trabajo, ingreso militar (incluyendo pagos y asignación militar), beneficios para veteranos, beneficios de Seguro Social, compensación por desempleo, la manutención de hijos menores, pensión compensatoria, jubilación, pension, y beneficios de asistencia pública antes de ingresos.", "data-placement" => "right", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec;", :type => "button"}
                %input#gross_monthly_income.form-field{:name => "gross_monthly_income", :placeholder => "Por ejemplo: 1000", :required => "", :type => "text", :value => number_with_precision(@user.try(:gross_monthly_income), precision: 0)}
          / Form for additional criteria question
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label.allthatapply=t.elp.select_all | "Select all that apply to you:"
              #select_all_questions.radio-button
                <input type="checkbox" name="foster_parent" value="foster_parent" id="foster_parent"
                - if @user.foster_parent != nil && @user.foster_parent == true
                  checked
                >
                Soy un padre/madre sustituto
                %br
                <input type="checkbox" name="ssi" value="ssi" id="ssi"
                - if @user.ssi != nil && @user.ssi == true
                  checked
                >
                Mi familia recibe SSI
                %br
                <input type="checkbox" name="tanf" value="tanf" id="tanf"
                - if @user.tanf != nil && @user.tanf == true
                  checked
                >
                Mi familia recibe TANF
                %br
                <input type="checkbox" name="teen_parent" value="teen_parent" id="teen_parent"
                - if @user.teen_parent != nil && @user.teen_parent == true
                  checked
                >
                Soy un(a) padre/madre adolescente inscrito(a) en primaria a tiempo completo, secundaria o clases de GED para obtener un diploma de secundaria o su equivalente 
                %br
                <input type="checkbox" name="special_needs" value="special_needs" id="special_needs"
                - if @user.special_needs != nil && @user.special_needs == true
                  checked
                >
                Cuido a un menor con necesidades especiales, un plan de educación individualizado (IEP), o un plan de servicio familiar (IFSP)
                %br
                <input type="checkbox" name="none_of_the_above" value="none_of_the_above" id="none_of_the_above"
                - if @user.none_of_the_above != nil && @user.none_of_the_above == true
                  checked
                >
                Ninguna de las anteriores
                %br
          / Homelessness question
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label.allthatapply Select all that apply to your family’s living situation:
              #homeless_questions.radio-button
                <input type="checkbox" name="homeless_fixed_residence" value="homeless_fixed_residence" id="homeless_fixed_residence"
                - if @user.homeless_fixed_residence != nil && @user.homeless_fixed_residence == true
                  checked
                >
                We lack a regular nighttime place for living and share with another family or friends
                %br
                <input type="checkbox" name="homeless_hotels" value="homeless_hotels" id="homeless_hotels"
                - if @user.homeless_hotels != nil && @user.homeless_hotels == true
                  checked
                >
                We regularly stay in motels, hotels, a car, or other public place
                %br
                <input type="checkbox" name="homeless_shelters" value="homeless_shelters" id="homeless_shelters"
                - if @user.homeless_shelters != nil && @user.homeless_shelters == true
                  checked
                >
                We are living in a shelter
                %br
                <input type="checkbox" name="not_homeless" value="not_homeless" id="not_homeless"
                - if @user.not_homeless != nil && @user.not_homeless == true
                  checked
                >
                None of the Above
                %br
          / Form for employment
          .row
            #employment_question.col-md-9.col-sm-10.col-xs-12
              %label#employment{:for => "employment"}=t.elp.employed | "Are all adults in your household currently employed?"
              .radio-button
                - [ 'sí', 'no'].each do |employment|
                  = radio_button_tag 'employment', employment, @user.employed == employment
                  = employment.humanize
                  %br
          / Form for zipcode
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label{:for => "zipcode"}=t.elp.zipcode | "In which zipcode do you live?"
              %input#zipcode.form-field{:name => "zipcode", :placeholder => "Por ejemplo: 60615", :required => "", :type => "text", :value => @user.try(:zipcode)}
          / Form for preferred zipcode
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label#other_zipcode{:for => "other_zipcode"}=t.elp.other_zipcode | "We will show you programs where you live, but would you prefer for us to show you programs near where you go to school, work etc.?"
              .radio-button
                - [ 'sí', 'no'].each do |other_zipcode|
                  = radio_button_tag 'other_zipcode', other_zipcode, @user.other_zipcode == other_zipcode
                  = other_zipcode.humanize
                  %br
          .place_for_preferred_zipcode
          / Form for duration preference
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label.allthatapply=t.elp.preference | "Select all that apply to your preference for an early learning program:"
              #preferred_duration.radio-button
                <input type="checkbox" name="half_day" value="half_day" id="half_day"
                - if @user.half_day != nil && @user.half_day == true
                  checked
                >
                Medio día (3 a 4 horas)
                %br
                <input type="checkbox" name="full_day" value="full_day" id="full_day"
                - if @user.full_day != nil && @user.full_day == true
                  checked
                >
                Día completo (6 horas o más)
                %br
                <input type="checkbox" name="part_week" value="part_week" id="part_week"
                - if @user.part_week != nil && @user.part_week == true
                  checked
                >
                Parte de una semana (2 o 3 días)
                %br
                <input type="checkbox" name="full_week" value="full_week" id="full_week"
                - if @user.full_week != nil && @user.full_week == true
                  checked
                >
                Semana completa (4 o 5 días)
                %br
                <input type="checkbox" name="home_visiting" value="home_visiting" id="home_visiting"
                - if @user.home_visiting != nil && @user.home_visiting == true
                  checked
                >
                Visitas al hogar de Aprende Más
                %p.popover-body{"data-content" => "Educadores licenciados que semanalmente visitan su casa para apoyar el desarrollo social-emocional, físico, y cognitivo de su hijo(a).", "data-placement" => "right", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec; display: inline", :type => "button", :onclick => "ga('send', 'event', 'button', 'early_learning', 'learn_more_home_visiting_es', 1)"} Learn More
                %br
                <input type="checkbox" name="no_duration_preference" value="no_duration_preference" id="no_duration_preference"
                - if @user.no_duration_preference != nil && @user.no_duration_preference == true
                  checked
                >
                Ninguna preferencia
                %br
          / Form for bilingual question
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label#bilingual{:for => "bilingual"}=t.elp.bilingual | "Does your child need a program with bilingual instruction?"
              .radio-button
                - [ 'sí', 'no'].each do |bilingual|
                  = radio_button_tag 'bilingual', bilingual, @user.bilingual == bilingual
                  = bilingual.humanize
                  %br
          .place_for_bilingual_language
          / Form for cellphone question
          .row
            .col-md-9.col-sm-10.col-xs-12
              %label{:for => "phone_number"}= t.elp.cell_phone | "What is your cell phone number?"
              %p.popover-body{"data-content" => "Utilizaremos este número para enviarle recordatorios durante el proceso de solicitud.", "data-placement" => "right", "data-toggle" => "popover", :style => "border: 0px; color: #4582ec;", :type => "button"}
                %input#phone_number.form-field{:name => "phone_number", :placeholder => "Por ejemplo: 3125555555", :required => "", :type => "text", :value => @user.phone_number}
          / Submit button
          .row
            .col-md-5
              %button{:type => "submit"}= t.elp.see_if | "See if I qualify"
:javascript
    $(document).ready(function() {

          // employment hover
          $( "#employment_question" ).hover(
            function() {
                $( this ).append( $( "<p class=\"hover_explanation\">Se aplica el autoempleo e ingresos en efectivosi se puede verificar con un tercero o un estado de cuenta mensual.</p>" ) );
              },
            function() {
              $( this ).find( "p:last" ).remove();
            }
          );
    
           // select all that apply
           $("#select_all_questions").click(function() {
            if($("#foster_parent").is(':checked') || $("#homeless").is(':checked') || $("#ssi").is(':checked') || $("#tanf").is(':checked') || $("#teen_parent").is(':checked')|| $("#special_needs").is(':checked')) {
              if($("#none_of_the_above").is(':checked')) {
                alert("None of the above cannot be selected with any of the other options to this question.");
              }
            }
           });
           
          // children question
          $("#children_questions").click(function() {
            if($("#zero_to_three").is(':checked') || $("#three_to_five").is(':checked') || $("#six_to_twelve").is(':checked') || $("#pregnant").is(':checked')) {
              if($("#no_children").is(':checked')) {
               alert("No children cannot be selected with any of the other options to this question.");
             }
           }
          });
    
          // homeless question
          $("#homeless_questions").click(function() {
            if($("#homeless_fixed_residence").is(':checked') || $("#homeless_hotels").is(':checked') || $("#homeless_public_place").is(':checked') || $("#homeless_shelters").is(':checked')) {
              if($("#not_homeless").is(':checked')) {
               alert("None of the above cannot be selected with any of the other options to this question.");
             }
           }
          });
    
          // preferred duration question
          $("#preferred_duration").click(function() {
            if($("#half_day").is(':checked') || $("#full_day").is(':checked') || $("#part_week").is(':checked') || $("#full_week").is(':checked') || $("#home_visiting").is(':checked')) {
              if($("#no_duration_preference").is(':checked')) {
               alert("No preference cannot be selected with any of the other options to this question.");
             }
           }

           if($("#full_day").is(':checked')) {
             if($("#half_day").is(':checked')) {
              alert("Half Day and Full Day cannot be selected together. Please chooose one of these two options.");
             }
           }

           if($("#part_week").is(':checked')) {
             if($("#full_week").is(':checked')) {
              alert("Part Week and Full Week cannot be selected together. Please chooose one of these two options.");
             }
           }
          });
    
          // preferred zipcode
          $("input:radio[name=other_zipcode]").click(function() {
          var value = $(this).val();
            if (value == "sí") {
              $('.place_for_preferred_zipcode').empty().append("#{escape_javascript(render "early_learning_programs/preferred_zipcode", :user => @user )}");
            }
            if (value == "no") {
              $('.preferred_zipcode_questions').remove();
            }
          });
          if($('input:radio[name=other_zipcode][value="yes"]').prop('checked')){
              $('.place_for_preferred_zipcode').append("#{escape_javascript(render "early_learning_programs/preferred_zipcode", :user => @user )}");
          }
    
          // bilingual language
          $("input:radio[name=bilingual]").click(function() {
          var value = $(this).val();
            if (value == "sí") {
              $('.place_for_bilingual_language').empty().append("#{escape_javascript(render  "early_learning_programs/bilingual_language", :user => @user )}");
            }
            if (value == "no") {
              $('.bilingual_language_question').remove();
            }
          });
          if($('input:radio[name=bilingual][value="yes"]').prop('checked')) {
              $('.place_for_bilingual_language').append("#{escape_javascript(render "early_learning_programs/bilingual_language", :user => @user )}");
          }
      
    });

