<div class="container marquee">

<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>All Early Learning Programs</h1>
      <p>If you are the primary caregiver of a child, you may be eligible for Chicago’s Early Learning Offerings.</p>
    </div>
  </div>
</section>


<section class="content-section">
<div class="row">
  <div class="col-md-10 col-sm-8 col-xs-12">
  <form action="/early_learning_programs" class="form-horizontal" method="post">

  <!-- Form for child age question -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label class="allthatapply">Select all that apply to you as a parent or guardian:</label>
        <label><i>Note - This question applies to the age of your child as of September 1st, 2015</i></label>
        <div class="radio-button" id="children_questions">
          <input type="checkbox" name="zero_to_three" value="zero_to_three" id="zero_to_three"
            <% if @user.three_and_under != nil && @user.three_and_under == true %>checked<% end %>>  
            I care for a child that is between the ages of 0-2<br>
          <input type="checkbox" name="three_to_five" value="three_to_five" id="three_to_five"
            <% if @user.three_to_five != nil && @user.three_to_five == true %>checked<% end %>> 
            I care for a child that is between the ages of 3-5<br>
          <input type="checkbox" name="six_to_twelve" value="six_to_twelve" id="six_to_twelve"
            <% if @user.six_to_twelve != nil && @user.six_to_twelve == true %>checked<% end %>> 
            I care for a child that is between the ages of 6-12<br>
          <input type="checkbox" name="pregnant" value="pregnant" id="pregnant"
            <% if @user.pregnant != nil && @user.pregnant == true %>checked<% end %>> 
            I am, or my partner is, pregnant<br>
          <input type="checkbox" name="no_children" value="no_children" id="no_children"
            <% if @user.no_children != nil && @user.no_children == true %>checked<% end %>> 
            I care for no children in these age groups<br>
        </div>
      </div>
    </div>


  <!-- Form for household size-->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="household_size">What is the number of people living in your household including yourself?</label>
          <p type="button" data-toggle="popover" data-content="A household consists of all the people, related family and unrelated, who occupy a housing unit (house, apartment, condo, etc.)." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
          <input type="text" id="household_size" name="household_size" placeholder="For example: 3" class="form-field" value="<%= @user.try(:household_size) %>" required>
          </p>
      </div>
    </div>
  

  <!-- Form for gross monthly income -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="gross_monthly_income">What is your gross monthly income?</label><br>
        <%= render "programs/popover_calculator_early_learning" %>
          <p type="button" data-toggle="popover" data-content="Gross Income means cash income and includes earned income, military income (including pay and allowances), veterans’ benefits, Social Security benefits, unemployment compensation, child support, alimony, retirement, pension, and public assistance benefits before taxes." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
           <input type="text" id="gross_monthly_income" name="gross_monthly_income" placeholder="For example: 1000" class="form-field" value="<%= number_with_precision(@user.try(:gross_monthly_income), precision: 0) %>" required>
          </p>
      </div>
    </div>

  <!-- Form for additional criteria question -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label class="allthatapply">Select all that apply to you:</label>
        <div class="radio-button" id="select_all_questions">
          <input type="checkbox" name="foster_parent" value="foster_parent" id="foster_parent"
            <% if @user.foster_parent != nil && @user.foster_parent == true %>checked<% end %>>  
            I am a foster parent<br>
          <input type="checkbox" name="ssi" value="ssi" id="ssi"
            <% if @user.ssi != nil && @user.ssi == true %>checked<% end %>> 
            My family receives SSI<br>
          <input type="checkbox" name="tanf" value="tanf" id="tanf"
            <% if @user.tanf != nil && @user.tanf == true %>checked<% end %>> 
            My family receives TANF<br>
          <input type="checkbox" name="teen_parent" value="teen_parent" id="teen_parent"
            <% if @user.teen_parent != nil && @user.teen_parent == true %>checked<% end %>>  
            I am a teen parent who is enrolled full-time in elementary, high school or GED classes to obtain a high school degree or its equivalent<br>
          <input type="checkbox" name="special_needs" value="special_needs" id="special_needs"
            <% if @user.special_needs != nil && @user.special_needs == true %>checked<% end %>> 
            I care for a child with special needs, an Individualized Education Plan (IEP), or Individualized Family Service Plan (IFSP)<br>
          <input type="checkbox" name="none_of_the_above" value="none_of_the_above" id="none_of_the_above"
            <% if @user.none_of_the_above != nil && @user.none_of_the_above == true %>checked<% end %>> 
            None of the Above<br>
        </div>
      </div>
    </div>

    <!-- Homelessness question -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12">
          <label class="allthatapply">Does your family often find itself in any of the following living situations?</label>
          <div class="radio-button" id="homeless_questions">
            <input type="checkbox" name="homeless_fixed_residence" value="homeless_fixed_residence" id="homeless_fixed_residence"
              <% if @user.homeless_fixed_residence != nil && @user.homeless_fixed_residence == true %>checked<% end %>>  
              We lack a fixed, regular nighttime residence and may be sharing a residence with a family in a similar situation<br>
            <input type="checkbox" name="homeless_hotels" value="homeless_hotels" id="homeless_hotels"
              <% if @user.homeless_hotels != nil && @user.homeless_hotels == true %>checked<% end %>> 
              We have recently been living in motels, hotels, trailer parks or camping grounds due to lack of alternative accommodations<br>
            <input type="checkbox" name="homeless_public_place" value="homeless_public_place" id="homeless_public_place"
              <% if @user.homeless_public_place != nil && @user.homeless_public_place == true %>checked<% end %>> 
              We have lived in a private or public place not designed for or ordinarily used as a regular sleeping accommodation<br>
            <input type="checkbox" name="homeless_shelters" value="homeless_shelters" id="homeless_shelters"
              <% if @user.homeless_shelters != nil && @user.homeless_shelters == true %>checked<% end %>>  
              We are living in emergency or transitional shelters or abandoned in hospitals<br>
            <input type="checkbox" name="not_homeless" value="not_homeless" id="not_homeless"
              <% if @user.not_homeless != nil && @user.not_homeless == true %>checked<% end %>> 
              None of the Above<br>
          </div>
        </div>
      </div>
   
    <!-- Form for employment -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12" id="employment_question">
          <label for="employment" id="employment">Are all adults in your household currently employed?</label>
          <div class="radio-button">
            <% [ 'yes', 'no'].each do |employment| %>
              <%= radio_button_tag 'employment', employment, @user.employed == employment %>
              <%= employment.humanize %><br>
            <% end %>
          </div>
        </div>
      </div>


    <!-- Form for zipcode -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12">
          <label for="zipcode">In which zipcode do you live? </label>
            <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-field" value="<%= @user.try(:zipcode) %>" required>
        </div>
      </div>

    <!-- Form for preferred zipcode -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12" >
          <label for="other_zipcode" id="other_zipcode">We will show you programs where you live, but would you prefer for us to show you programs near where you go to school, work etc.?</label>
          <div class="radio-button">
            <% [ 'yes', 'no'].each do |other_zipcode| %>
              <%= radio_button_tag 'other_zipcode', other_zipcode, @user.other_zipcode == other_zipcode %>
              <%= other_zipcode.humanize %><br>
            <% end %>
          </div>
        </div>
      </div>

      <div class="place_for_preferred_zipcode"></div>

    <!-- Form for duration preference -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12">
          <label class="allthatapply"> Select all that apply to your preference for an early learning program:</label>
          <div class="radio-button" id="preferred_duration">
            <input type="checkbox" name="half_day" value="half_day" id="half_day"
              <% if @user.half_day != nil && @user.half_day == true %>checked<% end %>>  
              Half Day (2 or 3 hours)<br>
            <input type="checkbox" name="full_day" value="full_day" id="full_day"
              <% if @user.full_day != nil && @user.full_day == true %>checked<% end %>> 
              Full Day (6 hours or more)<br>
            <input type="checkbox" name="part_week" value="part_week" id="part_week"
              <% if @user.part_week != nil && @user.part_week == true %>checked<% end %>> 
              Part-week (2 to 3 days)<br>
            <input type="checkbox" name="full_week" value="full_week" id="full_week"
              <% if @user.full_week != nil && @user.full_week == true %>checked<% end %>> 
              Full-week (4 to 5 days)<br>
            <input type="checkbox" name="home_visiting" value="home_visiting" id="home_visiting"
              <% if @user.home_visiting != nil && @user.home_visiting == true %>checked<% end %>> 
              Home Visiting<p type="button" data-toggle="popover" data-content="Licensed educators who weekly visit your home to support your child’s social-emotional, physical, and cognitive development." data-placement="right" style="border: 0px; color: #4582ec; display: inline" class="popover-body">  Learn More</p><br>
            <input type="checkbox" name="no_duration_preference" value="no_duration_preference" id="no_duration_preference"
              <% if @user.no_duration_preference != nil && @user.no_duration_preference == true %>checked<% end %>> 
              No Preference<br>
          </div>
        </div>
      </div>


    <!-- Form for bilingual question -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12" >
          <label for="bilingual" id="bilingual">Does your child need a program with bilingual instruction?</label>
          <div class="radio-button">
            <% [ 'yes', 'no'].each do |bilingual| %>
              <%= radio_button_tag 'bilingual', bilingual, @user.bilingual == bilingual %>
              <%= bilingual.humanize %><br>
            <% end %>
          </div>
        </div>
      </div>

      <div class="place_for_bilingual_language"></div>

    <!-- Form for cellphone question -->
      <div class="row">
         <div class="col-md-9 col-sm-10 col-xs-12">
           <label for="phone_number">What is your cell phone number?</label>
              <p type="button" data-toggle="popover" data-content="We will use this number to send you reminders throughout the application process. If you don’t have a phone please submit an e-mail for you or a relative." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
                <input type="text" id="phone_number" name="phone_number" placeholder="For example: 3125555555" class="form-field" value="<%= @user.phone_number %>" required>
              </p>
         </div>
      </div>

    <!-- Submit button -->
      <div class="row">
        <div class="col-md-5">
          <button >See if I qualify</button>
        </div>
      </div>

  </form>
  </div>

  </div>
  </section>
</div>

<script type="text/javascript">
$(document).ready(function() {
    //education hover mechanism
     $( "#education_question" ).hover(
       function() {
           $( this ).append( $( "<p class=\"hover_explanation\">Eligible schools include: a business, technical, trade, or vocational school that normally requires a high school diploma or the equivalent for enrollment in the course of study; or regular courses, including internet, mail, self-study, or correspondence courses, at an accredited college or university that offers degree programs. Enrolled means currently attending school.</p>" ) );
         },
       function() {
         $( this ).find( "p:last" ).remove();
       }
     );

     //employment hover mechanism
      $( "#employment_question" ).hover(
        function() {
            $( this ).append( $( "<p class=\"hover_explanation\">Self-employment and cash-employment applies if it can be verified by a third party or a monthly statement.</p>" ) );
          },
        function() {
          $( this ).find( "p:last" ).remove();
        }
      );

      //employment hover mechanism
       $( "#health_question" ).hover(
         function() {
             $( this ).append( $( "<p class=\"hover_explanation\">Examples of medical-based conditions include anemia (low blood levels), underweight, or history of poor pregnancy outcome.  A dietary-based condition includes, for example, a poor diet.</p>" ) );
           },
         function() {
           $( this ).find( "p:last" ).remove();
         }
       );

       // select all that apply
       $("#select_all_questions").click(function() {
        if($("#foster_parent").is(':checked') || $("#homeless").is(':checked') || $("#ssi").is(':checked') || $("#tanf").is(':checked') || $("#teen_parent").is(':checked')|| $("#special_needs").is(':checked')) {
          if($("#none_of_the_above").is(':checked')) {
            alert("None of the above cannot be selected with any of the other options to this question.");
          }
        }
       });
       
      // children question
      $("#children_questions").click(function() {
        if($("#zero_to_three").is(':checked') || $("#three_to_five").is(':checked') || $("#six_to_twelve").is(':checked') || $("#pregnant").is(':checked')) {
          if($("#no_children").is(':checked')) {
           alert("No children cannot be selected with any of the other options to this question.");
         }
       }
      });

      // homeless question
      $("#homeless_questions").click(function() {
        if($("#homeless_fixed_residence").is(':checked') || $("#homeless_hotels").is(':checked') || $("#homeless_public_place").is(':checked') || $("#homeless_shelters").is(':checked')) {
          if($("#not_homeless").is(':checked')) {
           alert("None of the above cannot be selected with any of the other options to this question.");
         }
       }
      });

      // preferred duration question
      $("#preferred_duration").click(function() {
        if($("#half_day").is(':checked') || $("#full_day").is(':checked') || $("#part_week").is(':checked') || $("#full_week").is(':checked') || $("#home_visiting").is(':checked')) {
          if($("#no_duration_preference").is(':checked')) {
           alert("No preference cannot be selected with any of the other options to this question.");
         }
       }
      });

      // preferred zipcode
      $("input:radio[name=other_zipcode]").click(function() {
      var value = $(this).val();
        if (value == "yes") {
          $('.place_for_preferred_zipcode').empty().append("<%= escape_javascript(render "early_learning_programs/preferred_zipcode", :user => @user ) %>");
        }
        if (value == "no") {
          $('.preferred_zipcode_questions').remove();
        }
      });
      if($('input:radio[name=other_zipcode][value="yes"]').prop('checked')){
          $('.place_for_preferred_zipcode').append("<%= escape_javascript(render "early_learning_programs/preferred_zipcode", :user => @user ) %>");
      }

      // bilingual language
      $("input:radio[name=bilingual]").click(function() {
      var value = $(this).val();
        if (value == "yes") {
          $('.place_for_bilingual_language').empty().append("<%= escape_javascript(render "early_learning_programs/bilingual_language", :user => @user ) %>");
        }
        if (value == "no") {
          $('.bilingual_language_question').remove();
        }
      });
      if($('input:radio[name=bilingual][value="yes"]').prop('checked')){
          $('.place_for_bilingual_language').append("<%= escape_javascript(render "early_learning_programs/bilingual_language", :user => @user ) %>");
      }
  
});
</script>