<div class="container marquee">

<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>All Early Learning Programs</h1>
      <p>If you are the primary caregiver of a child, you may be eligible for some of Chicago’s All Early Learnings offerings.</p>
    </div>
  </div>
</section>


<section class="content-section">
<div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">
  <form action="/early_learning_programs" class="form-horizontal" method="post">

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label class="allthatapply">Select all that apply to you:</label>
        <div class="radio-button" id="children_questions">
          <input type="checkbox" name="zero_to_three" value="zero_to_three" id="zero_to_three"
            <% if @user.three_and_under != nil && @user.three_and_under == true %>checked<% end %>>  
            I care for a child that is between the ages of 0-2<br>
          <input type="checkbox" name="three_to_five" value="three_to_five" id="three_to_five"
            <% if @user.three_to_five != nil && @user.three_to_five == true %>checked<% end %>> 
            I care for a child that is between the ages of 3-5<br>
          <input type="checkbox" name="six_to_twelve" value="six_to_twelve" id="six_to_twelve"
            <% if @user.six_to_twelve != nil && @user.six_to_twelve == true %>checked<% end %>> 
            I care for a child that is between the ages of 6-12<br>
          <input type="checkbox" name="pregnant" value="pregnant" id="pregnant"
            <% if @user.pregnant != nil && @user.pregnant == true %>checked<% end %>> 
            I am pregnant<br>
          <input type="checkbox" name="no_children" value="no_children" id="no_children"
            <% if @user.no_children != nil && @user.no_children == true %>checked<% end %>> 
            I care for no children<br>
        </div>
      </div>
    </div>


  <!-- Form for household size-->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="household_size">What is the number of people living in your household including yourself?</label>
          <input type="text" id="household_size" name="household_size" placeholder="For example: 3" class="form-field" value="<%= @user.try(:household_size) %>" required>
      </div>
    </div>
  

  <!-- Form for gross monthly income -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="gross_monthly_income">What is your gross monthly income?</label>
        <%= render "programs/popover_calculator" %>
          <p type="button" data-toggle="popover" data-content="Gross Income of All Family Members (Income means gross cash income and includes earned income, military income (including pay and allowances), veterans’ benefits, Social Security benefits, unemployment compensation, and public assistance benefits.)" data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
           <input type="text" id="gross_monthly_income" name="gross_monthly_income" placeholder="For example: 1000" class="form-field" value="<%= number_with_precision(@user.try(:gross_monthly_income), precision: 0) %>" required>
          </p>
      </div>
    </div>


    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label class="allthatapply">Select all that apply to you:</label>
        <div class="radio-button" id="select_all_questions">
          <input type="checkbox" name="foster_parent" value="foster_parent" id="foster_parent"
            <% if @user.foster_parent != nil && @user.foster_parent == true %>checked<% end %>>  
            I am a foster parent<br>
          <input type="checkbox" name="homeless" value="homeless" id="homeless"
            <% if @user.homeless != nil && @user.homeless == true %>checked<% end %>> 
            I am homeless<br>
          <input type="checkbox" name="ssi" value="ssi" id="ssi"
            <% if @user.ssi != nil && @user.ssi == true %>checked<% end %>> 
            My family receives SSI<br>
          <input type="checkbox" name="tanf" value="tanf" id="tanf"
            <% if @user.tanf != nil && @user.tanf == true %>checked<% end %>> 
            My family receives TANF<br>
          <input type="checkbox" name="snap_or_medicaid" value="snap_or_medicaid" id="snap_or_medicaid"
            <% if @user.snap_or_medicaid != nil && @user.snap_or_medicaid == true %>checked<% end %>> 
            I am receiving SNAP or Medicaid<br>
          <input type="checkbox" name="teen_parent" value="teen_parent" id="teen_parent"
            <% if @user.teen_parent != nil && @user.teen_parent == true %>checked<% end %>>  
            I am a teen parent who is enrolled full-time in elementary, high school or GED classes to obtain a high school degree or its equivalent <!-- <a data-toggle="popover" data-content="A teen is from 13 through 19" data-placement="right" style="border: 0px; color: #4582ec;" >Learn More</a> --><br>
          <input type="checkbox" name="special_needs" value="special_needs" id="special_needs"
            <% if @user.special_needs != nil && @user.special_needs == true %>checked<% end %>> 
            I care for a special needs child<br>
          <input type="checkbox" name="none_of_the_above" value="none_of_the_above" id="none_of_the_above"
            <% if @user.none_of_the_above != nil && @user.none_of_the_above == true %>checked<% end %>> 
            None of the Above<br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" id="health_question">
        <label for="health_status" id="health_status">Do you have a medical-based or dietary-based health condition?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |health_status| %>
            <%= radio_button_tag 'health_status', health_status, @user.health_status == health_status %>
            <%= health_status.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" id="employment_question">
        <label for="employment" id="employment">Are all adults in your household currently employed?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |employment| %>
            <%= radio_button_tag 'employment', employment, @user.employed == employment %>
            <%= employment.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>


  <!-- Form for zipcode -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="zipcode">In which zipcode do you live? </label>
          <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-field" value="<%= @user.try(:zipcode) %>" required>
      </div>
    </div>

  <!-- Form for preferred zipcode -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" >
        <label for="other_zipcode" id="other_zipcode">We will show you programs where you live, but would you prefer for us to show you programs near where you go to school, employed etc.?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |other_zipcode| %>
            <%= radio_button_tag 'other_zipcode', other_zipcode, @user.other_zipcode == other_zipcode %>
            <%= other_zipcode.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="place_for_preferred_zipcode">
    </div>

  <!-- Form for duration preference -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="preferred_duration" id="preferred_duration">Do you have a preference for how long your child will participate in an early learning program in a given day?</label>
        <div class="radio-button">
          <% [ 'Half Day (Less than 6 hours)', 'Full Day (6 hours or more)', 'Home Visiting', 'No Preference'].each do |preferred_duration| %>
            <%= radio_button_tag 'preferred_duration', preferred_duration, @user.preferred_duration == preferred_duration  %>
            <%= preferred_duration.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

  <!-- Form for frequency preference -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="preferred_frequency" id="preferred_frequency">Do you have a preference for part-week or full-week programs?</label>
        <div class="radio-button">
          <% [ 'Part-week', 'Full-week', 'No Preference'].each do |preferred_frequency| %>
            <%= radio_button_tag 'preferred_frequency', preferred_frequency %>
            <%= preferred_frequency.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" >
        <label for="bilingual" id="bilingual">Would you prefer to enroll your child in a bilingual early learning program?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |bilingual| %>
            <%= radio_button_tag 'bilingual', bilingual %>
            <%= bilingual.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>

    <div class="place_for_bilingual_language">
    </div>

  <!-- Form for cellphone question -->
    <div class="row">
       <div class="col-md-9 col-sm-10 col-xs-12">
         <label for="phone_number">What is your cell phone number?</label>
            <p type="button" data-toggle="popover" data-content="We will use this number to send you reminders throughout the application process." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
              <input type="text" id="phone_number" name="phone_number" placeholder="For example: 3125555555" class="form-field" value="<%= @user.phone_number %>" required>
            </p>
       </div>
    </div>

  <!-- Submit button -->
    <div class="row">
      <div class="col-md-5">
        <button >See if I qualify</button>
      </div>
    </div>

  </form>
  </div>

  <%= render "programs/calculator" %>


  </div>
  </section>
</div>

<script type="text/javascript">
$(document).ready(function() {
    //education hover mechanism
     $( "#education_question" ).hover(
       function() {
           $( this ).append( $( "<p class=\"hover_explanation\">Eligible schools include: a business, technical, trade, or vocational school that normally requires a high school diploma or the equivalent for enrollment in the course of study; or regular courses, including internet, mail, self-study, or correspondence courses, at an accredited college or university that offers degree programs. Enrolled means currently attending school.</p>" ) );
         },
       function() {
         $( this ).find( "p:last" ).remove();
       }
     );

     //employment hover mechanism
      $( "#employment_question" ).hover(
        function() {
            $( this ).append( $( "<p class=\"hover_explanation\">Self-employment and cash-employment applies if it can be verified by a third party or a monthly statement.</p>" ) );
          },
        function() {
          $( this ).find( "p:last" ).remove();
        }
      );

      //employment hover mechanism
       $( "#health_question" ).hover(
         function() {
             $( this ).append( $( "<p class=\"hover_explanation\">Examples of medical-based conditions include anemia (low blood levels), underweight, or history of poor pregnancy outcome.  A dietary-based condition includes, for example, a poor diet.</p>" ) );
           },
         function() {
           $( this ).find( "p:last" ).remove();
         }
       );

       // select all that apply
       $("#select_all_questions").click(function() {
        if($("#foster_parent").is(':checked') || $("#homeless").is(':checked') || $("#ssi").is(':checked') || $("#tanf").is(':checked') || $("#snap_or_medicaid").is(':checked') || $("#teen_parent").is(':checked')|| $("#special_needs").is(':checked')) {
          if($("#none_of_the_above").is(':checked')) {
            alert("None of the above cannot be selected with any of the other options to this question.");
          }
        }
       });
       
      // children question
      $("#children_questions").click(function() {
        if($("#zero_to_three").is(':checked') || $("#three_to_five").is(':checked') || $("#six_to_twelve").is(':checked') || $("#pregnant").is(':checked')) {
          if($("#no_children").is(':checked')) {
           alert("No children cannot be selected with any of the other options to this question.");
         }
       }
      });

      // preferred zipcode
      $("input:radio[name=other_zipcode]").click(function() {
      var value = $(this).val();
        if (value == "yes") {
          $('.place_for_preferred_zipcode').empty().append("<%= escape_javascript(render "early_learning_programs/preferred_zipcode", :user => @user ) %>");
        }
        if (value == "no") {
          $('.preferred_zipcode_questions').remove();
        }
      });
      if($('input:radio[name=other_zipcode][value="yes"]').prop('checked')){
          $('.place_for_preferred_zipcode').append("<%= escape_javascript(render "early_learning_programs/preferred_zipcode", :user => @user ) %>");
      }

      // bilingual language
      $("input:radio[name=bilingual]").click(function() {
      var value = $(this).val();
        if (value == "yes") {
          $('.place_for_bilingual_language').empty().append("<%= escape_javascript(render "early_learning_programs/bilingual_language", :user => @user ) %>");
        }
        if (value == "no") {
          $('.bilingual_language_question').remove();
        }
      });
      if($('input:radio[name=bilingual][value="yes"]').prop('checked')){
          $('.place_for_bilingual_language').append("<%= escape_javascript(render "early_learning_programs/bilingual_language", :user => @user ) %>");
      }
  
});
</script>