<h1>Listing child_care_vouchers</h1>

<table>
  <thead>
    <tr>
      <th>Ccdf dependent no</th>
      <th>Ccdf eligible children</th>
      <th>Ccdf gross income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @child_care_vouchers.each do |child_care_voucher| %>
      <tr>
        <td><%= child_care_voucher.ccdf_dependent_no %></td>
        <td><%= child_care_voucher.ccdf_eligible_children %></td>
        <td><%= child_care_voucher.ccdf_gross_income %></td>
        <td><%= link_to 'Show', child_care_voucher %></td>
        <td><%= link_to 'Edit', edit_child_care_voucher_path(child_care_voucher) %></td>
        <td><%= link_to 'Destroy', child_care_voucher, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Child care voucher', new_child_care_voucher_path %>
