 <div class= "container">
<section class="content-section marquee">
  <div class="row">
    <div class="col-md-8">
      <h1>Child Care Assistance Program</h1>
      <p> Child Care Assistance Program (CCAP) provides low-income, working families with access to quality, affordable child care that allows them to continue working and contributes to the healthy, emotional and social development of the child.  The state of Illinos helps income eligible families pay for their child care services while they work, go to school, pursue training and other work-related activities.

      You can find more information about CCAP by <a href="http://www.dhs.state.il.us/page.aspx?item=30355">clicking here.</a></p>
    </div>
  </div>
</section>
<section class="content-section">
<div class="row">
<div class="col-md-8 col-sm-6 col-xs-12">
  <form action="/child_care_vouchers" role="form" method="post">

  <div class="row">
    <div class="col-md-9 col-sm-10 col-xs-12">
      <label class="allthatapply">Select all that apply to you:</label>
      <div class="radio-button">
        <input type="checkbox" name="tanf" value="tanf"> My family receives TANF<br>
        <input type="checkbox" name="tanf" value="tanf">  I am a teen parent who is enrolled full-time in elementary, high school or GED classes to obtain a high school degree or its equivalent<br>
        <input type="checkbox" name="special_needs" value="special_needs"> I care for a special needs child<br>
        <input type="checkbox" name="status" value="none"> None of the Above<br>
      </div>
    </div>
  </div>

  <!-- Form for caring for child -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" id="employment_question">
        <label for="child" id="child">Are you caring for a child under the age 13?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |child| %>
            <%= radio_button_tag 'child', child, @d.employed == child %>
            <%= child.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>


  <!-- Form for employment -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12" id="employment_question">
        <label for="employment" id="employment">Are all adults in your household currently employed?</label>
        <div class="radio-button">
          <% [ 'yes', 'no'].each do |employment| %>
            <%= radio_button_tag 'employment', employment, @d.employed == employment %>
            <%= employment.humanize %><br>
          <% end %>
        </div>
      </div>
    </div>


  <!-- Form for dependents question -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="ccdf_dependent_no">What is your household size?</label>
         <p type="button" data-toggle="popover" data-content="Total family size, including yourself and child[ren]." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body">
          <input type="text" id="ccdf_dependent_no" name="ccdf_dependent_no" placeholder="For example: 3" class="form-field"value="<%= @current_user.try(:household_size) || @d.try(:dependent_no) %>" required>
          </p>
      </div>
    </div>

  <!-- Form for gross income question -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="ccdf_gross_income">What is your gross monthly income?</label>
          <%= render "programs/popover_calculator" %>
            <p type="button" data-toggle="popover" data-content="Total monthly income from all sources, including work, child support, TANF, and Social Security before any deductions." data-placement="right" style="border: 0px; color: #4582ec;" class="popover-body"class="popover-body">
              <input type="text" id="ccdf_gross_income" name="ccdf_gross_income" placeholder="For example: 1500" class="form-field" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) || @d.try(:gross_monthly_income) %>" required>
            </p>
      </div>
    </div>

  <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

  <!-- Form for location question -->
    <%= render "programs/location_question" %>

  <!-- Form for cellphone question -->
    <%= render "programs/cellphone_question" %>

  <!-- Submit button -->
    <%= render "programs/submit_button" %>

  </form>
  </div>

  <%= render "programs/calculator" %>


</div>
</section>
</div>


