<div class= "container">
<section class="content-section">
  <div class="row">
    <div class="col-md-12">
      <h1>hild Care Voucher</h1>
      <p> Child Care Assistance Program (CCAP) provides low-income, working families with access to quality, affordable child care that allows them to continue working and contributes to the healthy, emotional and social development of the child. Also commonly referred to as a Child Care Voucher, the state of Illinos helps income eligible families pay for their child care services while they work, go to school, pursue training and other work-related activities.

      You can find more information about CCAP by <a href="http://www.dhs.state.il.us/page.aspx?item=30355">clicking here.</a></p>
    </div>
  </div>
</section>


<section class="content-section">
  <form action="/child_care_vouchers" role="form" method="post">

    <div class="row">
      <div class="col-md-12">
        <label>If your child is between the ages of 6 months and 12 years, you may qualify for a Child Care Voucher. Please answer the following questions to find out:</label>
      </div>
    </div>


  <!-- Form for dependents question -->
    <div class="row">
      <div class="col-md-5">
        <label for="ccdf_dependent_no">How many dependents (including yourself) are in your household?</label>
          <!-- <button type="button" data-toggle="popover" data-content="Total family size, including yourself and child[ren]." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button> -->
         <!-- <p type="button" data-toggle="popover" data-content="Total family size, including yourself and child[ren]." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"> -->
          <input type="text" id="ccdf_dependent_no" name="ccdf_dependent_no" placeholder="For example: 3" class="form-field"value="<%= @current_user.try(:household_size) %>" required>
          <!-- </p> -->
      </div>
    </div>

  <!-- Form for gross income question -->
    <div class="row">
      <div class="col-md-5">
        <label for="ccdf_gross_income">What is your gross monthly income?</label>
          <!-- <button type="button" data-toggle="popover" data-content="Total monthly income from all sources, including work, child support, TANF, and Social Security before any deductions." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button> -->
            <!-- <p type="button" data-toggle="popover" data-content="Total monthly income from all sources, including work, child support, TANF, and Social Security before any deductions." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"> -->
              <input type="text" id="ccdf_gross_income" name="ccdf_gross_income" placeholder="For example: 1500" class="form-field" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %>" required>
            <!-- </p> -->
      </div>
    </div>

  <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

  <!-- Form for location question -->
    <%= render "programs/location_question" %>

  <!-- Form for cellphone question -->
    <%= render "programs/cellphone_question" %>

  <!-- Submit button -->
    <%= render "programs/submit_button" %>


  </form>
</section>
</div>
  <!-- <div class="col-md-3 sm-3 xs-12 pull-left">
    <div class="calculator_box">
      <%#= render "programs/calculator" %>
    </div>
  </div> -->


<script>
$(document).ready(function() {

  //this is the map scroll down thing
  $(window).scroll(function() {
    if($(this).scrollTop() > 310 && $(this).width() > 750) {
      $('.calculator_box').addClass('sticky_calculator');
    } else {
      $('.calculator_box').removeClass('sticky_calculator');
    }
  });

  $(window).scroll(function() {
    if($(this).scrollTop() < 310) {
      $('.calculator_box').removeClass('sticky_calculator');
    }
  });

  $(window).scroll(function() {
    if($(this).width() < 750) {
      $('.calculator').removeClass('sticky_calculator');
    }
  });
    $(function ()
      { $("[data-toggle='popover']").popover();
    });
     $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
  });
  </script>

