%p#notice= notice
%p
  %strong Ccdf dependent no:
  = @child_care_voucher.ccdf_dependent_no
%p
  %strong Ccdf eligible children:
  = @child_care_voucher.ccdf_eligible_children
%p
  %strong Ccdf gross income:
  = @child_care_voucher.ccdf_gross_income
= link_to 'Edit', edit_child_care_voucher_path(@child_care_voucher)
|
\#{link_to 'Back', child_care_vouchers_path}
