<div class="container marquee">
<%= render "layouts/print_button" %>
 <% if @eligible == "yes" %>

       <div class="row" >
          <div class="col-md-7">
            <h1>You may be in luck!</h1>
              <p> Based on your rental status, household size and income, you likely qualify for rental assistance.  Applications can be filed at any of the City’s six Community Service Centers.</p>

              <% if @medical_circumstance == "yes" %>
                <p>You must be able to obtain documents from your employer showing that you took time off as well as from the hospital or attending physician.</p>
              <% end %>

              <% if @natural_disaster == "yes" %>
                <p>You must be able to prove this by obtaining documents from a fire marshall (standard fire department reports). For floods, please provide a letter from your landlord and photographs.
                </p>
              <% end %>

              <% if @temporary_loss == "yes"%>
                <p>You must provide last 90 days of pay stubs and a letter from employer stating (layoff, termination, etc) and the return date to work. You can also provide unemployment assistance documentation.</p>
              <% end %>

              <% if @domestic_violence == "yes"%>
                <p>You must be able to prove this by providing a report from the police department or a document showing an order of protection/restraining order.</p>

              <% end %>

              <p>The final decision will be made one-on-one by the case manager.</p>


        <section class="content-section resources">
          <h3>Resources</h3>
            <% if @laf_disclaimer.present? %>
          <p><%= @laf_disclaimer %></p>
          <% else  %>
          <p> Based on your zipcode, here is the nearest Community Service Center to complete your application:  </p>
          <% end %>
        <%= render 'layouts/community_center' %>
          <p>or call 3-1-1.</p>
       </section>

      <section class="content-section resources">
        <h3>Documents You Need to Apply</h3>
        <%= render "rental_assistances/documents" %>
        </section>

       </div>
     </div>

 <% elsif @eligible == "maybe" %>

   <div class="row" >
     <div class="col-md-7">
        <h1>Close enough to apply!</h1>
        <p>According to the income guidelines of Rental Assistance, you make too much money to apply. However, in some cases the

        <section class="content-section resources">
         <h3>Resources</h3>
         <% if @laf_disclaimer.present? %>
           <p><%= @laf_disclaimer %></p>
         <% else  %>
           <p> Based on your zipcode, here is the nearest Community Service Center to complete your application:  </p>
        <% end %>
         <%= render 'layouts/community_center' %>
          <p>or call 3-1-1.</p>
        </section>

    </div>
  </div>

<% elsif @eligible == "no" %>

    <div class="row">
      <div class="col-md-7">
        <h1>Results: Something else in mind!</h1>
        <p>Based on your household size and income, you likely do not qualify for Rental Assistance.</p>
        <%= render "layouts/purple_binder_resources" %>
      </div>
    </div>

  <% end %>
</div>
