<div class= "container">
  <section class="content-section marquee">
    <div class="row">
      <div class="col-md-12">
        <h1>Rental Assistance</h1>
        <p>Rental assistance is a homeless prevention program for those who have "suffered a financial loss related to an emergency." Eligible recipients can document this loss and prove that they can afford next month's rent.
        You can find more information about rental assistance by <a href="http://www.cityofchicago.org/ city/en/depts/fss/provdrs/serv/svcs/how_to_find_rentalassistanceinchicago.html">clicking here.</a></p>
      </div>
    </div>
  </section>

  <section class="content-section">
  <div class="row">
    <div class="col-md-8 col-sm-6 col-xs-12">
    <form action="/rental_assistances" role="form" method="post">

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label class="allthatapply">What circumstance explains why you are unable to pay rent at this time? </label>
        
        <div class="radio-button">
          <input type="checkbox" name="medical" value="medical circumstance"> Someone experiencing a medical circumstance <a data-toggle="popover" data-content="An emergency procedure (for example: surgery, related to complicated birth or other conditions) that prevents you from returning to work immediately and then leads to temporarily losing income. This can also apply to your spouse, child, committed partner whose name is on the lease or grandparent who lives with you." data-placement="right" style="border: 0px; color: #4582ec; ">Learn More</a><br>

          <input type="checkbox" name="natural_disaster" value="a victim of natural disaster or fire">  A victim of natural disaster or fire
          <a data-toggle="popover" data-content="A natural disaster includes instances such as a tornado or fire that prevents you from returning to work immediately and then leads to temporarily losing income. This can also apply to floods for people who are renting a basement apartment who can not afford to replace those items and are seeking relocation." data-placement="right" style="border: 0px; color: #4582ec;">Learn More</a><br>

          <input type="checkbox" name="eviction" value="a recipient of an eviction notice"> A recipient of an eviction notice
          <a data-toggle="popover" data-content="This must be a notice that is notarized and brought with you if you qualify." data-placement="right" style="border: 0px; color: #4582ec;">Learn More</a><br>

          <input type="checkbox" name="income" value="have experienced a temporary loss of income"> Have experienced a temporary loss of income
           <a data-toggle="popover" data-content="This involves losing income due to an unforeseen event (layoff, termination,or other emergencies etc.) The month in between when you lose your job and qualify for unemployment would be admissible." data-placement="right" style="border: 0px; color: #4582ec;">Learn More</a><br>

          <input type="checkbox" name="domestic_violence" value="a victim of domestic violence"> A victim of domestic violence
           <a data-toggle="popover" data-content="This involves losing income due to violence from your intimate partner. " data-placement="right" style="border: 0px; color: #4582ec;">Learn More</a><br>

          <input type="checkbox" name="rental_status" value="none of the above"> None of the above<br>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
      <label for="lease" id="lease" >Is your name currently on the lease of the apartment that you are renting?</label>
      <div class="radio-button">
        <% [ 'yes', 'no' ].each do |lease| %>
          <%= radio_button_tag 'lease', lease, @d.name_on_lease == lease %>
          <%= lease.humanize %>
        <br>
        <% end %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
      <label for="next_rent" id="next_rent">Can you document that you can afford next month’s rent? </label>
      <div class="radio-button">
        <% [ 'yes', 'no' ].each do |next_rent| %>
          <%= radio_button_tag 'next_rent', next_rent, @d.next_month_rent == next_rent %>
          <%= next_rent.humanize %>
          <br>
        <% end %>
      </div>
      </div>
    </div>

  <!-- Form for dependent_no question -->
    <%= render "programs/dependent_question" %>

  <!-- Label and input for rental_gross_income -->
    <div class="row">
      <div class="col-md-9 col-sm-10 col-xs-12">
        <label for="rental_gross_income"> What is your income over the past 90 days? </label>
          <p type="button" data-toggle="popover" data-content="Includes cash receipts from all sources including money wages and salaries before any deductions, unemployment compensation, public assistance, alimony, child support, lottery/gambling winnings, dividends and all other income." data-placement="right" style="border: 0px; color: #4582ec;">
           <input type="text" id="rental_gross_income" name="rental_gross_income" placeholder="For example: 4000" class="form-field" value="<%= @d.ninety_day_gross_income %>" required>
          </p>
      </div>
    </div>

  <!-- Form for zipcode -->
    <%= render "programs/zipcode_question" %>

  <!-- Form for location question -->
    <%= render "programs/location_question" %>

  <!-- Form for cellphone question -->
    <%= render "programs/cellphone_question" %>

  <!-- Submit button -->
    <%= render "programs/submit_button" %>
  </form>
  </div>

    <div class="col-md-3 sm-3 xs-12 pull-left">
      <div class="calculator_box">
        <%= render "programs/calculator" %>
      </div>
    </div>

  </div>
  </section>
</div>



