<p id="notice"><%= notice %></p>

<p>
  <strong>Rental dependent no:</strong>
  <%= @rental_assistance.rental_dependent_no %>
</p>

<p>
  <strong>Rental gross income:</strong>
  <%= @rental_assistance.rental_gross_income %>
</p>

<p>
  <strong>Rental status:</strong>
  <%= @rental_assistance.rental_status %>
</p>

<%= link_to 'Edit', edit_rental_assistance_path(@rental_assistance) %> |
<%= link_to 'Back', rental_assistances_path %>
