
  <div class="container">
    <div class="row">
      <h4 class="page-header">Here are some Community Resources from Purple Binder:</h4>
    </div>
    <br>

  <% if @community_resources.include?("food") %>
  <h4>Food Resources</h4>
  <!-- Food Resources -->
    <div class="row">
    <% if @food_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @food_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_zip.first.street %>  <%= @food_resources_zip.first.city %> <%= @food_resources_zip.first.state %>, <%= @food_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @food_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_zip.second.street %>  <%= @food_resources_zip.second.city %> <%= @food_resources_zip.second.state %>, <%= @food_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @food_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @food_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_first.street %>  <%= @food_resources_first.city %> <%= @food_resources_first.state %>, <%= @food_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @food_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @food_resources_second.street %>  <%= @food_resources_second.city %> <%= @food_resources_second.state %>, <%= @food_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @food_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
  <% end %>

  <% if @community_resources.include?("transportation") %>
  <hr>
  <h4>Transportation Resources</h4>
  <!-- Transporation Resources -->
  <div class="row">
    <% if @transportation_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @transportation_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @transportation_resources_zip.first.street %>  <%= @transportation_resources_zip.first.city %> <%= @transportation_resources_zip.first.state %>, <%= @transportation_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @transportation_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @transportation_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @transportation_resources_zip.second.street %>  <%= @transportation_resources_zip.second.city %> <%= @transportation_resources_zip.second.state %>, <%= @transportation_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @transportation_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @transportation_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @transportation_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @transportation_resources_first.street %>  <%= @transportation_resources_first.city %> <%= @transportation_resources_first.state %>, <%= @transportation_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @transportation_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @transportation_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @transportation_resources_second.street %>  <%= @transportation_resources_second.city %> <%= @transportation_resources_second.state %>, <%= @transportation_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @transportation_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @community_resources.include?("health") %>
    <hr>
    <h4>Health Resources</h4>
    <div class="row">
    <% if @medical_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @medical_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @medical_resources_zip.first.street %>  <%= @medical_resources_zip.first.city %> <%= @medical_resources_zip.first.state %>, <%= @medical_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @medical_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @medical_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @medical_resources_zip.second.street %>  <%= @medical_resources_zip.second.city %> <%= @medical_resources_zip.second.state %>, <%= @medical_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @medical_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @medical_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @medical_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @medical_resources_first.street %>  <%= @medical_resources_first.city %> <%= @medical_resources_first.state %>, <%= @medical_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @medical_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @medical_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @medical_resources_second.street %>  <%= @medical_resources_second.city %> <%= @medical_resources_second.state %>, <%= @medical_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @medical_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @community_resources.include?("housing") %>
    <hr>
    <h4>Housing Resources</h4>
    <div class="row">
    <% if @housing_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @housing_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @housing_resources_zip.first.street %>  <%= @housing_resources_zip.first.city %> <%= @housing_resources_zip.first.state %>, <%= @housing_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @housing_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @housing_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @housing_resources_zip.second.street %>  <%= @housing_resources_zip.second.city %> <%= @housing_resources_zip.second.state %>, <%= @housing_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @housing_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @housing_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @housing_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @housing_resources_first.street %>  <%= @housing_resources_first.city %> <%= @housing_resources_first.state %>, <%= @housing_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @housing_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @housing_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @housing_resources_second.street %>  <%= @housing_resources_second.city %> <%= @housing_resources_second.state %>, <%= @housing_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @housing_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @community_resources.include?("elderly") %>
    <!-- Aabd Resources -->
    <hr>
    <h4>Elderly Resources</h4>
    <div class="row">
    <% if @aabd_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @aabd_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @aabd_resources_zip.first.street %>  <%= @aabd_resources_zip.first.city %> <%= @aabd_resources_zip.first.state %>, <%= @aabd_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @aabd_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @aabd_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @aabd_resources_zip.second.street %>  <%= @aabd_resources_zip.second.city %> <%= @aabd_resources_zip.second.state %>, <%= @aabd_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @aabd_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @aabd_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @aabd_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @aabd_resources_first.street %>  <%= @aabd_resources_first.city %> <%= @aabd_resources_first.state %>, <%= @aabd_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @aabd_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @aabd_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @aabd_resources_second.street %>  <%= @aabd_resources_second.city %> <%= @aabd_resources_second.state %>, <%= @aabd_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @aabd_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @community_resources.include?("child care") %>
    <!-- Child Care Resources -->
    <hr>
    <h4>Child Care Resources</h4>
      <div class="row">
      <% if @child_resources_zip.count >= 2 %>
        <div class="col-md-6 col-sm-6">
          <ul class="list-group" style="text-align:left;">
            <li class="list-group-item" style="font-weight:bold"><%= @child_resources_zip.first.name %>  </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_zip.first.street %>  <%= @child_resources_zip.first.city %> <%= @child_resources_zip.first.state %>, <%= @child_resources_zip.first.zip %> </li>
            <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_zip.first.phone %> </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="list-group" style="text-align:left;">
            <li class="list-group-item" style="font-weight:bold"><%= @child_resources_zip.second.name %>  </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_zip.second.street %>  <%= @child_resources_zip.second.city %> <%= @child_resources_zip.second.state %>, <%= @child_resources_zip.second.zip %> </li>
            <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_zip.second.phone %> </li>
          </ul>
        </div>
        <% end %>
      </div>
      <div class="row">
      <% if @child_resources_first.present? %>
        <div class="col-md-6 col-sm-6">
          <ul class="list-group" style="text-align:left;">
            <li class="list-group-item" style="font-weight:bold"><%= @child_resources_first.name %>  </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_first.street %>  <%= @child_resources_first.city %> <%= @child_resources_first.state %>, <%= @child_resources_first.zip %> </li>
            <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_first.phone %> </li>
          </ul>
        </div>
        <div class="col-md-6 col-sm-6">
          <ul class="list-group" style="text-align:left;">
            <li class="list-group-item" style="font-weight:bold"><%= @child_resources_second.name %>  </li>
            <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @child_resources_second.street %>  <%= @child_resources_second.city %> <%= @child_resources_second.state %>, <%= @child_resources_second.zip %> </li>
            <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @child_resources_second.phone %> </li>
          </ul>
        </div>
        <% end %>
      </div>
    <% end %>

    <% if @community_resources.include?("head start") %>
    <!-- Head Start Resources -->
    <hr>
    <h4>Head Start Resources</h4>
    <div class="row">
    <% if @headstart_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @headstart_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @headstart_resources_zip.first.street %>  <%= @headstart_resources_zip.first.city %> <%= @headstart_resources_zip.first.state %>, <%= @headstart_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @headstart_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @headstart_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @headstart_resources_zip.second.street %>  <%= @headstart_resources_zip.second.city %> <%= @headstart_resources_zip.second.state %>, <%= @headstart_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @headstart_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @headstart_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @headstart_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @headstart_resources_first.street %>  <%= @headstart_resources_first.city %> <%= @headstart_resources_first.state %>, <%= @headstart_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @headstart_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @headstart_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @headstart_resources_second.street %>  <%= @headstart_resources_second.city %> <%= @headstart_resources_second.state %>, <%= @headstart_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @headstart_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>

    <% if @community_resources.include?("early head start") %>
    <!-- Early Head Start Resources -->
    <hr>
    <h4>Early Head Start Resources</h4>
    <div class="row">
    <% if @earlyheadstart_resources_zip.count >= 2 %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @earlyheadstart_resources_zip.first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @earlyheadstart_resources_zip.first.street %>  <%= @earlyheadstart_resources_zip.first.city %> <%= @earlyheadstart_resources_zip.first.state %>, <%= @earlyheadstart_resources_zip.first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @earlyheadstart_resources_zip.first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @earlyheadstart_resources_zip.second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @earlyheadstart_resources_zip.second.street %>  <%= @earlyheadstart_resources_zip.second.city %> <%= @earlyheadstart_resources_zip.second.state %>, <%= @earlyheadstart_resources_zip.second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @earlyheadstart_resources_zip.second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <div class="row">
    <% if @earlyheadstart_resources_first.present? %>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @earlyheadstart_resources_first.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @earlyheadstart_resources_first.street %>  <%= @earlyheadstart_resources_first.city %> <%= @earlyheadstart_resources_first.state %>, <%= @earlyheadstart_resources_first.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @earlyheadstart_resources_first.phone %> </li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-6">
        <ul class="list-group" style="text-align:left;">
          <li class="list-group-item" style="font-weight:bold"><%= @earlyheadstart_resources_second.name %>  </li>
          <li class="list-group-item"><i class="fa fa-map-marker"></i>  <%= @earlyheadstart_resources_second.street %>  <%= @earlyheadstart_resources_second.city %> <%= @earlyheadstart_resources_second.state %>, <%= @earlyheadstart_resources_second.zip %> </li>
          <li class="list-group-item"><i class="fa fa-phone"></i>  <%= @earlyheadstart_resources_second.phone %> </li>
        </ul>
      </div>
      <% end %>
    </div>
    <% end %>


    <div class="text-center">
      <%= image_tag("pblogo.jpg", :class => "logo-padding") %>
    </div>

</div>
