<div class="alert alert-warning alert-dismissible" role="alert">
  <div class="container">
   <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <strong>Check your eligibility via SMS:</strong> Text "hello" to 1-773-377-8946.
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2 class="text-center">
    Enter your information below to check your eligibility for public assistance
    </h2>
  </div>
</div>

<div class="row">
  <div class="panel panel-default col-md-offset-2 col-md-8">
    <div class="panel-body">
      <form action="/filtered_programs" role="form" method="post">

      <!-- age question -->
      <%= render "programs/age_question" %>

      <!-- income question -->
      <div class="row">
        <div class="form-group col-md-12">
          <label for="dependent_no">What is the number of people living in your household including yourself?</label>
            <button type="button" data-toggle="popover" data-content="This should include the number of people who purchase and prepare food with you." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
          <div class="row">
            <div class="col-md-9">
              <p type="button" data-toggle="popover" data-content="This should include the number of people who purchase and prepare food with you." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA">
                <input type="text" id="dependent_no" name="dependent_no" placeholder="For example: 3" class="form-control" value="<%= @current_user.try(:household_size) %>" required>
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- gross income question-->
      <div class="row">
        <div class="form-group col-md-9">
          <label for="gross_income">
            What is your gross monthly income?
          </label>
          <button type="button" data-toggle="popover" data-content="This includes the monthly income of all people living in your household including yourself. This includes income from all sources, such as   Social Security, child support, and unemployment insurance before any deductions." data-placement="top    " style="border: 0px; color: #4582ec; background-color: #FAFAFA"><i class="fa fa-info-circle"></i></button>
          <div class="input-group">
            <span class="input-group-addon">$</span>
               <p type="button" data-toggle="popover" data-content="This includes the monthly income of all people living in your household including yourself. This includes income from all sources, such as Social Security, child support, and unemployment insurance before any deductions." data-placement="top" style="border: 0px; color: #4582ec; background-color: #FAFAFA">
                <input type="text" id="gross_income" name="gross_income" placeholder="For example: 1000"class="form-control" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %>" required>
              </p>
            <span class="input-group-addon">.00</span>
          </div>
          </div>
        </div>

        <!-- disability question -->
        <%= render "programs/disability_question" %>

        <!-- benefits question -->
        <div class="row">
          <div class="form-group col-md-12">
                <label for="benefits" id="benefits">Are you currently receiving public benefits?</label><br>
            <% [ 'yes', 'no' ].each do |benefits| %>
              <%= radio_button_tag 'benefits', benefits, @current_user.try(:benefits) == benefits  %>
              <%= benefits.humanize %>
            <% end %>
          </div>
        </div>

        <div class="place_for_benefits_checkboxes">
        </div>

        <div class="row">
          <div class="col-md-12">
            <button type="submit" class="btn btn-primary program-btn ">See if I qualify</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>

<script type="text/javascript">
  //popover code
  $(function (){
    $("[data-toggle='popover']").popover();
  });

  $('body').on('click', function (e) {
      $('[data-toggle="popover"]').each(function () {
          //the 'is' for buttons that trigger popups
          //the 'has' for icons within a button that triggers a popup
          if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
              $(this).popover('hide');
          }
      });
  });

    //benefits JavaScript onclick
    $("input:radio[name=benefits]").click(function() {
    var value = $(this).val();
      if (value == "yes") {
        $('.place_for_benefits_checkboxes').empty().append("<%= escape_javascript(render "pages/benefits_checkboxes") %>");
      }
      if (value == "no") {
        $('.benefits_checkboxes').remove();
      }
    });

  // //benefits JavaScript on page load
  // $(document).ready(function() {

  //   if($('input:radio[name=benefits][value="yes"]').prop('checked')){
  //     //Check if the current URL contains '#'
  //      if(document.URL.indexOf("#")==-1){
  //          // Set the URL to whatever it was plus "#".
  //          url = document.URL+"#";
  //          location = "#";

  //          //Reload the page
  //          location.reload(true);
  //      }

  //     $('.place_for_benefits_checkboxes').empty().append("<%= escape_javascript(render "pages/benefits_checkboxes") %>");
  //    };
  // });

</script>
