<div class="container">
  <section class="marquee">
    <div class="row">
      <div class="col-md-12" >
        <div class="pull-right">
          <a class="button" href="/all_city_programs/new">Continue screening All Programs &rarr;</a>
        </div>
      </div>
    </div>
  </section>
</div>


<div class="container">
<!-- Eligible Programs  -->
 <div class="row">
    <div class="col-md-5 resources">
      <!-- <h3>Programs you <em>may</em> qualify for</h3> -->
      <h3>You are still in the running for… </h3>

      <p>You don’t have to retype anything you just shared. Find out if you qualify for programs and access resources that interest you. </p>
      <% @all_programs.each_with_index do |program| %>
        <div class="filtered-results">
          <h4><%= program.name %></h4>
          <p><%= program.description %></p>
          <a href="<%= program.url %>"> Continue &rarr;</a>
        </div>
      <% end %>
    </div>


<% if @ineligible_or_receiving_programs.count >= 1 %>
<!-- Community Resources -->
   <div class="col-md-5 col-md-offset-2 resources">
    <h3 > Something else in mind!</h3>
     <p>Here are community resources that address the same issues as the programs you are ineligible for or already receiving:

     <% @program_count = @ineligible_or_receiving_programs.count %>
       <% @count = 0 %>
       <% @ineligible_or_receiving_programs.each do |program| %>
         <% if @count < @program_count.to_i - 2 %>
           <%= program.name_en %>,

         <% elsif @count < @program_count.to_i - 1 %>
           <%= program.name_en %>

         <% else %>
           and <%= program.name_en %>.

         <% end %>
       <% @count += 1 %>
     <% end %>
    </p>

    <% @community_resources.uniq.each do |resource| %>
      <div class="filtered-results">
        <h4><%= resource.capitalize %></h4>
        <p>Find <%= resource %> resources that can help you in your community</p>
        <a href="#" data-toggle="modal" data-target="#myModal">Continue &rarr;</a>
      </div>
    <% end %>
   </div>
<% end %>

</div>
</section>
</div>

 <!-- Zipcode Modal -->
 <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
     <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close close_modal" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

         <div class="modal-body">
         <div class="container">
           <div class="col-md-9">
              <%= form_tag community_resources_url, method: :post do %>
                  <div class="form-group col-md-7">
                     <label for="zipcode">What is your zipcode?</label>
                       <input type="text" id="zipcode" name="zipcode" placeholder="For example: 60615" class="form-field" required>
                   </div>
                 <%= hidden_field_tag :resources, @community_resources %>
                <div class="form-group col-md-9">
                  <%= submit_tag "Enter", name: nil, :class => "btn btn-primary btn-sm col-sm-4", :style=>"display:block-inline;" %>
                </div>
               <% end %>
           </div>
         </div>
       </div>

     </div>
   </div>
 </div>



