.alert.alert-warning.alert-dismissible{:role => "alert"}
  .container
    %button.close{"data-dismiss" => "alert", :type => "button"}
      %span{"aria-hidden" => "true"} &times;
      %span.sr-only= t.popup.close | "Close"
    %strong= t.popup.check_eligibility | "Check your eligibility via SMS:"
    = t.popup.check_eligibility_text | 'Text "hello" to 1-773-377-8946.'
%header
  .container
    .row
      = image_tag("homepage_marquee.png", :class => "img-responsive homepage-marquee")
    .row
      %h1{:style => "text-align:center;"}= t.homepage.check_your | "Check your eligibility for benefits in Chicago & Illinois"
      %p.subhead= t.homepage.elegibility_requirements | "Eligibility requirements can be difficult to find, we've created a process that makes it easy"
      %div{:style => "text-align:center;"}
        = link_to(I18n.t('homepage.get_started', :default => "Get Started"), "/programs", :class => "btn btn-primary btn-lg", :role => "button")
%hr{:style => "margin-top:10px"}/
.container
  .row
    %h2.subsection= t.homepage.little_more | "A Little More About Us"
    %p.col-md-10.col-md-offset-1{:style => "text-align:center;"}= t.homepage.ruby_devs | 'We are ruby developers and alumni of The Starter League’s Web Development program, based in Chicago. Our additional expertise include Public Policy, Economics, and Design. We are working in partnership with Mayor Rahm Emmanuel’s Innovation Delivery Team and Chicago’s Community Service Centers. We have also received tremendous support from civic tech group, Open City and their "Open Gov Hack Night", a group of developers and open data lovers dedicated to open government data in the city of Chicago. Our community resources are provided to you by Purple Binder.'
    .col-md-12{:style => "text-align:center;"}
      = image_tag("logos.jpg", :class => "")
    %div{:style => "text-align:center;"}
      = link_to(I18n.t('homepage.learn_more_about_us', :default => "Learn More About Us"), "/about_us", :class => "btn btn-info")
