<div class="container marquee">
  <div class="row">
    <div class="col-md-12">
      <h1>Our Story</h1>
    </div>
  </div>
  <br>

   <div class="row">
    <div class="col-md-10">
    <h4>Who We Are</h4>
    <p>mRelief is a Chicago-based all-woman software development team. Our niche is streamlining social services delivery through eligibility determination for public benefits done through adaptive questionnaires available online and through text messaging. After a user completes a form, our website generates personalized results for users on which safety net programs they qualify for and actionable steps -- whether they qualify or not. In this way, our platform efficiently facilitates discovery of programs fostering economic relief for people in poverty. Our tool, integrated into City of Chicago administered centers, has reduced eligibility determination time by 75 percent.</p>

    <p>We have contracted with the City of Chicago to build tools to help low-income parents determine eligibility for early childhood programs. In addition, we have launched the Public Template, a universal tool in private beta that helps program providers generate their own eligibility screeners, view data, and customize response pages. </p><br>

    <p>Our Values:</p>
    <ul>
    	<li><b>Reliability</b> - We pride ourselves on a strong work ethic and have delivered before our deadline in all 5 grant cycles and a City of Chicago contract. All our software is done in-house by our all-woman software development team enabling us to be agile, swift with user feedback and provide first-rate customer service.  </li><br>
    	<li><b>Privacy</b> - We believe that all Americans in need should be able to identify what resources in the safety net are available to them without having to give away significant amounts of personal identifiable information. </li><br>
    	<li><b>Accessibility</b> -  We do not take internet access and literacy for granted. We build tools on equalizing platforms such as SMS, develop features for all levels of internet speed, and work to create the simplest forms possible.</li><br>
    	<li><b>Delivery</b> - Above all else, we serve at the pleasure of the beneficiary and strive to enhance the delivery of public benefits without it adding to the stressful circumstance of poverty. </li><br>
    </ul>
    <br>

    <h4>Why We Exist </h4>
     <p>Everyone knows what it’s like to wait in line. The feeling of wasting your time that you can invest elsewhere is one of the most frustrating experiences. On the Southside of Chicago people have been know to wait up to 7 hours for services they may not even qualify for. We learned that this was one of the primary barriers to accessing public assistance in the city. Our mRelief application came into being partly because of Mayor Emanuel’s Innovation Delivery team which requested assistance from the <%= link_to "Chi Hack Night", "http://chihacknight.org/about.html", target: "_blank" %> community with the management of large social services caseloads.</p>
     <br>

    <h4>Who and How We Help</h4>
     <p>To address these problems, our software development team began by building an eligibility screener for Food Stamps. People who are eligible are referred to the nearest location where they can receive application assistance. For those who are ineligible they are referred to local food pantries through a partnership with Purple Binder. We then built screening tools for 12 other programs serving the health, housing, transportation and child wellness of Chicagoans. Next, at the city’s request, mRelief created a tool that could calculate the eligibility of multiple programs all at once. This tool is currently used by social workers in the city of Chicago at six different city-administered community service centers. </p>
     <p>In addition to providing a prescreening process online the team also recognized the need for a data independent format to help those with limited access to internet. A 2012 report by Partnership for a Connected Illinois showed that 54 percent of Illinois residents are non-smartphone users, meaning many use a phone with limited access to the internet. In an effort to combat this digital divide we built a platform using automated text messaging conversation where people can select their desired program, answer a few questions and get a referral to their best next step.</p>
    <br>

    <h4>What We’ve Achieved so Far </h4>
    <p>Our streamlining tools reduce eligibility determination time by 75 percent. </p>
    <p>Here are the key events:</p>
    <ul>
    	<li>September 2014 - <%= link_to "mRelief goes live", "https://www.youtube.com/watch?v=ELKcrLiPHQ8", target: "_blank" %> on the web. </li><br>
    	<li>October 2014 - mRelief is integrated with Martin Luther King Community Service Center, it’s first City of Chicago-administered center.</li><br>
    	<li>November 2014 - <%= link_to "mRelief SMS launches", "https://www.youtube.com/watch?v=OqQSGqadYC8", target: "_blank" %>.</li><br>
    	<li>December 2014 - <%= link_to "mRelief espanol launches.", mrelief_espagnol_press_release_url, target: "_blank" %></li><br>
    	<li>January 2015 - mRelief gets its first write-up in the <%= link_to "Chicago Tribune", "http://www.chicagotribune.com/bluesky/originals/chi-mrelief-rose-afriyie-bsi-20150112-story.html", target: "_blank" %>. </li><br>
    	<li>February 2015 - mRelief becomes an <%= link_to "1871 member", "http://www.1871.com/about-1871/", target: "_blank" %> based nonprofit and integrates with the Chicago Public Library. </li><br>
    	<li>March 2015 - mRelief integrates eligibility for <%= link_to "college students in SNAP.", students_press_release_url, target: "_blank" %></li><br>
    	<li>April 2015 - <%= link_to "mRelief makes SNAP more transparent", snap_transparency_press_release_url, target: "_blank" %> with rules information on why -- or why not -- people qualify. </li><br>
    	<li>May 2015 - mRelief launches a redesign and global screener on the homepage distilling eligibility for all programs accessible in <%= link_to "City of Chicago", "http://www.cityofchicago.org/city/en.html", target: "_blank"  %> administered centers in as few as 5 questions. </li><br>
    	<li>June 2015 - mRelief scales to 2 more City of Chicago administered centers in the Garfield and North Area of Chicago.</li><br>
    	<li>July 2015 - mRelief signs its <%= link_to "first official contract", "http://www.cityofchicago.org/city/en/depts/mayor/press_room/press_releases/2015/august/mayor-emanuel-announces-new-tool-to-assist-parents-in-finding-ea.html", target: "_blank" %> with the City of Chicago. </li><br>
    	<li>August 2015 - <%= link_to "mRelief launches the Early Learning Finder", early_learning_finder_press_release_url, target: "_blank" %>, a tool that helps low-income parents navigate the 731 early learning sites in the city.</li><br>
    	<li>September 2015 - mRelief released a <%= link_to "screener generator", "https://build.mrelief.com/", target: "_blank" %> in Private Beta, a universal web tool that helps program providers of means-tested programs generate their own eligibility screeners, view data, and customize response pages. </li><br>
    	<li>October 2015 - mRelief scales to the final 3 City of Chicago administered centers in Englewood, South Area, and Trina-Davila areas of Chicago.</li><br>
        <li>November 2015 - <%= link_to "mRelief's Builder", "https://build.mrelief.com/", target: "_blank" %> launches.</li><br>
    </ul>

    <br>
    <h4>Where We Are Going </h4>
    <p>We envision a world where everyone in financial need can access their state’s safety net in a way that doesn’t add to the already stressful circumstance of poverty by subjecting vulnerable people to insufferable wait times and highly complex information on how to qualify. In the best case scenario, this world will be facilitated by all states publishing eligibility requirements in a standard format enabling applications that make eligibility screeners ubiquitous. We are building partnerships locally and nationally to liberate machine-readable data on public assistance eligibility requirements. Our interim solution is our next iteration, <%= link_to "mRelief Builder", "https://build.mrelief.com/", target: "_blank" %> where we plan to secure accurate eligibility data more efficiently by developing a real-time interface for non-technical government actors to easily update changes to eligibility requirements for public assistance.</p>
    </div>
  </div>
 </div>
