<div class="container marquee">

<div class="row">
  <div class="col-md-12">
    <h1>Press Releases</h1>
  </div>
</div>

<div class="row">
<div class="col-md-12">
<p class="lead">
<b>
  mRelief | www.mrelief.com | bit.ly/mrelief-form<br>
MEDIA ALERT <br>
FOR IMMEDIATE RELEASE <br>
Contact: Rose Afriyie, 312.857.6394, rose@mrelief.com <br>
<br>
</b>
</p>

<p class="lead"><h3>City of Chicago partners with mRelief to Help Parents Determine Eligibility for Early Childhood Programs </h3></p>


<p><i>In partnership with Mayor Emanuel and the Chicago Early Learning Portal, 1871-based mRelief launches Early Learning Finder to help low-income parents navigate Chicago’s 700+ early learning sites.</i>

<br>
<br>
CHICAGO - On August 10, 2015 mRelief will launch the Early Learning Finder that helps parents determine eligibility for early childhood programs. To help low-income parents navigate the 10 unique early learning program types and 731 early learning sites, a super screening tool on web and text messaging was built to help parents identify the sites nearest them and resources to help if ineligible. The initiative will be a pilot with the City of Chicago and a step toward making learning opportunities visible to all. 
<br>
<br>
“It is our responsibility to ensure that every child has a quality education that allows them to succeed, regardless of where they live, and that begins at the very start with early learning programs,” said Mayor Emanuel. “As we improve equity and access to quality programs in every neighborhood, efforts like the Early Learning Finder assures all families that no matter which neighborhood they live in, that their child will be as prepared as any other student when they arrive at kindergarten.”
<br>
<br>
The new screener incorporates early learning programs funded by Head Start, Early Head Start, Preschool for All, the Child Care Assistance Program and other investments. The screener caters to parents of children in the 0-5 cohort and will empower each parent with 3 results based on: various  eligibility criteria, such as Chicago residence, age of children, and economic factors. Results will be generated on preferences which include length of day, ZIP code, bilingual instruction, quality ratings, and length of week. 
<br>
<br>
“Using screening, asking questions based on the most objective program requirements, is critical to helping both low-income families and city personnel save time and unlock needed benefits utilizing the path of least resistance,” said Rose Afriyie, co-founder of mRelief. 
<br>
<br>
The web application displays the address, quality ratings, and contact information of early learning sites from the city’s Open Data Portal and connects parents with a page where they can view more in-depth information and contact each location on the Chicago Early Learning Portal.
<br>
<br>
“We are always looking for more ways parents can find early learning programs and use our website to kick off the enrollment process, and this screener is a great way to do that”, said Daniel X. O’Neil, executive director of Smart Chicago Collaborative, which runs the Early Learning Portal for the City.
<br>
<br>
The new screener was developed by the Chicago-based all-woman software development team, mRelief. Their niche is eligibility determination for social services done through adaptive questionnaires available online and on text messaging. After a user completes a form, the app generates personalized results for users on which safety net programs they qualify for and actionable steps -- whether they qualify or not. 
<br>
<br>
“1871 works to support entrepreneurs who develop successful businesses that are focused not just on raising money, but also on making a difference,” said 1871 CEO Howard A. Tullman. “mRelief uses technology to create meaningful opportunities for low-income parents and their children, and we congratulate Rose and her team on the launch of their new service with the City of Chicago.”
<br>
<br>
According to the most <%= link_to "recent Census data", "http://censusreporter.org/data/table/?table=B09001&geo_ids=16000US1714000&primary_geo_id=16000US1714000#valueType%7Cestimate", :target => "_blank" %>, children under 5 account for  212,039 Chicagoans and as Chicago celebrates the <%= link_to "lowest unemployment rate", "http://www.chicagotribune.com/business/ct-chicago-unemployment-0724-biz-20150723-story.html", :target => "_blank" %> since June 2007, working families will need options for care. “I live on the Southside, but all of my school and work is up north. To be able to compare and contrast our options in different regions of the city is absolutely useful,” said Chaz Morales-Williams, who used the Early Learning Finder to compare and contrast 4 zipcodes and 12 results pertinent to the location of her and the father of her child’s home and occupation. 
<br>
<br>
The importance of early learning education is significant. During the stage of early childhood, learning acquisition, cognitive development, and reasoning form rapidly when children are placed in environments that activate their foundational knowledge. This has positive implications in their learning throughout their K-8 academic career, adequately preparing them to graduate from a college/university and enter the workforce. According to the White House’s 2014 report on early childhood education, early childhood education can increase earnings in adulthood by <%= link_to "1.3 to 3.5 percent", "https://www.whitehouse.gov/sites/default/files/docs/early_childhood_report1.pdf", :target => "_blank" %>. 
<br>
<br>
“We know that no one cares more about children than their parents,” said Maria Whelan, President &amp; CEO of Illinois Action for Children.  “This new screening tool developed by mRelief will be an additional resource for low-income parents in making decisions for the early care and education of their children.”


<br><br>######################<br><br>
mRelief is modernizing public benefits through web tools and an unprecedented use of text messaging in social services that empowers people with whether they qualify and tells all users their best next step through a partnership with Purple Binder. For more information, visit mRelief at www.mrelief.com
<br>
<br>


</p>
</div>
</div>

<div class="row">
<div class="col-md-12">
<p class="lead"><h3>mRelief Launches in Garfield and North Area Community Service Centers | June 2, 2015</h3></p>

<p><i>With a fully redesigned site and a host of convenience features, mRelief integrates with centers in the north and west side extending it’s reach to more Chicagoans living in poverty.</i>

<br>
<br>
CHICAGO - mRelief will launch in community service centers, sites that administer public assistance and economic mobility in Chicago, in Garfield and North Area. The app refers eligible users to online and in-person application assistance and ineligible users to their nearest community resources provided by Purple Binder. The city’s integration with mRelief’s modernized web-based tools reduced eligibility determination time by 75 percent and now the nonprofit organization is scaling  its reach.<br>
<br>
mRelief’s online eligibility screener which calculates eligibility for 12 safety net programs in food, transportation, housing, health, and child welfare first launched in partnership with the City at the King Community Service Center, located in the Bronzeville neighborhood on the South Side of Chicago, on October 9, 2014. In 2015, over 1100 clients have been screened using mRelief at the King Center alone.
<br>
<br>
“We are really excited to provide a new interface that caters to making eligibility determination even more convenient for people already burdened with the stressful circumstance of poverty,” says co-founder Rose Afriyie. 
<br>
<br>
mRelief’s site attracts low income Chicagoans who sustain their households on $1,321 on average a month. The site’s expansion to the center near Garfield is particularly important as census data showed that 39.7 percent of households in East Garfield Park were below the poverty level. Additionally, 22.7 percent of households in the Uptown community surrounding the North Area community service center is below the poverty level.

<br>
<br>
With the help of a grant from the Smart Chicago Collaborative’s Civic Works Project, which is funded by the Knight Foundation, the team re-envisioned the entire user experience and design of the site. Marina Goldshteyn, mRelief Product Designer and former designer for healthcare giant Humana, led the design effort and Genevieve Nielsen, mRelief CTO, executed backend development of the site redesign. The efforts resulted in mRelief’s new design which is chock full of features that make it easier for the user at each phase of eligibility determination. 

<br>
<br>
Users can now start screening for eligibility on the very first page. When starting with the “All Programs At Once,” option on the homepage, users can utilize a calculator for income math. In addition, mRelief now stores inputs so users never need to retype unchanging information as they navigate between forms. As an additional boost, popovers explaining income specifications and other requirements in detail are hidden unless users are entering their information into the pertinent fields. Finally, eligibility results pages for food stamps and rental assistance now link to documents needed for the interview so users can arrive prepared and save even more time.

<br>
<br>
The mRelief team is comprised of all-women software developers who work out of 1871 in The Merchandise Mart.
<br>
<br>

######################<br><br>
mRelief is modernizing public benefits through web tools and an unprecedented use of text messaging in social services that empowers people with whether they qualify and tells all users their best next step. For more information and to view the redesigned site, visit mRelief at www.mrelief.com
<br>
<br>


</p>
</div>
</div>


<div class="row">
<div class="col-md-12">
<p class="lead"><h3>mRelief Brings Transparency to Food Stamps | April 28, 2015</h3>

<br>
<br>
Chicago — Launched in partnership with the Sunlight Foundation, mRelief has taken the next step in making eligibility determination more accessible to Chicagoans in need of food stamps. Families can now learn not just whether they qualify, but why – or why not. <br>
<br>
While food stamp eligibility requirements are available in the DHS policy manual, it can be difficult to access and understand for low-income people already burdened with the stressful circumstance of poverty. “Food stamp applicants can arrive at in-person interviews with more information about what policies favor their eligibility and ineligible users can make a more precise assessment on whether it is worth it to invest the time in appeals, ” said Rose Afriyie, co-founder of mRelief.
<br>
<br>
In a recent user testing session of mRelief conducted by the Smart Chicago Collaborative, 82 percent of Chicagoans eligible for  public benefits felt it was “very important” to know why they did or did not qualify. “I’ve seen first-hand the devotion mRelief has to meeting the needs of the people who use their service. This change in the core features of their product, based on our  CUTGroup test, is a great indication of success”, said Daniel X. O’Neil, Executive Director of the Smart Chicago Collaborative.
<br>
<br>
The new interface – available in both English and Spanish – will show how a user’s household income compares with the maximum limit. Users who are living in extreme poverty – down to less than a $100 – will be notified of the reduced application wait times they enjoy. Additionally, Qualified Member Households, students and non-citizens are also given further information about how the state’s policies govern their eligibility. The new responses to forms are also available for printing for users to bring with them to interviews or share with friends.
<br>
<br>
"Sunlight is proud to support mRelief's work helping to make government information more easily accessible to everyone,” said Scott Wells, Operations Director of the Sunlight Foundation. In December, mRelief was the recipient of Sunlight Foundation’s Open Gov Grant, a $10,000 grant to help organizations make government more transparent and accountable. With this approach, relevant components of state food stamp policy will become more accessible to the people most affected by it, creating an opportunity for open discussion about eligibility guidelines. mRelief is a nonprofit organization that receives it's status through fiscal sponsor Good City and provides access to community resources through Purple Binder.

</p>
</div>
</div>
<br>
<br>


<div class="row">
<p class="lead"><h3>mRelief empowers students with food stamps eligibility information | Mar. 20, 2015</h3>
<br>
<br>
Chicago — In partnership with the Harris School of Public Policy and other advocates in food stamps eligibility, mRelief has expanded eligibility determination to include more college students.  <br>
<br>
In recent years, <a href="http://www.forbes.com/sites/johnebersole/2014/01/13/top-issues-facing-higher-education-in-2014/">studies</a> have shown that the profile of the college student is changing. Shifting student demographics show that a typical student is no longer an 18 to 24 year old studying full-time on campus but that fewer than 20 percent of the roughly 20 million enrolled as of 2015 fit this traditional description. The average college student is older, working part-time, and often commuting, either by car or, increasingly, the Internet. Policies and outreach need to account for this demographic.
<br>
<br>
"There is a myth that financial aid is the primary support that students can access during times of need," says Genevieve Nielsen, "With questions inclusive of a range of higher education institutions and students who work part-time, we are empowering students in need with more options."
<br>
<br>
Eligibility determination expansion for students on mRelief.com was a product of mRelief’s Open Foodstamps Hackathon that took place on February 21-22. Hosted at the Chicago Innovation Exchange and with food and resources funded by Microsoft and Code for America, students and policy advocates gathered to expand the screening process with targeted, but brief questions.According to Lauren Pett, the Co-Chair of the Harris Food Policy Advocacy Group at the Harris School of Public Policy, “It is crucial that students eligible for SNAP should be able to access the program so their nutritional needs are met and they can focus on their education.”
<br>
<br>
mRelief is dedicated to fixing the broken American welfare system that leaves the most vulnerable without access to available public assistance. Starting with Chicago the organization, which receives its 501C-3 status through the nonprofit Good City, does this through modernizing eligibility determination by making it accessible through online and text messaging. Users who want to know whether they qualify for public benefits can do so by completing forms which ask questions about household size, age, income, and other basic requirements.
<br>
<br>
mRelief’s integration into Community Service Centers, social service agencies administered by the city of Chicago, has resulted in the eligibility determination time being reduced by 75 percent -- from an average of 16 to 4 minutes for the session pertaining to checking eligibility. With support from Good City and the City of Chicago, mRelief launched a Southside and Westside bus campaign on 70 CTA buses to scale awareness.
<br>
<br>
mRelief emerged from the Open Government Hack Night that convenes weekly at Braintree. Mayor Emanuel’s office presented at a July 2014 meeting, issuing an open call for ideas to bring technology to social services delivery. Since then, the all-woman software development team has also forged partnerships with LAF (formerly the Legal Assistance Foundation), Purple Binder, Chicago Public Libraries, Smart Chicago Collaborative, the Center for Working Families, and most recently Food and Policy Group at University of Chicago Harris School.

</p>
</div>

<br>
<br>

<div class="row">
<p class="lead"><h3>Spanish Speakers Can Now Easily Pre-screen Food Stamp Eligibility | Dec. 18, 2014</h3>
<br>
<br>
CHICAGO–On the heels of President Obama’s executive order on immigration, mRelief, an app that helps Chicagoans determine their eligibility for government benefits -- and local community resources through <%= link_to "Purple Binder", "http://purplebinder.com/" %> -- has launched mRelief español. The web application’s latest version provides a custom Spanish translation of the site and the food stamps eligibility screener.<br>
<br>
Census Data shows that out of the people who “speak English less than very well” in Chicago, 62 percent are Hispanics according to analysis in the Pew Research Hispanic Trends Project. The Chicago metropolitan area is home to the 5th largest Latino population in the US at 1.9 million. Further, Hispanics -- both foreign born and native -- have the lowest Median Annual Personal Earnings in the city at $29,600. “As income is a primary indicator of food stamps eligibility, empowering Hispanics about their eligibility for benefits is critical,” said Rose Afriyie project manager of mRelief.
<br>
<br>
Through mRelief’s partnership with LAF (Legal Assistance Foundation), the team behind mRelief first started integrating Spanish by providing users who qualified for  food stamps, rental assistance, and other programs with information about when Spanish was spoken at  <%= link_to "community service centers", "http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/community_servicecenterlocations.html" %>. Now, the vibrant open source community has helped them expand their reach. <br>
<br>
mRelief is a success story of the Open Government Hack Night at 1871.  mRelief reaped the benefits of being an open source application when the all-woman team connected one Tuesday night with Spanish translator Rene M. Paccha. As the application progressed, Paccha, who is also a ruby developer followed the updates on Github. Making use of the open source translation tool R81N, created by developer Andrey Sitnik, Paccha completed translation for tabs on the main website, the food stamps screener, and all food stamps response pages. Manuela Sifuentes, startup founder of Malinalli Language Consultants, also contributed to the Spanish translation.
<br>
<br>
“I have found that machine translations tend to make things more confusing,” said Paccha about his decision to pitch in and manually translate key pages on the web application. Paccha who is a native Spanish speaker of Chilean and Ecuadorian descent and formally taught continued, “I wanted to correct for that mistake by using my trade as a translator to do something for my community.”<br>
<br>
The web application is currently awaiting decisions from grantmakers that would help finance the translation of the remaining 11 web programs and the 4 programs on SMS. Supporters can donate to mRelief at <%= link_to "bit.ly/mrelief-form", "https://fundly.com/mrelief-using-technology-to-improve-social-services" %>.

</p>
</div>

<br>
<br>

<div class="row">
<p class="lead"><h3>Low-Income Chicagoans Can Text Their Way to Food Stamps | Nov. 24, 2014</h3>
<br>
<br>
CHICAGO– Many low-income residents are unsure of where their next meal will come from, let alone how to begin to ask for government assistance. According to the <%= link_to "most recent data", "http://www.snaptohealth.org/snap/snap-frequently-asked-questions/" %>, approximately 25 percent of people who are eligible for food stamps don't participate in the program.<br>
<br>
A Chicago-based startup aims to close that gap. This week, mRelief unveiled a new feature of their web application that allows citizens to text (773) 377-8946 to check if they are eligible for food stamps. Users can start the conversation by texting "Hello," or their preferred greeting. mRelief, fiscally sponsored by Good City, has also rolled out SMS capability for RTA Ride Free, Medicaid and Medicare Cost Sharing.<br>
<br>
“By adding texting capabilities to our application, we can help even more residents find out if they are eligible for food stamps.  Our goal is to help everyone access the benefits that will ultimately help them become self-sufficient," Project Manager and Co-founder Rose Afriyie said. “Through texting, users can quickly gauge whether they should take the next step in completing an application.”  Residents can become discouraged with long applications and can put off visiting a public benefits office; the quick screener helps to overcome those barriers. <br>
<br>
mRelief’s quick screener accounts for the requirements of several government benefits, including Medicaid, Food Stamps and SNAP Benefits. <br>
<br>
Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step. If they don’t qualify, they’ll be directed to local community resources provided by Purple Binder’s database, an organization that matches people with community services with citizens’ health in mind.<br>
<br>
The project has already been awarded $15,000 by the Smart Chicago Collaborative’s Civic Works Project, which is funded by the Knight Foundation. The text-messaging platform is enabled by Twilio and is hosted by the Smart Chicago Collaborative. The founders are in a fundraising round to raise $50,000 by December 4th from Chicagoans and matching corporate donors using the Fundly platform:Visit  <%= link_to "bit.ly/mrelief-form", "https://fundly.com/mrelief-using-technology-to-improve-social-services" %> to make a contribution and support greater access to public benefits for Chicago residents.<br>
<br>
“This mRelief support is exactly why Smart Chicago exists— to provide critical early support for great products that help people”, said Smart Chicago Collaborative Executive Director Daniel X. O’Neil.<br>
<br>
According to a 2012 Partnership for a Connected Illinois report, 64 percent of Illinois residents don’t have a smartphone device. However residents do have a cell phone, thus the text-messaging feature was added to make access to government benefits accessible to non-smartphone users.<br>

<br>
mRelief was developed by three local women developers this summer in response to Mayor Emanuel’s call for ideas to bring technology to social services in July. The startup officially launched last month with a pilot at the Martin Luther King Community Service Center in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team.
</p>
</div>

<br>
<br>

<div class="row">
<p class="lead"><h3>mRelief, local Chicago app demystifying eligibility for public assistance kicks off pilot at King Community Service Center | November 6, 2014
</h3>
<br>
<br>
Chicago — This October, a Chicago-based startup, mRelief, launched at the City’s Martin Luther King Community Service Center on the South Side.<br>
<br>
Developed in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team, mRelief is a website application that pre-screens eligibility for benefits by assessing whether users meet the income, household size, age, and other basic requirements. mRelief emerged from the Open Government Hack Night that convenes weekly at 1871. Mayor Emanuel’s office presented at a July 2014 meeting, issuing an open call for ideas to bring technology into social services.<br>
<br>
“mRelief enables our staff to quickly connect more Chicagoans to benefits, putting more money in the pockets of residents in need.” said Commissioner Evelyn Diaz, of the Department of Family &amp; Support Services, which manages the King Community Service Center.<br>
<br>
Before mRelief was integrated into the workflow of caseworkers at the King Center, Chicagoans were not preliminarily screened for benefits eligibility when seeking social services. mRelief’s questionnaire accounts for the requirements of several government benefits, including Medicaid and SNAP Benefits, so that staff can assist residents in need in a matter of minutes.  Now applicants can rely on this quick pre-screen tool before taking valuable time to complete detailed application forms, gathering identifying documents, and waiting at the appropriate office for an interview.<br>
<br>
mRelief was programmed with Ruby on Rails by a team of all-women developers and is seed funded by the Smart Chicago Collaborative though their Civic Works Project. The Civic Works Project is a program funded by the Knight Foundation to help spur civic innovation in Chicago. Team mRelief is currently in a fundraising round for $200,000 and is using the platform Fundly to raise $50,000 by November 21st at bit.ly/mrelief-form. “mRelief is excited to use technology to solve an actual problem for underrepresented people. Our platform starts with alleviating long lines for first time applicants and empowering them with their next steps,” says Rose Afriyie, Project Manager of mRelief.<br>
<br>
The app determines eligibility through a brief questionnaire online and in an SMS form, backed by a database of eligibility requirements. The approach with SMS came about from a 2012 report by Partnership for a Connected Illinois which showed that 64 percent of Illinois residents are non-smartphone users meaning they use a feature phone with limited access to the internet. Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step, if not, they are directed to local community resources provided by Purple Binder’s database. Purple Binder is a Chicago-based company that matches people with community services that keep them healthy.<br>
<br>
“mRelief is a great example of a strong civic tech ecosystem in Chicago”, said Smart Chicago Collaborative Executive Director Daniel X. O’Neil. “We’re proud to use our Knight-funded Civic Works project to support the launch of mRelief.”<br>

</p>
</div>
</div>
