
<div class="container">

<div class="row">
<p class="lead">

<br>
<br>
<b>
  mRelief | www.mrelief.com | bit.ly/mrelief-form<br>
MEDIA ALERT <br>
FOR IMMEDIATE RELEASE <br>
Contact: Rose Afriyie, 570.982.1562, sariyie@gmail.com <br>
Spanish Speakers Can Now Easily Pre-screen Food Stamp Eligibility
<br>
</b>
<br>
Dec. 18, 2014<br>
<br>
CHICAGO–On the heels of President Obama’s executive order on immigration, mRelief, an app that helps Chicagoans determine their eligibility for government benefits -- and local community resources through <%= link_to "Purple Binder", "http://purplebinder.com/" %> -- has launched mRelief español. The web application’s latest version provides a custom Spanish translation of the site and the food stamps eligibility screener.<br>
<br>
Census Data shows that out of the people who “speak English less than very well” in Chicago, 62 percent are Hispanics according to analysis in the Pew Research Hispanic Trends Project. Chicago is home to the 5th largest Latino population in the US at 1.9 million. Further, Hispanics -- both foreign born and native -- have the lowest Median Annual Personal Earnings in the city at $29,600. “As income is a primary indicator of food stamps eligibility, empowering Hispanics about their eligibility for benefits is critical,” said Rose Afriyie project manager of mRelief.
<br>
<br>
Through mRelief’s partnership with LAF (Legal Assistance Foundation), the team behind mRelief first started integrating Spanish by providing users who qualified for  food stamps, rental assistance, and other programs with information about when Spanish was spoken at  <%= "community service centers", "http://www.cityofchicago.org/city/en/depts/fss/provdrs/serv/svcs/community_servicecenterlocations.html" %>. Now, the vibrant open source community has helped them expand their reach. <br>
<br>
mRelief is a success story of the Open Government Hack Night at 1871. Team mRelief reaped the benefits of being an open source application when the all-woman team connected one Tuesday night with Spanish translator Rene M. Paccha. As the application progressed, Paccha, who is also a ruby developer followed the updates on Github. Making use of the open source translation tool R81N, created by developer Andrey Sitnik, Paccha completed translation for tabs on the main website, the food stamps screener, and all food stamps response pages. Manuela Sifuentes, startup founder of Malinalli Language Consultants, also contributed to the Spanish translation.<br>
<br>
“I have found that machine translations tend to make things more confusing,” said Paccha about his decision to pitch in and manually translate key pages on the web application. Paccha who is a native Spanish speaker of Chilean and Ecuadorian descent and formally taught continued, “I wanted to correct for that mistake by using my trade as a translator to do something for my community.”<br>
<br>
The web application is currently awaiting decisions from grantmakers that would help finance the translation of the remaining 11 web programs and the 4 programs on SMS. Supporters can donate to mRelief at<%= link_to "bit.ly/mrelief-form", "https://fundly.com/mrelief-using-technology-to-improve-social-services" %>.

</p>
</div>



<div class="row">
<p class="lead">

<br>
<br>
<b>
  mRelief | www.mrelief.com | bit.ly/mrelief-form<br>
MEDIA ALERT <br>
FOR IMMEDIATE RELEASE <br>
Contact: Rose Afriyie, 570.982.1562, sariyie@gmail.com <br>
Low-Income Chicagoans Can Text Their Way to Food Stamps
<br>
</b>
<br>
Nov. 24, 2014<br>
<br>
CHICAGO– Many low-income residents are unsure of where their next meal will come from, let alone how to begin to ask for government assistance. According to the <%= link_to "most recent data", "http://www.snaptohealth.org/snap/snap-frequently-asked-questions/" %>, approximately 25 percent of people who are eligible for food stamps don't participate in the program.<br>
<br>
A Chicago-based startup aims to close that gap. This week, mRelief unveiled a new feature of their web application that allows citizens to text (773) 377-8946 to check if they are eligible for food stamps. Users can start the conversation by texting "Hello," or their preferred greeting. mRelief, fiscally sponsored by Good City, has also rolled out SMS capability for RTA Ride Free, Medicaid and Medicare Cost Sharing.<br>
<br>
“By adding texting capabilities to our application, we can help even more residents find out if they are eligible for food stamps.  Our goal is to help everyone access the benefits that will ultimately help them become self-sufficient," Project Manager and Co-founder Rose Afriyie said. “Through texting, users can quickly gauge whether they should take the next step in completing an application.”  Residents can become discouraged with long applications and can put off visiting a public benefits office; the quick screener helps to overcome those barriers. <br>
<br>
mRelief’s quick screener accounts for the requirements of several government benefits, including Medicaid, Food Stamps and SNAP Benefits. <br>
<br>
Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step. If they don’t qualify, they’ll be directed to local community resources provided by Purple Binder’s database, an organization that matches people with community services with citizens’ health in mind.<br>
<br>
The project has already been awarded $15,000 by the Smart Chicago Collaborative’s Civic Works Project, which is funded by the Knight Foundation. The text-messaging platform is enabled by Twilio and is hosted by the Smart Chicago Collaborative. The founders are in a fundraising round to raise $50,000 by December 4th from Chicagoans and matching corporate donors using the Fundly platform:Visit  <%= link_to "bit.ly/mrelief-form", "https://fundly.com/mrelief-using-technology-to-improve-social-services" %> to make a contribution and support greater access to public benefits for Chicago residents.<br>
<br>
“This mRelief support is exactly why Smart Chicago exists— to provide critical early support for great products that help people”, said Smart Chicago Collaborative Executive Director Daniel X. O’Neil.<br>
<br>
According to a 2012 Partnership for a Connected Illinois report, 64 percent of Illinois residents don’t have a smartphone device. However residents do have a cell phone, thus the text-messaging feature was added to make access to government benefits accessible to non-smartphone users.<br>

<br>
mRelief was developed by three local women developers this summer in response to Mayor Emanuel’s call for ideas to bring technology to social services in July. The startup officially launched last month with a pilot at the Martin Luther King Community Service Center in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team.
</p>
</div>


<div class="row">
<p class="lead">

<br>
<br>
<b>
  mRelief | www.mrelief.com | bit.ly/mrelief-form<br>
MEDIA ALERT <br>
FOR IMMEDIATE RELEASE <br>
Contact: Rose Afriyie, 570.982.1562, sariyie@gmail.com <br>
mRelief, local Chicago app demystifying eligibility for public assistance kicks off pilot at King Community Service Center<br>
</b>
<br>
Chicago 11/06/14 — This October, a Chicago-based startup, mRelief, launched at the City’s Martin Luther King Community Service Center on the South Side.<br>
<br>
Developed in partnership with Mayor Rahm Emanuel’s Innovation Delivery Team, mRelief is a website application that pre-screens eligibility for benefits by assessing whether users meet the income, household size, age, and other basic requirements. mRelief emerged from the Open Government Hack Night that convenes weekly at 1871. Mayor Emanuel’s office presented at a July 2014 meeting, issuing an open call for ideas to bring technology into social services.<br>
<br>
“mRelief enables our staff to quickly connect more Chicagoans to benefits, putting more money in the pockets of residents in need.” said Commissioner Evelyn Diaz, of the Department of Family &amp; Support Services, which manages the King Community Service Center.<br>
<br>
Before mRelief was integrated into the workflow of caseworkers at the King Center, Chicagoans were not preliminarily screened for benefits eligibility when seeking social services. mRelief’s questionnaire accounts for the requirements of several government benefits, including Medicaid and SNAP Benefits, so that staff can assist residents in need in a matter of minutes.  Now applicants can rely on this quick pre-screen tool before taking valuable time to complete detailed application forms, gathering identifying documents, and waiting at the appropriate office for an interview.<br>
<br>
mRelief was programmed with Ruby on Rails by a team of all-women developers and is seed funded by the Smart Chicago Collaborative though their Civic Works Project. The Civic Works Project is a program funded by the Knight Foundation to help spur civic innovation in Chicago. Team mRelief is currently in a fundraising round for $200,000 and is using the platform Fundly to raise $50,000 by November 21st at bit.ly/mrelief-form. “mRelief is excited to use technology to solve an actual problem for underrepresented people. Our platform starts with alleviating long lines for first time applicants and empowering them with their next steps,” says Rose Afriyie, Project Manager of mRelief.<br>
<br>
The app determines eligibility through a brief questionnaire online and in an SMS form, backed by a database of eligibility requirements. The approach with SMS came about from a 2012 report by Partnership for a Connected Illinois which showed that 64 percent of Illinois residents are non-smartphone users meaning they use a feature phone with limited access to the internet. Users can explore their eligibility for state and local government benefits; if they qualify they are directed to their immediate next step, if not, they are directed to local community resources provided by Purple Binder’s database. Purple Binder is a Chicago-based company that matches people with community services that keep them healthy.<br>
<br>
“mRelief is a great example of a strong civic tech ecosystem in Chicago”, said Smart Chicago Collaborative Executive Director Daniel X. O’Neil. “We’re proud to use our Knight-funded Civic Works project to support the launch of mRelief.”<br>

</p>
</div>
</div>
