<%= form_for(@all_city_program_datum) do |f| %>
  <% if @all_city_program_datum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@all_city_program_datum.errors.count, "error") %> prohibited this all_city_program_datum from being saved:</h2>

      <ul>
      <% @all_city_program_datum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dependent_no %><br>
    <%= f.number_field :dependent_no %>
  </div>
  <div class="field">
    <%= f.label :medicare_household_size %><br>
    <%= f.number_field :medicare_household_size %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :monthly_gross_income %><br>
    <%= f.number_field :monthly_gross_income %>
  </div>
  <div class="field">
    <%= f.label :child_support %><br>
    <%= f.number_field :child_support %>
  </div>
  <div class="field">
    <%= f.label :ssi %><br>
    <%= f.number_field :ssi %>
  </div>
  <div class="field">
    <%= f.label :monthly_benefits %><br>
    <%= f.number_field :monthly_benefits %>
  </div>
  <div class="field">
    <%= f.label :ninety_day_gross_income %><br>
    <%= f.number_field :ninety_day_gross_income %>
  </div>
  <div class="field">
    <%= f.label :annual_gross_income %><br>
    <%= f.number_field :annual_gross_income %>
  </div>
  <div class="field">
    <%= f.label :assets %><br>
    <%= f.number_field :assets %>
  </div>
  <div class="field">
    <%= f.label :number_of_children %><br>
    <%= f.number_field :number_of_children %>
  </div>
  <div class="field">
    <%= f.label :enrolled_in_education %><br>
    <%= f.text_field :enrolled_in_education %>
  </div>
  <div class="field">
    <%= f.label :citizen %><br>
    <%= f.text_field :citizen %>
  </div>
  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :disabled_status %><br>
    <%= f.text_field :disabled_status %>
  </div>
  <div class="field">
    <%= f.label :name_on_lease %><br>
    <%= f.text_field :name_on_lease %>
  </div>
  <div class="field">
    <%= f.label :rental_status %><br>
    <%= f.text_field :rental_status %>
  </div>
  <div class="field">
    <%= f.label :pregnant %><br>
    <%= f.text_field :pregnant %>
  </div>
  <div class="field">
    <%= f.label :child_health_insurance_state %><br>
    <%= f.text_field :child_health_insurance_state %>
  </div>
  <div class="field">
    <%= f.label :pregnant_or_caring_for_child %><br>
    <%= f.text_field :pregnant_or_caring_for_child %>
  </div>
  <div class="field">
    <%= f.label :relationship_to_child %><br>
    <%= f.text_field :relationship_to_child %>
  </div>
  <div class="field">
    <%= f.label :pregnant_with_first_child %><br>
    <%= f.text_field :pregnant_with_first_child %>
  </div>
  <div class="field">
    <%= f.label :tanif_sixty_months %><br>
    <%= f.text_field :tanif_sixty_months %>
  </div>
  <div class="field">
    <%= f.label :anticipate_other_income %><br>
    <%= f.text_field :anticipate_other_income %>
  </div>
  <div class="field">
    <%= f.label :teen_parent %><br>
    <%= f.text_field :teen_parent %>
  </div>
  <div class="field">
    <%= f.label :child_in_school %><br>
    <%= f.text_field :child_in_school %>
  </div>
  <div class="field">
    <%= f.label :snap_eligibility_status %><br>
    <%= f.text_field :snap_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :all_kids_eligibility_status %><br>
    <%= f.text_field :all_kids_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :rta_eligibility_status %><br>
    <%= f.text_field :rta_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :medicaid_eligibility_status %><br>
    <%= f.text_field :medicaid_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :medicare_cost_sharing_eligibility_status %><br>
    <%= f.text_field :medicare_cost_sharing_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :rental_eligibility_status %><br>
    <%= f.text_field :rental_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :aabd_eligibility_status %><br>
    <%= f.text_field :aabd_eligibility_status %>
  </div>
  <div class="field">
    <%= f.label :tanf_eligibility_status %><br>
    <%= f.text_field :tanf_eligibility_status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
