<p id="notice"><%= notice %></p>

<p>
  <strong>Dependent no:</strong>
  <%= @all_city_program_datum.dependent_no %>
</p>

<p>
  <strong>Medicare household size:</strong>
  <%= @all_city_program_datum.medicare_household_size %>
</p>

<p>
  <strong>Age:</strong>
  <%= @all_city_program_datum.age %>
</p>

<p>
  <strong>Monthly gross income:</strong>
  <%= @all_city_program_datum.monthly_gross_income %>
</p>

<p>
  <strong>Child support:</strong>
  <%= @all_city_program_datum.child_support %>
</p>

<p>
  <strong>Ssi:</strong>
  <%= @all_city_program_datum.ssi %>
</p>

<p>
  <strong>Monthly benefits:</strong>
  <%= @all_city_program_datum.monthly_benefits %>
</p>

<p>
  <strong>Ninety day gross income:</strong>
  <%= @all_city_program_datum.ninety_day_gross_income %>
</p>

<p>
  <strong>Annual gross income:</strong>
  <%= @all_city_program_datum.annual_gross_income %>
</p>

<p>
  <strong>Assets:</strong>
  <%= @all_city_program_datum.assets %>
</p>

<p>
  <strong>Number of children:</strong>
  <%= @all_city_program_datum.number_of_children %>
</p>

<p>
  <strong>Enrolled in education:</strong>
  <%= @all_city_program_datum.enrolled_in_education %>
</p>

<p>
  <strong>Citizen:</strong>
  <%= @all_city_program_datum.citizen %>
</p>

<p>
  <strong>Zipcode:</strong>
  <%= @all_city_program_datum.zipcode %>
</p>

<p>
  <strong>Disabled status:</strong>
  <%= @all_city_program_datum.disabled_status %>
</p>

<p>
  <strong>Name on lease:</strong>
  <%= @all_city_program_datum.name_on_lease %>
</p>

<p>
  <strong>Rental status:</strong>
  <%= @all_city_program_datum.rental_status %>
</p>

<p>
  <strong>Pregnant:</strong>
  <%= @all_city_program_datum.pregnant %>
</p>

<p>
  <strong>Child health insurance state:</strong>
  <%= @all_city_program_datum.child_health_insurance_state %>
</p>

<p>
  <strong>Pregnant or caring for child:</strong>
  <%= @all_city_program_datum.pregnant_or_caring_for_child %>
</p>

<p>
  <strong>Relationship to child:</strong>
  <%= @all_city_program_datum.relationship_to_child %>
</p>

<p>
  <strong>Pregnant with first child:</strong>
  <%= @all_city_program_datum.pregnant_with_first_child %>
</p>

<p>
  <strong>Tanif sixty months:</strong>
  <%= @all_city_program_datum.tanif_sixty_months %>
</p>

<p>
  <strong>Anticipate other income:</strong>
  <%= @all_city_program_datum.anticipate_other_income %>
</p>

<p>
  <strong>Teen parent:</strong>
  <%= @all_city_program_datum.teen_parent %>
</p>

<p>
  <strong>Child in school:</strong>
  <%= @all_city_program_datum.child_in_school %>
</p>

<p>
  <strong>Snap eligibility status:</strong>
  <%= @all_city_program_datum.snap_eligibility_status %>
</p>

<p>
  <strong>All kids eligibility status:</strong>
  <%= @all_city_program_datum.all_kids_eligibility_status %>
</p>

<p>
  <strong>Rta eligibility status:</strong>
  <%= @all_city_program_datum.rta_eligibility_status %>
</p>

<p>
  <strong>Medicaid eligibility status:</strong>
  <%= @all_city_program_datum.medicaid_eligibility_status %>
</p>

<p>
  <strong>Medicare cost sharing eligibility status:</strong>
  <%= @all_city_program_datum.medicare_cost_sharing_eligibility_status %>
</p>

<p>
  <strong>Rental eligibility status:</strong>
  <%= @all_city_program_datum.rental_eligibility_status %>
</p>

<p>
  <strong>Aabd eligibility status:</strong>
  <%= @all_city_program_datum.aabd_eligibility_status %>
</p>

<p>
  <strong>Tanf eligibility status:</strong>
  <%= @all_city_program_datum.tanf_eligibility_status %>
</p>

<%= link_to 'Edit', edit_all_city_program_datum_path(@all_city_program_datum) %> |
<%= link_to 'Back', all_city_program_data_path %>
