<%= form_for(@family_nutrition) do |f| %>
  <% if @family_nutrition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@family_nutrition.errors.count, "error") %> prohibited this family_nutrition from being saved:</h2>

      <ul>
      <% @family_nutrition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nutrition_gross_income %><br>
    <%= f.text_field :nutrition_gross_income %>
  </div>
  <div class="field">
    <%= f.label :nutrition_household_size %><br>
    <%= f.number_field :nutrition_household_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
