<h1>Listing family_nutritions</h1>

<table>
  <thead>
    <tr>
      <th>Nutrition gross income</th>
      <th>Nutrition household size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_nutritions.each do |family_nutrition| %>
      <tr>
        <td><%= family_nutrition.nutrition_gross_income %></td>
        <td><%= family_nutrition.nutrition_household_size %></td>
        <td><%= link_to 'Show', family_nutrition %></td>
        <td><%= link_to 'Edit', edit_family_nutrition_path(family_nutrition) %></td>
        <td><%= link_to 'Destroy', family_nutrition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family nutrition', new_family_nutrition_path %>
