<p id="notice"><%= notice %></p>

<p>
  <strong>Nutrition gross income:</strong>
  <%= @family_nutrition.nutrition_gross_income %>
</p>

<p>
  <strong>Nutrition household size:</strong>
  <%= @family_nutrition.nutrition_household_size %>
</p>

<%= link_to 'Edit', edit_family_nutrition_path(@family_nutrition) %> |
<%= link_to 'Back', family_nutritions_path %>
