%p#notice= notice
%p
  %strong Nutrition gross income:
  = @family_nutrition.nutrition_gross_income
%p
  %strong Nutrition household size:
  = @family_nutrition.nutrition_household_size
= link_to 'Edit', edit_family_nutrition_path(@family_nutrition)
|
\#{link_to 'Back', family_nutritions_path}
