<%= form_for(@laf_center) do |f| %>
  <% if @laf_center.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@laf_center.errors.count, "error") %> prohibited this laf_center from being saved:</h2>

      <ul>
      <% @laf_center.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zipcode %><br>
    <%= f.text_field :zipcode %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :center %><br>
    <%= f.text_field :center %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :contact %><br>
    <%= f.text_field :contact %>
  </div>
  <div class="field">
    <%= f.label :telephone %><br>
    <%= f.text_field :telephone %>
  </div>
  <div class="field">
    <%= f.label :spanish %><br>
    <%= f.text_field :spanish %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
