<p id="notice"><%= notice %></p>

<p>
  <strong>Zipcode:</strong>
  <%= @laf_center.zipcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @laf_center.city %>
</p>

<p>
  <strong>Center:</strong>
  <%= @laf_center.center %>
</p>

<p>
  <strong>Address:</strong>
  <%= @laf_center.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @laf_center.contact %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @laf_center.telephone %>
</p>

<p>
  <strong>Spanish:</strong>
  <%= @laf_center.spanish %>
</p>

<%= link_to 'Edit', edit_laf_center_path(@laf_center) %> |
<%= link_to 'Back', laf_centers_path %>
