<%= form_for(@auto_repair_assistance) do |f| %>
  <% if @auto_repair_assistance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@auto_repair_assistance.errors.count, "error") %> prohibited this auto_repair_assistance from being saved:</h2>

      <ul>
      <% @auto_repair_assistance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :auto_household_size %><br>
    <%= f.number_field :auto_household_size %>
  </div>
  <div class="field">
    <%= f.label :auto_gross_income %><br>
    <%= f.text_field :auto_gross_income %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
