%h1 Listing auto_repair_assistances
%table
  %thead
    %tr
      %th Auto household size
      %th Auto gross income
      %th{:colspan => "3"}
  %tbody
    - @auto_repair_assistances.each do |auto_repair_assistance|
      %tr
        %td= auto_repair_assistance.auto_household_size
        %td= auto_repair_assistance.auto_gross_income
        %td= link_to 'Show', auto_repair_assistance
        %td= link_to 'Edit', edit_auto_repair_assistance_path(auto_repair_assistance)
        %td= link_to 'Destroy', auto_repair_assistance, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Auto repair assistance', new_auto_repair_assistance_path
