<p id="notice"><%= notice %></p>

<p>
  <strong>Auto household size:</strong>
  <%= @auto_repair_assistance.auto_household_size %>
</p>

<p>
  <strong>Auto gross income:</strong>
  <%= @auto_repair_assistance.auto_gross_income %>
</p>

<%= link_to 'Edit', edit_auto_repair_assistance_path(@auto_repair_assistance) %> |
<%= link_to 'Back', auto_repair_assistances_path %>
