= form_for(@dental) do |f|
  - if @dental.errors.any?
    #error_explanation
      %h2
        = pluralize(@dental.errors.count, "error")
        prohibited this dental from being saved:
      %ul
        - @dental.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :dental_gross_income
    %br/
    = f.text_field :dental_gross_income
  .field
    = f.label :dental_household_size
    %br/
    = f.number_field :dental_household_size
  .actions
    = f.submit
