<%= form_for(@dental) do |f| %>
  <% if @dental.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dental.errors.count, "error") %> prohibited this dental from being saved:</h2>

      <ul>
      <% @dental.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :dental_gross_income %><br>
    <%= f.text_field :dental_gross_income %>
  </div>
  <div class="field">
    <%= f.label :dental_household_size %><br>
    <%= f.number_field :dental_household_size %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
