<h1>Listing dentals</h1>

<table>
  <thead>
    <tr>
      <th>Dental gross income</th>
      <th>Dental household size</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dentals.each do |dental| %>
      <tr>
        <td><%= dental.dental_gross_income %></td>
        <td><%= dental.dental_household_size %></td>
        <td><%= link_to 'Show', dental %></td>
        <td><%= link_to 'Edit', edit_dental_path(dental) %></td>
        <td><%= link_to 'Destroy', dental, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dental', new_dental_path %>
