%h1 Listing dentals
%table
  %thead
    %tr
      %th Dental gross income
      %th Dental household size
      %th{:colspan => "3"}
  %tbody
    - @dentals.each do |dental|
      %tr
        %td= dental.dental_gross_income
        %td= dental.dental_household_size
        %td= link_to 'Show', dental
        %td= link_to 'Edit', edit_dental_path(dental)
        %td= link_to 'Destroy', dental, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Dental', new_dental_path
