<div class="container">
  <div class="row">
  <div class="page-header"></div>

      <div class="col-md-8 col-md-offset-2">

        <h3>We would love to know what you think about mRelief: <%= @password %></h3>
        <br>

      <%= form_tag("#") do %>
        <div class="form-group">
          <%= label_tag(:contact_first_name, "First Name") %>
          <%= text_field_tag(:contact_first_name, nil, {:class => "form-control"}) %>
        </div>
        <div class="form-group">
          <!-- <label for="contact_last_name">Last Name</label>
          <input type="text" class="form-control" style="max-width:350px" id="contact_last_name"> -->
          <%= label_tag(:contact_last_name, "Last Name") %>
          <%= text_field_tag(:contact_last_name, nil, {:class => "form-control"}) %>
        </div>
          <div class="form-group">
            <!-- <label for="contact_email">Email</label>
            <input type="email" class="form-control" style="max-width:350px" id="contact_email"> -->
            <%= label_tag(:contact_email, "Email") %>
            <%= email_field_tag(:contact_email, nil, {:class => "form-control"}) %>
          </div>
          <div class="form-group">
            <%= label_tag(:advertising_title, "How did you hear about us") %>
            <%= select_tag(:advertising_options, options_for_select([['None', 1], ['Advertisements', 2], ['At an event', 3], ['Service Center', 4], ['From someone else', 5], ['Internet search', 6], ['Social Media', 7], ['Other', 8]]), {:class => "form-control"}) %>
          </div>
          <div class="form-group">
            <%= label_tag(:feedback, "Your feedback") %>
            <%= text_area_tag(:feedback, nil, {:class => "form-control", :rows => "5"}) %>
          </div>

          <div>
            <%= submit_tag("Submit", :class => "btn btn-primary") %>
          </div>
      <% end %>
      </div>
    </div>

    <div class="divider"></div>
    <br>
    <br>
    <div>
      <p class="subhead">Some ways to get in touch with us</p>
    </div>

    <div style="padding-bottom:100px; text-align:center">
    <a href ="mailto:mrelief.form@gmail.com"><i class="fa fa-envelope-square" style="  margin:30px; font-size:72px"></i></a>
        <a href ="https://plus.google.com/117049110248209318421 "><i class="fa fa-google-plus-square" style="  margin:30px; font-size:72px"></i></a>
        <a href ="https://twitter.com/mrelief_form"><i class="fa fa-twitter-square" style="margin:30px;   font-size:72px"></i></a>
       <a href ="https://www.facebook.com/mRelief"><i class="fa fa-facebook-square" style="  margin:30px; font-size:72px"></i></a>
     </div>

  </div>

  </div>
