
<div class="container">
  <div class="row">
  <div class="page-header"></div>
  <%= notice %>
  <%= alert %>

      <div class="col-md-8">
        <h3>We would love to hear from you!</h3>
      <%= form_tag(contact_index_url) do %>
        <div class="form-group">
          <%= label_tag(:contact_first_name, "First Name") %>
          <%= text_field_tag(:contact_first_name, nil, {:class => "form-control"}) %>
        </div>
        <div class="form-group">
         <!-- <label for="contact_last_name">Last Name</label>
          <input type="text" class="form-control" style="max-width:350px" id="contact_last_name"> -->
          <%= label_tag(:contact_last_name, "Last Name") %>
          <%= text_field_tag(:contact_last_name, nil, {:class => "form-control"}) %>
         </div>
          <div class="form-group">
             <!-- <label for="contact_email">Email</label>
            <input type="email" class="form-control" style="max-width:350px" id="contact_email"> -->
            <%= label_tag(:contact_email, "Email") %>
            <%= email_field_tag(:contact_email, nil, {:class => "form-control"}) %>
           </div>
          <div class="form-group">
            <%= label_tag(:advertising_title, "How did you hear about us?") %>
            <%= select_tag(:advertising_options, options_for_select([['None', 'None'], ['Advertisements', 'Advertisements'], ['At an event', 'At an Event'], ['Community Service Center', 'Community Service Center'], ['From someone else', 'From Someone Else'], ['Internet search', 'Internet Search'], ['Social Media', 'Social Media'], ['Other', 'Other']]), {:class => "form-control"}) %>
           </div>

           <div class="form-group">
            <%= label_tag(:request, "What is your request related to?") %>
            <%= select_tag(:request, options_for_select([['Press', 'Press'], ['Grants/Investment ', 'Grants/Investment '], ['Feedback About the Site', 'Feedback About the Site'], ['A Bug or Problem you Had', 'A Bug or Problem you Had'], ['Something Else', 'Something Else']]), {:class => "form-control"}) %>
           </div>

          <div class="form-group">
            <%= label_tag(:feedback, "Your message") %>
            <%= text_area_tag(:feedback, nil, {:class => "form-control", :rows => "5"}) %>
           </div>

          <div>
            <%= submit_tag("Submit", :class => "btn btn-primary") %>
           </div>
      <% end %>
      </div>
    </div>
    <div>
      <h3>Some ways to get in touch with us</h3>
    </div>

    <div>
      <ul>
        <li><a href ="mailto:mrelief.form@gmail.com">Email</a></li>
        <li><a href ="https://twitter.com/mrelief_form">Twitter</a></li>
        <li><a href ="https://www.facebook.com/mRelief">Facebook</a></li>
      </ul>
     </div>

  </div>

  </div>
