%h1 Listing organizations
%table
  %thead
    %tr
      %th Organization
      %th Name
      %th Url
      %th{:colspan => "3"}
  %tbody
    - @organizations.each do |organization|
      %tr
        %td= organization.organization_id
        %td= organization.name
        %td= organization.url
        %td= link_to 'Show', organization
        %td= link_to 'Edit', edit_organization_path(organization)
        %td= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Organization', new_organization_path
