= form_for(@medicaid) do |f|
  - if @medicaid.errors.any?
    #error_explanation
      %h2
        = pluralize(@medicaid.errors.count, "error")
        prohibited this medicaid from being saved:
      %ul
        - @medicaid.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :medicaid_household_size
    %br/
    = f.number_field :medicaid_household_size
  .field
    = f.label :medicaid_gross_income
    %br/
    = f.text_field :medicaid_gross_income
  .actions
    = f.submit
