<div class="container marquee">
<%= render "layouts/print_button" %>


<!-- User is eligible -->
<% if @eligible == 'yes' %>
  <div class="row">
    <div class="col-md-7">
      <h1>Results: You may be in luck!</h1>
      <p>Based on your household size and income, you likely qualify for Medicaid.</p>

      <div class="resources">
        <h3>Apply for benefits</h3>
        <p>To submit an application on the phone, call 1-800-843-6154.</p>
        <p>To submit an application online, <%= link_to "Click Here.", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid', 'abe', 1);" %> </p>
        <p>To receive Medicaid application assistance, you can can also call the Cook County Health and Hospitals System at 312-864-8200 to get help with the Medicaid application by phone. The phone lines are open Monday – Friday, 8am-8pm and Saturday 8am – 5pm. </p>
      </div>

    </div>
  </div>

<!-- User might be eligible -->
  <% elsif @eligible == 'maybe' %>
    <div class="row">
      <div class="col-md-7">
        <h1>Results: Something else in mind!</h1>
        <p>Based on the information received, we cannot estimate your Medicaid eligibility at this time. Some immigrants may qualify for these programs, but we need more information.  Contact an LAF paralegal at your local Community Service Center below to find out more. </p>

        <p>You can also call 1-866-223-2817 to see if you can qualify for CareLink, a free or low-cost care plan  at the Cook County Health and Hospitals System (CCHHS).  The phone lines are open Monday – Friday, 8am-8pm and Saturday 8am – 5pm.  To talk to a financial counselor in person about the available financial assistance programs or to find the closest CCHHS health center you can also log on to <%= link_to "www.cookcountyhhs.org.", "http://www.cookcountyhhs.org", :class => "  secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid', 'cookcountyhhs', 1);" %>  </p>

        <section class="content-section resources">
          <h3>Resources</h3>
          <% if @laf_disclaimer.present? %>
            <p><%= @laf_disclaimer %></p>
          <% else  %>
         <% end %>
          <%= render 'layouts/community_center' %>
         </section>

          <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>
      </div>
    </div>

<!-- User is inelgible -->
  <% elsif @eligible == 'no' %>
    <div class="row">
      <div class="col-md-7">
        <h1>Results: Something else in mind!</h1>

          <p>Based on your household size and income, you likely do not qualify for Medicaid. But you may qualify for help paying for private health insurance on the Marketplace. Call Get Covered Illinois at 1-866-311-1119 to find out more. The call is free, and they are open Monday – Saturday, 8am-8pm. </p>

          <p>Some families who don’t have health insurance may have to pay a fine to the federal government for being uninsured. <%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'medicaid', 'health_care_fees', 1);" %> to learn more about the fines for not having healthcare coverage.</p>

          <p>If you need a free to low-cost clinic near you, see resources near you below:</p>
      

        <%= render "layouts/purple_binder_resources" %>
      </div>
    </div>
  <% else %>

  <div class="row">
    <div class="col-md-7">
      <p>Looks like you forgot to answer one of the questions. Please go back and make sure you answered all questions!</p>
    </div>
  </div>

<% end %>

</div>

<%= render "layouts/conversion_tracking" %>
