<div class="container marquee">
<%= render "layouts/print_button" %>


<!-- User is eligible -->
<% if @eligible == 'yes' %>

  <div class="row">
    <div class="col-md-7">
      <h1>Results: You may be in luck!</h1>
      <p>Based on your household size and income, you likely qualify for Medicaid</p>

      <div class="resources">
        <h3>Apply for benefits</h3>
        <p>You can call 1 (866) 311-1119 for your coverage options.</p>
        <p>To apply online, <%= link_to "Click Here", "https://abe.illinois.gov/abe/access/jsp/access/Home.jsp", :class => "  secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid', 'abe', 1);" %>. </p>
        <p>To further pursue your Medicaid application you can also call the county care line (312-864-8200). If you already have a doctor, be sure to confirm they transfer over.</p>
      </div>

      </div>
    </div>

<!-- User might be eligible -->
  <% elsif @eligible == 'maybe' %>

      <div class="row">
        <div class="col-md-7">
          <h1>Results: Something else in mind!</h1>
          <p>Based on the information received, we cannot determine your eligibility at this time. You may need to discuss your situation with a Medicaid expert that can share more information on your probable eligibility. A Legal Assistance Foundation (LAF) Paralegal near you can discuss your Medicaid eligibility with you.</p>

          <section class="content-section resources">
            <h3>Resources</h3>
            <% if @laf_disclaimer.present? %>
              <p><%= @laf_disclaimer %></p>
            <% else  %>
           <% end %>
            <%= render 'layouts/community_center' %>
           </section>

            <%= image_tag("LAFlogo.jpg", :class => "img-responsive") %>
        </div>
      </div>

<!-- User is inelgible -->
  <% elsif @eligible == 'no' %>


      <div class="row">
        <div class="col-md-7">
          <h1>Results: Something else in mind!</h1>
          <p>Based on your household size and income, you likely do not qualify for Medicaid.</p>
          <p>However, if you and your family don't have health coverage in 2014, you may have to pay a fee -- and all of your health care.</p>

          <div class="resources">
            <h3>Resources</h3>
            <p><%= link_to "Click Here", "https://www.healthcare.gov/what-if-i-dont-have-health-coverage/", :class => "secondary-link", :target => "_blank",:onclick => "ga('send', 'event', 'button', 'medicaid', 'health_care_fees', 1);" %> to learn more about fees.</p>

            <p>Get Covered Illinois is a resource that helps families register for insurance at in-person events.</p>

            <p><%= link_to "Click Here", "http://getcoveredillinois.gov/events", :class => "secondary-link", :target => "_blank", :onclick => "ga('send', 'event', 'button', 'medicaid', 'get_covered_illinois', 1);" %> to find Get Covered Illinois events in your area.</p>

            <p>You can also call 1 (866) 311-1119: (Open Monday - Saturday, 8am - 8pm) to discuss your next steps.</p>
          </div>

          <%= render "layouts/purple_binder_resources" %>

        </div>
    </div>
  <% else %>

  <div class="row">
    <div class="col-md-7">
      <p>Looks like you forgot to answer one of the questions. Please go back and make sure you answered all questions!</p>
    </div>
  </div>

<% end %>

</div>
<br>
<br>
<br>
<br>
