<h1>Listing medicaids</h1>

<table>
  <thead>
    <tr>
      <th>Medicaid household size</th>
      <th>Medicaid gross income</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @medicaids.each do |medicaid| %>
      <tr>
        <td><%= medicaid.medicaid_household_size %></td>
        <td><%= medicaid.medicaid_gross_income %></td>
        <td><%= link_to 'Show', medicaid %></td>
        <td><%= link_to 'Edit', edit_medicaid_path(medicaid) %></td>
        <td><%= link_to 'Destroy', medicaid, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Medicaid', new_medicaid_path %>
