<div class= "container">
  <section class="content-section marquee">
    <div class="row">
      <div class="col-md-12">
        <h1>Medicaid</h1>
        <p> If you are an adult (19 and over) and a resident in the state of Illinois, you may qualify for Medicaid. At the current moment, this form does not include Medicaid's offerings for people with disabilities. However, we are working to make this form more inclusive. Check back soon for more updates.</p>
      </div>
    </div>
  </section>


  <section class="content-section">
  <div class="row">
  <div class="col-md-8 col-sm-6 col-xs-12">
  <form action="/medicaids" class="form-horizontal" method="post">

    <!-- Form for citizen question -->
      <%= render "programs/citizen_question" %>

    <!-- Form for household size -->
      <div class="row">
        <div class="col-md-9 col-sm-10 col-xs-12">
          <label for="medicaid_household_size">What is your household size?</label>
            <p type="button" data-toggle="popover" data-content="The number of people living in your house including yourself" data-placement="right" style="border: 0px; color: #4582ec;">
            <input type="text" id="medicaid_household_size" name="medicaid_household_size" placeholder="For example: 3" class="form-field"  value="<%= @current_user.try(:household_size) %>"  required>
            </p>
        </div>
       </div>

      <!-- Form for gross monthly income -->
        <div class="row">
          <div class="col-md-9 col-sm-10 col-xs-12">
            <label for="medicaid_gross_income"> What is your monthly income?</label>
              <p type="button" data-toggle="popover" data-content="Monthly income includes wages, Social Security, SSI, pensions, rental income, unemployment, worker's compensation, or other disability payments." data-placement="right" style="border: 0px; color: #4582ec;">
              <input type="text" id="medicaid_gross_income" name="medicaid_gross_income" placeholder="For example: 3000" class="form-field" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %>" required>
              </p>
          </div>
        </div>

      <!-- Form for zipcode -->
        <%= render "programs/zipcode_question" %>

      <!-- Form for location question -->
        <%= render "programs/location_question" %>

      <!-- Form for cellphone question -->
        <%= render "programs/cellphone_question" %>

      <!-- Submit button -->
        <%= render "programs/submit_button" %>

  </form>
  </div>

  <div class="col-md-3 sm-3 xs-12 pull-left">
    <div class="calculator_box">
      <%= render "programs/calculator" %>
    </div>
  </div>

  </div>
</section>
</div>

