<div class= "container">
  <section class="content-section">
    <div class="row">
      <div class="col-md-12">
        <h1>Medicaid</h1>
        <p> If you are an adult (19 and over) and a resident in the state of Illinois, you may qualify for Medicaid. At the current moment, this form does not include Medicaid's offerings for people with disabilities. However, we are working to make this form more inclusive. Check back soon for more updates.</p>
      </div>
    </div>
  </section>


<section class="content-section">
  <form action="/medicaids" class="form-horizontal" method="post">

    <!-- Form for citizen question -->
      <%= render "programs/citizen_question" %>

    <!-- Form for household size -->
      <div class="row">
        <div class="col-md-5">
          <label for="medicaid_household_size">What is your household size?</label>
            <input type="text" id="medicaid_household_size" name="medicaid_household_size" placeholder="For example: 3" class="form-field"  value="<%= @current_user.try(:household_size) %>"  required>
        </div>
       </div>

      <!-- Label and input for medicaid_gross_income -->
        <div class="row">
          <div class="col-md-5">
            <label for="medicaid_gross_income"> What is your monthly income?</label>
              <input type="text" id="medicaid_gross_income" name="medicaid_gross_income" placeholder="For example: 30000" class="form-field" value="<%= number_with_precision(@current_user.try(:gross_income), precision: 0) %> " required>
          </div>
        </div>

      <!-- Form for zipcode -->
        <%= render "programs/zipcode_question" %>

      <!-- Form for location question -->
        <%= render "programs/location_question" %>

      <!-- Form for cellphone question -->
        <%= render "programs/cellphone_question" %>

      <!-- Submit button -->
        <%= render "programs/submit_button" %>

</form>
</section>
 <!--  <div class="col-md-3 sm-3 xs-12 pull-left">
     <div class="calculator_box">
       <%#= render "programs/calculator" %>
     </div>
   </div> -->


</div>

<script>
  $(document).ready(function() {

    //this is the map scroll down thing
    $(window).scroll(function() {
      if($(this).scrollTop() > 310 && $(this).width() > 750) {
        $('.calculator_box').addClass('sticky_calculator');
      } else {
        $('.calculator_box').removeClass('sticky_calculator');
      }
    });

    $(window).scroll(function() {
      if($(this).scrollTop() < 310) {
        $('.calculator_box').removeClass('sticky_calculator');
      }
    });

    $(window).scroll(function() {
      if($(this).width() < 750) {
        $('.calculator').removeClass('sticky_calculator');
      }
    });

    $(function ()
      { $("[data-toggle='popover']").popover();
     });
     $('body').on('click', function (e) {
        $('[data-toggle="popover"]').each(function () {
            //the 'is' for buttons that trigger popups
            //the 'has' for icons within a button that triggers a popup
            if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                $(this).popover('hide');
            }
        });
    });
  });
  </script>

