%p#notice= notice
%p
  %strong Medicaid household size:
  = @medicaid.medicaid_household_size
%p
  %strong Medicaid gross income:
  = @medicaid.medicaid_gross_income
= link_to 'Edit', edit_medicaid_path(@medicaid)
|
\#{link_to 'Back', medicaids_path}
