
<% if @lafcenter.center == "Garfield Community Service Center" %>
  <% @zipcode = 60612 %>
<% elsif @lafcenter.center == "Englewood Community Service Center" %>
  <% @zipcode = 60620 %>
<% elsif @lafcenter.center == "North Area Community Service Center" %>
  <% @zipcode = 60640 %>
<% elsif @lafcenter.center == "King Community Service Center" %>
  <% @zipcode = 60653 %>
<% elsif @lafcenter.center == "South Chicago Community Service Center" %>
  <% @zipcode = 60617 %>
<% elsif @lafcenter.center == "Trina Davila" %>
  <% @zipcode = 60639 %>
<% else %>
  <% @zipcode = @lafcenter.zipcode.to_i %>
<% end %>

<div class="laf-list">
  <ul>
    <li class="laf-headline"><%= @lafcenter.center %></li>
    <li><%= @lafcenter.address %> <%= @lafcenter.city %>, <%= @zipcode %> </li>
    <li><%= @lafcenter.telephone %></li>
    <br>
    <li>Days that Spanish speaking staff are available:
      <p><em><%= @lafcenter.spanish %></em></p>
      <p>A phone translation system is also available on site.</p>
    </li>
  </ul>
</div>
