<div class="laf-list">
  <ul>
    <li class="laf-headline"><%= @lafcenter.center %></li>
    <li><%= @lafcenter.address %> <%= @lafcenter.city %>, <%= @lafcenter.zipcode.to_i %> </li>
    <li><%= @lafcenter.telephone %></li>
    <br>
    <li>Days that Spanish speaking staff are available:
      <p><em><%= @lafcenter.spanish %></em></p>
      <p>A phone translation system is also available on site.</p>
    </li>
  </ul>
</div>
