<div class="row content-section">
  <div class="col-md-12">


  <% if request.path == "/medicaids" %>
  <a> <%= link_to "← Back", new_medicaid_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a>
  
  <% elsif request.path == "/snap_eligibilities" %>
    <a><%= link_to "← Back", new_snap_eligibility_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/rta_free_rides" %>
    <a><%= link_to "← Back", new_rta_free_ride_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 
  
  <% elsif request.path == "/rental_assistances" %>
    <a><%= link_to "← Back", new_rental_assistance_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 
  <% elsif request.path == "/all_kids" %>
    <a><%= link_to "← Back", new_all_kid_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/medicare_cost_sharings" %>
    <a><%= link_to "← Back", new_medicare_cost_sharing_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/aabd_cashes" %>
    <a><%= link_to "← Back", new_aabd_cash_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/tanifs" %>
    <a><%= link_to "← Back", new_tanif_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/all_city_programs" %>
   <a><%= link_to "← Back", new_all_city_program_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a>  

  <% elsif request.path == "/wics" %>
    <a><%= link_to "← Back", new_wic_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/child_care_vouchers" %>
    <a><%= link_to "← Back", new_child_care_voucher_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/early_head_starts" %>
    <a><%= link_to "← Back", new_early_head_start_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/head_starts" %>
    <a><%= link_to "← Back", new_head_start_path(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 

  <% elsif request.path == "/early_learning_programs_results" %>
   <!--  <a><%#= link_to "← Back", early_learning_url(data: @d_json), :class => "previous pull-left", onclick: "onClick()" %></a> 
 -->
 
  <% else %>
<!--     <a><%#= link_to "← Back", :back, :class => "previous pull-left", onclick: "onClick()" %></a> 
 -->  <% end %>

  <% if controller_name == "snap_eligibilities" && (action_name == "create") %>
    <a href="#" class="secondary-link pull-right" onclick="onSnapPrint();">Print this page</a>
  <% else %>
    <a href="#" class="secondary-link pull-right" onclick="onPrint();">Print this page</a>
 <% end %>
  </div>
</div>

<!-- function that puts the text below  -->

<script type="text/javascript">

var onSnapPrint = function(){

  $('.place_for_documents').empty();
  $('.place_for_documents').append("<%= escape_javascript(render "snap_eligibilities/snap_documents") %>");

  //incase the user is printing for the second time
  $('.income_explanation_row').remove();
  $('.citizenship_explanation_row').remove();
  $('.education_explanation_row').remove();

  // add ids
  $("<tr class=\"income_explanation_row\"><td></td><td id='print_income'></td><td></td></tr>").insertAfter('#income_row');
  $("<tr class=\"citizenship_explanation_row\"><td></td><td id='print_citizenship'></td><td></td></tr>").insertAfter('#citizenship_row');
  $("<tr class=\"education_explanation_row\"><td></td><td id='print_education'></td><td></td></tr>").insertAfter('#education_row');

  //get the explanations
  income_explanation = $("#income_explanation p")
  citizenship_explanation = $("#citizenship_explanation p")
  education_explanation = $("#education_explanation p")

  // insert relevant explanations into the row
  $(income_explanation[0]).clone().appendTo('#print_income');
  $(citizenship_explanation[0]).clone().appendTo('#print_citizenship');
  $(education_explanation[0]).clone().appendTo('#print_education');


  window.print();
  return false;

};

var onPrint = function () {
    window.print();
  return false;
};
</script>
