!!!
%html{:lang => "es"}
  %head
    %meta{:charset => "utf-8"}/
    %title mRelief
    %script{:src => "//use.typekit.net/jay0smv.js"}
    :javascript
      try{Typekit.load();}catch(e){}
    %link{:href => "//netdna.bootstrapcdn.com/bootswatch/3.1.1/readable/bootstrap.min.css", :rel => "stylesheet"}/
    %link{:href => "//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "assets/sitestyles.css", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.9.3/typeahead.min.js"
    = csrf_meta_tags
    %script{:src => "//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
  %body
    %nav.navbar.navbar-default.navbar-fixed-top{:role => "navigation"}
      / Brand and toggle get grouped for better mobile display
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
          %a.navbar-brand.logo{:href => "/"} mRelief
        / Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              %a{:href => "/programs"}= t.layouts.programs | "Programs"
            %li
              %a{:href => "/how_mrelief_works"}= t.layouts.how_mrelief | "How Mrelief Works"
            %li
              %a{:href => "/about_us"}= t.layouts.about_us | "About Us"
            %li
              %a{:href => "/contact"}= t.layouts.contact_us | "Contact Us"
            %li
              %a{:href => "/press_release"}= t.layouts.press_release | "Press Release"
            %li
              - if I18n.locale == :es
                = link_to "English", set_language_english_path
              - elsif I18n.locale = :en
                = link_to "Español", set_language_spanish_path
            %li
              %a.btn-donate{"data-placement" => "bottom", "data-toggle" => "tooltip", :href => "https://goodcitychicago.org/donate/", :title => I18n.t("layouts.please_select", :default => "Please select &ldquo;mRelief&rdquo; on the program section")}= t.layouts.donate | "Donate"
      - if notice.present?
        .alert.alert-dismissable.alert-success
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          = notice
      - if alert.present?
        .alert.alert-dismissable.alert-warning
          %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
          = alert
    .container
      = yield
    %footer.navbar-default.footer{:role => "navigation"}
      .container
        .col-md-10.col-sm-12.col-xs-12
          %p#disclaimer= t.layouts.disclaimer | "*mRelief does not predict with 100% accuracy whether users will definitely be approved for benefits; but instead provides users with information about whether it is worth it to invest the time required for the application process. However, we are working to make our forms more inclusive everyday. If you are undocumented, a legal permanent resident, or have a very specific case, our system refers you to paralegals who can help. Stay tuned for more updates!"
    = render "layouts/google_analytics"


:css
  @media (max-width: 1200px) {
      .navbar-header {
          float: none;
      }
      .navbar-toggle {
          display: block;
      }
      .navbar-collapse {
          border-top: 1px solid transparent;
          box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
      }
      .navbar-collapse.collapse {
          display: none!important;
      }
      .navbar-nav {
          float: none!important;
          margin: 7.5px -15px;
      }
      .navbar-nav>li {
          float: none;
      }
      .navbar-nav>li>a {
          padding-top: 10px;
          padding-bottom: 10px;
      }
      .navbar-text {
          float: none;
          margin: 15px 0;
      }
      /* since 3.1.0 */
      .navbar-collapse.collapse.in { 
          display: block!important;
      }
      .collapsing {
          overflow: hidden!important;
      }
    
  }
